<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
	<div class="container" layout:fragment="content">
		<ul class="breadcrumb">
			<li><a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a></li>
			<li><a th:href="@{/seller}">供应商用户管理</a></li>
			<li class="active" th:text="${account.id}?'用户详细':'新建用户'"></li>
		</ul>
		<div class="btn-group-bar">
			<div class="text-right">
				<a class="btn btn-primary" id="save"><i class="fa fa-save"></i> 保存</a> 
				<a class="btn btn-danger" id="del" th:if="${account.id}"><i class="fa fa-remove"></i> 删除</a> 
				<a class="btn btn-default" th:href="@{/seller}"><i class="fa fa-arrow-left"></i> 返回列表</a>
			</div>
		</div>
		<form id="form" th:action="@{/seller/update}" method="post">
			<input type="hidden" id="id" name="id" th:value="${account.id}"> 
			<input type="hidden" id="vendor" name="vendor" th:value="${account.vendor?.code}"> 
			
			<div class="panel panel-default">
				<div class="panel-body form-body">
					<div class="row">
						<div class="col-md-3 form-group">
							<label for="username">用户名: </label> <input type="text" name="username" id="username" class="form-control" th:value="${account.username}" readonly>
						</div>
						<div class="col-md-3 form-group">
							<label for="init_password">初始密码： </label> <input type="text" class="form-control" th:value="111" readonly>
						</div>
						<div class="col-md-2 form-group">
							<label for="state">状态: </label>
							<div class="ui toggle checkbox">
								<input type="checkbox" class="form-control" name="state" value="1" th:checked="${account.state}"> <label>启用 / 停用</label>
							</div>
						</div>
						<div class="col-md-2 form-group">
							<label for="start_date">启用日期: </label> <input type="text" class="form-control" readonly th:value="${#dates.format(account.startDate, 'yyyy-MM-dd')}">
						</div>
						<div class="col-md-2 form-group">
							<label for="stop_date">停用日期:</label> <input type="text" class="form-control" readonly th:value="${#dates.format(account.stopDate, 'yyyy-MM-dd')}">
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-md-3">
							<label>供应商编码: </label> <input type="text" name="code" id="vendor_code" class="form-control select-vendor" readonly th:value="${account.vendor.code}" />
						</div>
						<div class="col-md-3">
							<label>供应商名称: </label> <input type="text" id="vendor_name" class="form-control select-vendor" readonly th:value="${account.vendor.name}" />
						</div>
						<div class="col-md-3">
							<label>供应商简称: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>所属地区: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>所属类别: </label> <input type="text" id="vendor_sort_code" class="form-control" readonly th:value="${account.vendor.sortCode}" />
						</div>
						<div class="col-md-3">
							<label>供货类别: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>供应商总公司: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>所属行业: </label> <input type="text" id="vendor_industry" class="form-control" readonly th:value="${account.vendor.industry}" />
						</div>
						<div class="col-md-3">
							<label>对应客户: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>币种: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>税号: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>注册资金: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>开户银行: </label> <input type="text" id="vendor_bank_open" class="form-control" readonly th:value="${account.vendor.bankOpen}" />
						</div>
						<div class="col-md-3">
							<label>银行账号: </label> <input type="text" id="vendor_bank_acc_number" class="form-control" readonly th:value="${account.vendor.bankAccNumber}" />
						</div>
						<div class="col-md-3">
							<label>法人: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>税率: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>分管部门: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>专营业务员: </label> <input type="text" id="vendor_contact" class="form-control" readonly th:value="${account.vendor.contact}" />
						</div>
						<div class="col-md-3">
							<label>电话: </label> <input type="text" id="vendor_phone" class="form-control" readonly th:value="${account.vendor.phone}" />
						</div>
						<div class="col-md-3">
							<label>传真: </label> <input type="text" id="vendor_fax" class="form-control" readonly th:value="${account.vendor.fax}" />
						</div>
						<div class="col-md-3">
							<label>手机: </label> <input type="text" id="vendor_mobile" class="form-control" readonly th:value="${account.vendor.mobile}" />
						</div>
						<div class="col-md-3">
							<label>呼机: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>邮政编码: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>联系人: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>Email地址: </label> <input type="text" id="vendor_email" class="form-control" readonly th:value="${account.vendor.email}" />
						</div>
						<div class="col-md-3">
							<label>结算方式: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-6">
							<label>地址: </label> <input type="text" id="vendor_address" class="form-control" readonly th:value="${account.vendor.address}" />
						</div>
						<div class="col-md-3">
							<label>到货方式: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>到货仓库: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-6">
							<label>到货地址: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>建档人: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>建档日期: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>变更人: </label> <input type="text" id="vendor_abbrname" class="form-control" readonly th:value="${account.vendor.abbrname}" />
						</div>
						<div class="col-md-3">
							<label>变更日期: </label> <input type="text" id="vendor_timestamp" class="form-control" readonly th:value="${account.vendor.timestamp}" />
						</div>
					</div>
				</div>
			</div>
		</form>
</body>
</html>
<script th:inline="javascript">
	var edit_url = /*[[@{/seller/}]]*/'';

  var table;

  jQuery(document).ready(function() {
	  var is_add = $("#id").val().length == 0;

	  $("#save").click(function() {
		  jQuery(form).ajaxSubmit({
		    beforeSend : function() {
			    App.blockUI();
		    },
		    complete : function() {
			    App.unblockUI();
		    },
		    success : function(res, status, xhr, form) {
			    if (res.success == 1) {
				    App.showSuccessDialog("操作成功", function() {
					    window.location.href = edit_url + res.data.id + "/edit";
				    });
			    } else {
				    App.showErrorDialog("操作失败", res.errmsg);
			    }
		    },
		    error : function(res, status, xhr, form) {
			    App.showErrorDialog("操作失败", "请输入正确的值");
		    }
		  });
	  });

	  $("#del").click(function() {
		  App.showConfirmDialog('确定要删除吗?', function() {
			  var del_url = edit_url + $("#id").val() + "/delete";
			  $.get(del_url, function(data, status) {
				  App.showSuccessDialog("操作成功", function() {
					  window.location.href = edit_url;
				  });
			  });
		  });
	  });
  });
</script>
