<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li th:if="${#strings.startsWith(#request.requestURI,'/ship/index')}">订单管理</li>
        <li class="active" th:if="${#strings.startsWith(#request.requestURI,'/ship/index')}">订单发货</li>
        <li class="active" th:if="${#strings.startsWith(#request.requestURI,'/ship/view')}">出货看板</li>
      </ul>
      <div class="search-content">
          <div class="search-cell width-10">
            <label for="code">订单号码：</label>
            <input type="text" id="code" class="form-control">
          </div>
          <div class="search-cell width-10" id="vendor_div">
            <label for="vendor">供应商编码/名称：</label>
            <input type="text" id="vendor" class="form-control">
          </div>          
          <div class="search-cell width-10">
            <label for="inventory">商品编码/名称：</label>
            <input type="text" id="inventory" class="form-control">
          </div>
          <div class="search-cell width-10">
            <label for="arrive_date">需求日期: </label>
            <input type="text" id="arrive_date" value="" class="form-control datepicker" />
          </div>
          <div class="search-cell width-10">
            <label for="confirm_date">承诺日期</label>
            <input type="text" id="confirm_date" value="" class="form-control datepicker" />
          </div>
          <div style="vertical-align: bottom" class="search-cell width-15">
            <button class="btn btn-default" id="btn_search"><i class="fa fa-search"></i> 查询</button>
            <button sec:authorize="hasRole('ROLE_VENDOR')" th:if="${#strings.startsWith(#request.requestURI,'/ship/index')}" class="btn btn-primary" id="save"><i class="fa fa-save"></i> 保存</button>
            <button sec:authorize="hasRole('ROLE_VENDOR')" th:if="${#strings.startsWith(#request.requestURI,'/ship/index')}" class="btn btn-default" id="export"><i class="fa fa-level-down"></i> 导出</button>
            <button sec:authorize="hasRole('ROLE_VENDOR')" th:if="${#strings.startsWith(#request.requestURI,'/ship/index')}" class="btn btn-default" id="import"><i class="fa fa-level-up"></i> 导入</button>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
            </table>
        </div>
      </div>
      <form id="export_form" th:action="@{/ship/export}" method="post">
        <input type="hidden" id="export_data" name="export_data"/>
      </form> 
      <form id="save_form" th:action="@{/ship/save}" method="post">        
      </form>     
      <div class="modal fade" id="import_dialog" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                                                      选择导入Excel文档
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      </button>
                  </div>
                  <div class="modal-body">
                      <form id="import_form" th:action="@{/ship/import}" method="post" enctype="multipart/form-data">
                        <input type="file" id="import_file" name="import_file"/>
                      </form>  
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                      <button type="button" class="btn btn-primary" id="start_import">导入</button>
                  </div>
              </div>
          </div>
      </div> 
  </div>  
</body>
</html>
<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR')">
is_vendor = 1;
</script>

<script th:inline="javascript">
/*[+
  
var import_result = [[${#vars['message']}]];  
var importUrl = [[@{/ship/import}]];  
var editable = [[${#strings.startsWith(#request.requestURI,'/ship/index')?true:false}]];
var change_quantity_url = [[@{/ship/change}]];
var list_url = [[@{/ship/list}]];
var today = [[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]];
+]*/ 
var changedRows = [];

$(document).ready(function() {
  
  
  
  $(".datepicker").datepicker({
    onSelect: function(dateText) {
      table.draw();
    }
  });

  if (is_vendor){
    $('#vendor_div').addClass('hidden');
  }
  
  if (import_result != undefined){
    App.showSuccessDialog(import_result);
  }
    
  var editor = new $.fn.dataTable.Editor( {
    table: "#example",  
    idSrc: "id",
    //template: '#customForm',
    fields: [ {
      attr: {
        type: "number"
      },
      name: "today_quantity"     
    },{      
      attr: {
        type: "number"
      },
      name: "remain_quantity"  
    }],
  }).on( 'preSubmit', function ( e, data, action ) {
  }).on( 'postEdit', function ( e, data, action ) {
    changedRows.push(data.data[0]);
  }).on( 'postSubmit', function ( e, json, data, action ) {
  });
  
  var table = $('#example').DataTable({
    ordering : true,
    select: editable,
    ajax : {
        url : list_url,
        data : function(data) {
          var filter = {
            order : data.columns[data.order[0].column].data,
            dir : data.order[0].dir,
            rows_per_page : data.length,
            page_index : data.start / data.length + 1,
            inventory : $('#inventory').val(),
            code : $('#code').val(),
            confirm_date : $('#confirm_date').val(),
            arrive_date : $('#arrive_date').val()
          }
          return filter;
        },
        dataSrc : function(json) {
          $.each(json, function(key, item){
            item.today_quantity = '';
          });
          json.recordsTotal = json.totalElements;
          json.recordsFiltered = json.totalElements;
          return json.content;
        },              
    },
    
    columns : [ {
      data : 'code',
      title : '订单号',
    }, {
      data : 'rowno',
      className: 'dt-center',
      title : '订单行号',
    }, {
      data : 'vendorname',
      visible: !is_vendor,
      title : '供应商名称',
    }, {
      data : 'vendorcode',
      visible: !is_vendor,
      title : '供应商编码',
    }, {
      data : 'inventorycode',
      title : '商品编码',              
    }, {
      data : 'inventoryname',
      title : '商品名称',
    }, {
      data : 'specs',
      title : '商品描述',
    }, {
      data : 'unitname',
      className: 'dt-center',
      title : '单位',
    }, {
      data : 'quantity',
      className: 'dt-right',
      title : '数量',
    }, {
      data : 'lastshipdate',
      className: 'dt-center',
      title : '最新预发货日期',
      render: $.fn.date_renderer,
    }, {
      data : 'shipped_quantity',
      className: 'dt-right',
      title : '最新预发货数量',    
    }, {
      data : null,
      className: 'dt-center',
      visible: editable,
      orderable: false,
      title : '本次预发货日期',
      defaultContent: today
    }, {
      data : 'today_quantity',
      className: 'dt-right edit-cell',
      visible: editable,
      orderable: false,
      title : '本次预发货数量',
      defaultContent: '',
    }, {
      data : 'remain_quantity',
      className: 'dt-right edit-cell',
      title : '未交数量',               
    }, {
      data : 'arrivedate',
      className: 'dt-center',
      title : '需求日期',
      render: $.fn.date_renderer,
    }, {
      data : 'arrivenote',
      title : '备注',
    }, {
      data : 'confirmdate',
      className: 'dt-center',
      title : '承诺交货日期',
      render: $.fn.date_renderer,
    }, {
      data : 'confirmnote',
      title : '供方备注',
    } ],
    order: [ [14, 'desc'] ],
    createdRow: function ( row, data, index ) {
      if ( (new Date(data.confirmdate)).getTime() < (new Date()).getTime() && data.remain_quantity>0) {
        $('td', row).eq(editable?11:9).addClass('red');
      }
    }
  });
    
  if (editable){
    table.on( 'click', 'tbody td.edit-cell', function (e) {
      editor.inline( this, { submit: 'allIfChanged', submitOnBlur: true, drawType: 'none' });
    } );
    App.addKeyDownEditor(editor, 10, 10);
  }
  
  $("#btn_search").click(function() {
    table.draw();
  });

  $("#import").click(function() {
    $('#import_dialog').modal('show');
  });

  $('#start_import').click(function(){
    if (!$('#import_file').val()){
      App.showErrorDialog("请选择Excel文档！");
      return;
    }
    $('#import_form').submit();
    $('#import_dialog').modal('hide');//modal_1 is the id 1
  });

  $('#save').click(function() {
    editor.submit();

    if (changedRows.length == 0){
      App.showErrorDialog("操作失败", "请输入本次预发货数量");
      return;
    }
    
    var post_data = {};
    $.each(changedRows, function(key, item){
      if (item.today_quantity){
        post_data[item.id] = item.today_quantity;  
      }      
    });
    $('#save_form').ajaxSubmit({
      data:post_data,
      success: function(res, status, xhr, form) {
        changedRows = [];
        App.showSuccessDialog("操作成功", function(){
          window.location.reload(true);
        });
      },
      error: function (res, status, xhr, form) {
        App.showErrorDialog("操作失败", "请输入正确的值");
      }
    });
  });
  
  $("#export").click(function() {
    
    var order = table.order();
    var selected_data = table.rows('.selected').data().toArray();
    
    if (selected_data.length == 0) {
      App.showErrorDialog("请选择至少一行数据！");
      return;
    }
    
    var export_list = [];
    $.each(selected_data, function(key, item){
      export_list.push(item.id);        
    });
    
    var post_data = {
        order: "code",
        dir: "asc",
        inventory : $('#inventory').val(),
        code : $('#code').val(),
        list:export_list,          
    };
    
    $('#export_data').val(JSON.stringify(post_data));
    $('#export_form').submit();
  });

  $('#code, #inventory, #arrive_date, #confirm_date').keyup(function(e) {
    if (e.keyCode == 13)
      table.draw();
  });
});
</script>