<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
 
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li><a th:href="@{/notice}">公告通知</a></li>
      <li class="active" th:text="${#strings.contains(#request.requestURI,'add')} ?'新建公告通知':'公告通知详细'"></li>
    </ul>
    <div class="btn-group-bar">
      <div class="text-right">
        <a class="btn btn-primary" sec:authorize="hasAuthority('公告通知-新建') and (hasRole('ROLE_BUYER') or hasRole('ROLE_ADMIN'))" th:if="${notice.createAccount?.id==session.account_id and (notice.state==1  || notice.state==4)}" id="save"><i class="fa fa-save"></i> 保存</a>
        <a class="btn btn-primary" sec:authorize="hasAuthority('公告通知-新建') and (hasRole('ROLE_BUYER') or hasRole('ROLE_ADMIN'))" th:if="${notice.createAccount?.id==session.account_id and (notice.state==1  || notice.state==4)}" id="submit"><i class="fa fa-share"></i> 提交</a>
        <a class="btn btn-primary" sec:authorize="hasAuthority('公告通知-新建') and (hasRole('ROLE_BUYER') or hasRole('ROLE_ADMIN'))" th:if="${notice.createAccount?.id==session.account_id and notice.id !=null and (notice.state==1  || notice.state==4)}" id="delete"><i class="fa fa-remove"></i> 删除</a>
        <a class="btn btn-primary" sec:authorize="hasAuthority('公告通知-发布')" th:if="${notice.state==2}" id="verify"><i class="fa fa-check-square"></i> 发布</a>
        <a class="btn btn-primary" sec:authorize="hasAuthority('公告通知-发布')" th:if="${notice.state==2}" id="cancel"><i class="fa fa-undo"></i> 退回</a>
        <a class="btn btn-default" th:href="@{/notice}"><i class="fa fa-arrow-left"></i> 返回</a>
      </div>
    </div>
    
    
    <form id="form" th:action="@{/notice/update}" method="post" enctype="multipart/form-data">  
    <input type="hidden" id="id" name="id" th:value="${notice.id}">
    <input type="hidden" id="account_list" name="account_list">
    <div class="panel panel-default">
      <div class="panel-body form-body"> 
        <div class="row">
          <div class="col-lg-10 col-md-10 form-group">
            <label for="title">标题: </label>
            <input type="text" name="title" id="title" class="form-control" th:value="${notice.title}">
          </div>
          <div class="col-lg-2 col-md-2 form-group">
            <label for="title">状态: </label>
            <select type="text" id="state" name="state" class="form-control" readonly></select>
          </div>                    
          
          <div class="col-lg-12 col-md-12 form-group">
            <label for="content">内容: </label>
            <textarea name="content" id="content" class="form-control" rows=5 th:text="${notice.content}"></textarea>
          </div>

          <div class="col-lg-8 col-md-8 form-group" id="file_select" th:if="${(notice.state==1 or notice.state == 4) and notice.attachFileName == null}">
            <div class="input-group input-file" name="attach">
              <span class="input-group-btn">
                <button class="btn btn-success btn-file btn-choose" type="button">选择附件</button>
              </span>
              <input type="text" class="form-control" placeholder='请选择附件' />
              <span class="input-group-btn">
                 <button class="btn btn-warning btn-file btn-reset" type="button">重置</button>
              </span>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 form-group" id="file_show" th:if="!${(notice.state==1 or notice.state == 4) and notice.attachFileName == null}">
            <div>
              <a th:href="@{|/notice/${notice.id}/download|}" th:if="${notice.attachFileName}" th:text="${notice.attachOriginalName}"></a>
              <span th:if="!${notice.attachFileName}"><b>附件：</b>---</span>              
              <a class="btn btn-danger" id="del_attach" th:if="${notice.createAccount?.id==session.account_id and (notice.state==1  || notice.state==4)}">删除附件</a>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 form-group">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="to_all_vendor" id="to_all_vendor" value="1" th:checked="${notice.toAllVendor}">
              <label>全部供应商</label>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 form-group">
            <div class="ui toggle checkbox">
              <input type="checkbox" id="to_unit_account" name="to_unit_account" value="1" th:checked="${notice.toUnitAccount}">
              <label>内部人员</label>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 form-group" id="vendor_div">
            <label for="vendor_list">供应商列表: </label>
            <textarea id="vendor_list" rows="5" name="vendor_list" th:text="${vendorList}" class="form-control"></textarea>
          </div>
          <div class="col-lg-12 col-md-12 form-group" id="account_div">
            <label for="state">内部人员列表：</label>
            <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
            </table>
          </div>
          <div class="col-lg-3 col-md-3 form-group">
            <label for="title">创建人: </label>
            <input type="text" class="form-control" readonly th:value="${notice.createAccount?.realname}">
          </div>
          <div class="col-lg-3 col-md-3 form-group">
            <label for="title">创建时间: </label>
            <input type="text" class="form-control" readonly th:value="${#dates.format(notice.createDate, 'yyyy-MM-dd HH:mm:ss')}">
          </div>                    
          <div class="col-lg-3 col-md-3 form-group">
            <label for="title">发布人: </label>
            <input type="text" class="form-control" readonly th:value="${notice.verifyAccount?.realname}">
          </div>
          <div class="col-lg-3 col-md-3 form-group">
            <label for="title">发布时间: </label>
            <input type="text" class="form-control" readonly th:value="${#dates.format(notice.verifyDate, 'yyyy-MM-dd HH:mm:ss')}">
          </div> 
          <div class="col-lg-12 table-responsive" th:if="${notice.createAccount?.id==session.account_id and notice.state==3}">
              <table id="table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
              </table>
          </div>
        </div>
      </div>
    </div>
    </form>
    <div class="modal fade" id="import_dialog" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                                                    选择用户
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body form-horizontal">

                  <div class="search-content">
                      <div class="search-cell form-group">
                        <label for="search">用户名/真实姓名/所属组织/职位/邮箱：</label>
                        <input type="text" id="search" class="form-control">
                      </div>
                      <div class="search-cell width-10 form-group">
                        <label for="role">角色：</label>
                        <select name="role" id="role" class="form-control">
                        </select>
                      </div>
                      <div class="search-cell width-10 form-group">
                        <label for="account_state">状态：</label>
                        <select name="account_state" id="account_state" class="form-control">
                        </select>
                      </div>
                      <div style="vertical-align: bottom" class="search-cell form-group">
                        <button class="btn btn-default" id="btn_search"><i class="fa fa-search"></i> 查询</button>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <table id="import_account" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
                      </table>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="btn_import">保存</button>
                </div>
            </div>
        </div>
    </div> 
    
    </div>
</body>
</html>
<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR')">
is_vendor = 1;
</script>

<script th:inline="javascript">
var edit_url = /*[[@{/notice/}]]*/'';
var state = /*[[${notice.state}]]*/'';
var account_url = /*[[@{/vendor/select/}]]*/'';
var account_table, import_table, editor;
/*[+
var isEditable = [[${notice.createAccount?.id==session.account_id and (notice.state==1  || notice.state==4)}?true:false]];
var hasAttach = [[${notice.attachFileName != null}]];
var is_to_all_vendor = [[${notice.toAllVendor}?true:false]];
var is_to_unit_account = [[${notice.toUnitAccount}?true:false]];
var read_list_url = [[@{|/notice/readlist/${notice.id}|}]];
+]*/ 

jQuery(document).ready(function() {   

  App.bs_input_file();
  $("#state").select2({ data: App.getNoticeStateData(),minimumResultsForSearch: -1}).select2("val", state.toString());
  
  if (!isEditable){
    $('#title').attr("readonly", true);
    $("#content").attr("readonly", true);
    $("input:checkbox").attr("disabled", true);
    $('textarea').attr("readonly", true);
  }else{
    if (hasAttach){
      $('#file_select').hide();
      $('#file_show').show();
    }else{
      $('#file_select').show();
      $('#file_show').hide();
    }
  }
  
  var is_add = $("#id").val().length==0;
  $("#form" ).validate({
    // define validation rules
    rules: {
        title: {
            required: true
        }, 
        content: {
            required: true
        },
    },
    
    //display error alert on form submit  
    invalidHandler: function(event, validator) {
      App.showErrorDialog("输入有误", "请输入正确的值");
    },

    submitHandler: function (form) {
      var value='';
      $.each(account_table.rows().data().toArray(), function(key, item){
        value += item.id + ",";
      });
      $('#account_list').val(value);
      jQuery(form).ajaxSubmit({
        beforeSend: function(){
          App.blockUI();
        },
        complete: function(){
          App.unblockUI();
        },
        success: function(res, status, xhr, form) {
          App.showSuccessDialog("操作成功", function(){
              window.location.href = edit_url + res.id + "/edit";
          });
        },
        error: function (res, status, xhr, form) {
          App.showErrorDialog("操作失败", "请输入正确的值");
        }
      });
    }
  }); 
  
  $("#to_all_vendor").change(function(){  //"select all" change 
    if($(this).prop("checked")){
      $( "#vendor_div" ).hide();
    }else{
      $( "#vendor_div" ).show();
    }    
  });
  
  $("#to_unit_account").change(function(){  //"select all" change 
    if($(this).prop("checked")){
      $( "#account_div" ).show();
      if (!account_table) {
        editor = new $.fn.dataTable.Editor({
          table: "#example",  
          idSrc: "id",
          i18n: {
            remove: {
              button: "删除行",
              title:  "删除",
              submit: "是",
              confirm: {
                _: "确定要删除%d行用户吗?",
                1: "确定要删除吗?"
              }
            },
            error: {
              system: "发生错误！"
            }
          }
        });
        
        account_table = $('#example').DataTable({
          ordering: true,
          select: isEditable,
          serverSide:false,
          processing:false,
          buttons: isEditable?[
            { 
              text: "添加用户", 
              action: function( e, dt, node, config) {
                $('#import_dialog').modal('show');
              } 
            },
            { extend: "remove", editor: editor }
          ]:[],
          ajax : {
            url : /*[[@{|/notice/${notice.id}/account/list|}]]*/'',
            dataSrc : function(json) {
              return json;
            },
          },
          order: [ [0, 'asc'] ],
          columns : [ {
            data : 'username',
            title : '用户名',
          }, {
            data : 'realname',
            title : '真实姓名',
          }, {
              data : 'unitname',
              title : '所属组织',
          }, {
              data : 'duty',
              title : '职位',
          }, {        
            data : 'role',
            title : '角色',
            render: App.getRoleOfId,
          }, {        
            data : 'state',
            title : '状态',
            render: App.getAccountStateOfId,
          }, {
            data : 'vendorname',
            title : '供应商',
          }, {
            data : 'email',
            title : '邮箱',
          }, {
            data : 'tel',
            title : '电话',
          }, {
            data : 'mobile',
            title : '手机',
          } ],
        });
      }
    }else{
      $( "#account_div" ).hide();
    }    
  });
  
  $("#to_all_vendor").trigger('change');
  $("#to_unit_account").trigger('change');
  
  $( "#vendor_list" ).on( "keydown", function( event ) {
    if ( event.keyCode === $.ui.keyCode.TAB &&
        $( this ).autocomplete( "instance" ).menu.active ) {
      event.preventDefault();
    }
  }).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: account_url + "?q=" + extractLast( request.term ),
        dataType: "json",
        success: function( data ) {
          var result =$.map(data.content, function (item) {
              return {
                  label: item.title + '(' + item.id + ')',
                  value: item.title + '(' + item.id + ')'
              };
          });
          response(result);
          
        }
      });
    },
    search: function() {
      // custom minLength
      var term = extractLast( this.value );
      if ( term.length < 1 ) {
        return false;
      }
    },
    focus: function() {
      // prevent value inserted on focus
      return false;
    },
    select: function( event, ui ) {
      var terms = split( this.value );
      // remove the current input
      terms.pop();
      // add the selected item
      terms.push( ui.item.value );
      // add placeholder to get the comma-and-space at the end
      terms.push( "" );
      this.value = terms.join( ", " );
      return false;
    }
  });
  
  
  
  

  $('#role').select2({data: App.getRoleDataWithAll(), minimumResultsForSearch: -1});
  $('#account_state').select2({data: App.getAccountStateDataWithAll(), minimumResultsForSearch: -1});
  
  $("#btn_search").click(function() {
    import_table.draw();
  });
  
  $('#account_state, #role').change(function() {
    import_table.draw();
  });
  
  $('#search').keyup(function(e){
      if(e.keyCode == 13)
        import_table.draw();
  });
  
  $('.modal').on('shown.bs.modal', function () {
    $('#search_inventory').val('');
    if (import_table == undefined) {
      import_table = $('#import_account').DataTable({
        ordering: true,
        select: true,
        ajax : {
          url : /*[[@{/notice/account/list}]]*/'',
          data : function(data) {
            var filter = {
              rows_per_page : data.length,
              page_index : data.start / data.length + 1,
              order: data.columns[data.order[0].column].data,
              dir:data.order[0].dir,
              search: $('#search').val(),
              state:$('#account_state').val(),
              role:$('#role').val()
            }
            return filter;
          },
          dataSrc : function(json) {
            json.recordsTotal = json.totalElements;
            json.recordsFiltered = json.totalElements;
            return json.content;
          },
        },
        order: [ [0, 'asc'] ],
        columns : [ {
          data : 'username',
          title : '用户名',
        }, {
          data : 'realname',
          title : '真实姓名',
        }, {
            data : 'unitname',
            title : '所属组织',
        }, {
            data : 'duty',
            title : '职位',
        }, {        
          data : 'role',
          title : '角色',
          render: App.getRoleOfId,
        }, {        
          data : 'state',
          title : '状态',
          render: App.getAccountStateOfId,
        }, {
          data : 'vendorname',
          title : '供应商',
        }, {
          data : 'email',
          title : '邮箱',
        }, {
          data : 'tel',
          title : '电话',
        }, {
          data : 'mobile',
          title : '手机',
        } ],
      });
    }
  });
  
  $('#btn_import').click(function(){
    $('#import_dialog').modal('hide');//modal_1 is the id 1
    var selected_data = import_table.rows('.selected').data().toArray();
    var exist_data = account_table.rows().data().toArray();
    $.each(selected_data, function(key, item){

      var available = true;
      for(i=0; i<exist_data.length; i++) {
        exist_row = exist_data[i];
        if (exist_row.id == item.id) {
          available = false;
          break;
        }
      }
      
      if (available) {
        var temp = $.extend(true, {}, item);
        account_table.row.add(temp);  
      }

    })
    
    account_table.draw();      
    
  });
  
  $("#save").click(function() {
    $('#state').val(1);
    $("#form").submit();            
  });
  
  $("#submit").click(function() {
    $('#state').val(2);
    $("#form").submit();            
  });
  
  $("#verify").click(function() {
    $('#state').val(3);
    $("#form").submit();            
  });

  $("#cancel").click(function() {
    $('#state').val(4);
    $("#form").submit();            
  });
  
  
  $("#delete").click(function(){
    App.showConfirmDialog('确定要删除吗?', function(){
      var del_url = edit_url + $("#id").val() + "/delete";  
      $.get(del_url, function(data, status){
        App.showSuccessDialog("操作成功", function() {
          window.location.href = edit_url;
        });
      });
    });
  });

  $("#del_attach").click(function(){
    App.showConfirmDialog('确定要删除吗?', function(){
      var del_url = edit_url + $("#id").val() + "/deleteattach";  
      $.get(del_url, function(data, status){
        App.showSuccessDialog("操作成功", function() {
          window.location.reload(true);
        });
      });
    });
  });
  
  var table = $('#table').DataTable({
    ordering : true,
    ajax : {
        url : read_list_url,
        data : function(data) {
          var filter = {
            order : data.columns[data.order[0].column].data,
            dir : data.order[0].dir,
            rows_per_page : data.length,
            page_index : data.start / data.length + 1,
          }
          return filter;
        },
        dataSrc : function(json) {
          json.recordsTotal = json.totalElements;
          json.recordsFiltered = json.totalElements;
          return json.content;
        },              
    },
    
    columns : [ {
      data : 'realname',
      title : '用户名称',
    }, {
      data : 'unitname',
      title : '组织名称',
    }, {
      data : 'vendorname',
      title : '供应商名称',
    }, {
      data : 'read_date',
      title : '查阅时间',  
    }],
    order: [ [3, 'desc'] ],

  });

});


</script>

