select[readonly].select2-hidden-accessible + .select2-container {
  pointer-events: none;
  touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
  background: #eee;
  box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
  display: none;
}

.inquery_state_1 {
    color:#4B77BE;
}

.inquery_state_2 {
    color:#32C5D2;
}
.inquery_state_3 {
    color:#1BA39C;
}
.inquery_state_4 {
    color:red;
}
.inquery_state_5 {
    color:#8E44AD;
}
.inquery_state_6 {
    color:#C49F47;
}
.inquery_state_7 {
    color:black;
}

