body {
    font-family:'Microsoft YaHei','SimSun' !important;
    font-size: 12px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    /* padding: 6px; */    
}

table.dataTable.table thead th.sorting:after, table.dataTable.table thead th.sorting_asc:after, table.dataTable.table thead th.sorting_desc:after, table.dataTable.table thead td.sorting:after, table.dataTable.table thead td.sorting_asc:after, table.dataTable.table thead td.sorting_desc:after {
    top: 7px;
    right: 5px;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.6em;
}

.nav-tabs {
    font-size: 12px;
}

span.error {
    color:yellow;    
}

.main {
    min-height:605px;
}

.btn {
    font-size: 12px;
    padding: 8px 12px;
}

.form-control {
    font-size: 12px;
}

.breadcrumb {
    font-size: 12px;
}

select[readonly].select2-hidden-accessible + .select2-container {
  pointer-events: none;
  touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
  background: #eee;
  box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
  display: none;
}

#save {
    background-color:#4B77BE;
}

.inquery_state_1 {
    color:#4B77BE;
}

#submit {
    background-color:#32C5D2;
}
.inquery_state_2 {
    color:#32C5D2;
}

#confirm {
    background-color:#1BA39C;
}
.inquery_state_3 {
    color:#1BA39C;
}

#cancel {
    background-color:red;
}
.inquery_state_4 {
    color:red;
}

#pass {
    background-color:#8E44AD;
}
.inquery_state_5 {
    color:#8E44AD;
}

#verify {
    background-color:#C49F47;
}
.inquery_state_6 {
    color:#C49F47;
}

#publish {
    background-color:grey;
}
.inquery_state_7 {
    color:grey;
}

#export {
    background-color: #2AB4C0;
    color: white;
}
#import {
    background-color: #3598DC;
    color: white;
}
.dt-center {
    text-align:center;
}

.dt-right {
    text-align:right;
}

.DTED_Lightbox_Close {visibility: hidden;}
div.DTE_Field select {
  padding: 6px 4px;
  width: 100%;
}

div.DTE_Field.DTE_Field_Type_date input.jqueryui {
    width: 100%; 
    margin-right: 0px;
}

.btn-group-bar {
    margin-bottom: 5px;
}

