<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li class="active">出入库单据</li>
      </ul>
      <div class="search-content">
          <div class="search-cell width-10">
            <label for="code">接收单号：</label>
            <input type="text" id="code" class="form-control" placeholder="接收单号">
          </div>
          <div class="search-cell width-10">
            <label for="company">业务实体：</label>
            <select name="company" id="company" class="form-control">
            	<option value="-1" text="　" selected="selected"></option>
            </select>
          </div>
          <div class="search-cell width-10">
            <label for="store">库房：</label>
            <select name="store" id="store" class="form-control">
            	<option value="-1" text="　" selected="selected"></option>
            </select>
          </div>
          <div class="search-cell width-10">
            <label for="vendor">供应商编码/名称：</label>
            <input type="text" id="vendor" class="form-control" placeholder="供应商编码/名称">
          </div>
          <div class="search-cell width-10">
            <label for="start_date">接收时间: </label>
            <input type="text" id="start_date" value="" class="form-control datepicker" placeholder="接收时间"/>
          </div>
          <div class="search-cell width-10">
            <label for="end_date">　</label>
            <input type="text" id="end_date" value="" class="form-control datepicker" placeholder=""/>
          </div>
          <div class="search-cell width-10">
            <label for="state">状态:</label>
            <select name="status" id="state" class="form-control">
            </select>
          </div>
          <div style="vertical-align: bottom" class="search-cell width-15">
            <button class="btn btn-default" id="btn_search"><i class="fa fa-search"></i> 查询</button>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
            <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
            </table>
        </div>
      </div>
  </div>  
</body>
</html>

<script th:inline="javascript">
/*[+
var edit_url = [[@{/purchasein/}]];
var company_search_url = [[@{/company/search}]];
var store_search_url = [[@{/store/search/}]];
+]*/ 

  $(document).ready(function() {
    
    $(".datepicker").datepicker({
      onSelect: function(dateText) {
        table.draw();
      }
    });
    
    $("#state").select2({
      data : App.getPurchaseInStateDataWithAll(),
      minimumResultsForSearch : -1
    }).select2("val", "0");
    
    $("#company").select2(App.getSelect2OptionsWithAll(company_search_url));
    $("#store").select2();
    
    $('#start_date').datepicker();
    $('#end_date').datepicker();

    var table = $('#example').DataTable({
      ordering : true,
      ajax : {
        url : /*[[@{/purchasein/list}]]*/'',
        data : function(data) {
          var filter = {
            order : data.columns[data.order[0].column].data,
            dir : data.order[0].dir,
            rows_per_page : data.length,
            page_index : data.start / data.length + 1,
            vendor : $('#vendor').val(),
            company : $('#company').val(),
            store : $('#store').val(),
            state: $('#state').val(),
            code : $('#code').val(),
            start_date : $('#start_date').val(),
            end_date : $('#end_date').val()
          }
          return filter;
        },
        dataSrc : function(json) {
          json.recordsTotal = json.totalElements;
          json.recordsFiltered = json.totalElements;
          return json.content;
        },
      },
      fixedColumns : {
		    leftColumns : 3,
	    },
      createdRow: function( row, data, dataIndex ) {
          $(row).addClass('');
      },
      columns : [ {
        data : 'code',
        title : '接收单号'
      }, {
        data : 'row_no',
        className:'dt-center',
        title : '行号',
      }, {
        data : 'date',
        render : $.fn.date_renderer,
        className:'dt-center',
        title : '接收日期'
      }, {
        data : 'company_name',
        className:'dt-center',
        title : '业务实体'
      }, {
        data : 'store_name',
        className:'dt-center',
        title : '库房'
      }, {
        data : 'inventory_code',
        title : '货品代码'
      }, {
        data : 'inventory_name',
        title : '货品名称'
      }, {
        data : 'specs',
        title : '规格型号',
      }, {
        data : 'unitname',
        className:'dt-center',
        title : '单位',
      }, {
        data : 'quantity',
        className:'dt-right',
        title : '数量',
      }, {
        data : 'price',
        className:'dt-right',
        title : '未税单价',
      }, {
        data : 'cost',
        className:'dt-right',
        title : '未税金额',
      }, {
        data : 'tax_rate',
        className:'dt-right',
        title : '税率',
      }, {
        data : 'tax_price',
        className:'dt-right',
        title : '含税单价',
      }, {
        data : 'tax_cost',
        className:'dt-right',
        title : '含税金额',
      }, {
        data : 'vendorcode',
        title : '供应商编码'
      }, {
        data : 'vendorname',
        title : '供应商名称'
      }, {
        data : 'po_code',
        title : '订单编号',
      }, {
        data : 'po_row_no',
        className:'dt-center',
        title : '订单行号',
      }, {
        data : 'confirmed_memo',
        className:'dt-center',
        title : '订单行购方备注',
      }, {
        data : 'delivery_code',
        title : '发货单号',
      }, {
        data : 'delivery_row_no',
        className:'dt-center',
        title : '发货单行号',
      }, {
        data : 'delivered_quantity',
        className:'dt-center',
        title : '发货数量',
      }, {
        data : 'sync_date',
        className:'dt-center',
        render : $.fn.date_renderer,
        title : 'SRM创建日期',
      }, {
        data : 'state',
        className:'dt-right',
        createdCell : App.getStateClass,
        title : 'SRM状态',
        render : App.getPurchaseInStateOfId,

      } ],
      order: [  [ 0, "desc" ] ]
    });

    $("#btn_search").click(function() {
      table.draw();
    });
    
    $('#state, #company, #store').change(function() {
      table.draw();
    });
    
    $('#company').change(function() {
	  	var store_url = store_search_url + $('#company').val();
	  	$("#store").select2(App.getSelect2OptionsWithAll(store_url));
	  	$("#store").val("-1").trigger('change');
	  });	 
    
    $('#vendor, #code, #start_date, #end_date').keyup(function(e) {
      if (e.keyCode == 13)
        table.draw();
    });
  });
</script>