<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  
</head>  
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li class="active">组织架构管理</li>
    </ul>
    <div class="panel panel-default">
      <div class="panel-body"> 
        <div class="row">
          <div class="col-md-6" style="margin-bottom: 20px;">
	          <i class="fa fa-sitemap"></i> 组织结构
	          <div id="tree_3"></div>
          </div>   
          <div class="col-md-6">
          	  <h3>组织信息</h3>
	          <div class="col-md-12 form-group">
	             <label for="vendor">组织名称:</label>
	             <input type="text" name="unitname" id="unitname" class="form-control">
           	   </div>
           	   <div class="col-md-12 form-group">
	             <label for="vendor">供货类别:</label>
	             <select multiple="true" name="provide_class" id="provide_class" class="form-control">
	             </select>
           	   </div>
           </div>          
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script th:inline="javascript">
var url = /*[[@{/unit/}]]*/'';
var perm_search_url = /*[[@{/provideclass/search}]]*/'';

jQuery(document).ready(function() {
	
	$("#provide_class").select2(App.getSelect2TagOptions(perm_search_url));
	
    jQuery("#tree_3").jstree({
      core:{
        check_callback: function (operation, node, node_parent, node_position, more) {
  	
        },
        data: function (node, cb) {
        	$.ajax({
                url: url + (node.id === "#" ? 0 : node.id) + "/children"
            })
            .done(function (data) {
                cb(data);
            });
        }
      },
      dnd : {
          "is_draggable" : function(node) {
        	  if (node[0].id == 1) {
        		  return false;
        	  }
              return true;
          },
          drop_check      : function (data) { return false; }
      
      },
      contextmenu: {
          'items': function(node) {
              var tmp = $.jstree.defaults.contextmenu.items();
              tmp.create.label = '新建';
              tmp.rename.label = '改名';
              tmp.remove.label = '删除';
              tmp.ccp = false;
              if (node.id == 1) {
                  tmp.remove = false;
              }
              return tmp;
          }
      },
      state:{key:"demo1"},
      plugins:["contextmenu","state","types"]
    }).on('create_node.jstree', function (e, data) {
    	$.get(url + "add/" + data.node.parent + "/" + data.node.text).done(function (d) {
          data.instance.set_id(data.node, d.id);
        })
        .fail(function () {
          data.instance.refresh();
        });
    }).on('rename_node.jstree', function (e, data) {
    	$.get(url + data.node.id + "/rename/" + data.node.text).done(function (d) {

        })
        .fail(function () {
          data.instance.refresh();
        });
    }).on('delete_node.jstree', function (e, data) {
      App.showConfirmDialog('确定要删除吗?', function(){
        $.get(url + data.node.id + "/delete").done(function (d) {
          if (d.success == 1){
            App.showSuccessDialog("操作成功！");
          }else{
            App.showErrorDialog(d.errmsg);
          }
          $("#tree_3").jstree("refresh");
        })
        .fail(function () {
          $("#tree_3").jstree("refresh");
          App.showErrorDialog("操作失败！");
        });  
      }, function(){
        $("#tree_3").jstree("refresh");
      });        	
    });
    
    $(document).bind("dnd_start.vakata", function(e, data) {
        
    })
    .bind("dnd_move.vakata", function(e, data) {
        
    })
    .bind("dnd_stop.vakata", function(e, data) {
    	var dnd_node_id = data.data.nodes[0];
        var parent_node = $('#tree_3').jstree(true).get_node($(data.event.target));
        var parent_node_id = parent_node.id;
        
        if (parent_node_id == undefined || dnd_node_id == parent_node_id)
        	return;
        else {
        	$.get(url + dnd_node_id + "/move/" + parent_node_id).done(function (d) {

            })
            .fail(function () {
              data.instance.refresh();
            });
        }
        
        
    });
    
});

</script>

