<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
<style>
.DTED_Lightbox_Close {visibility: hidden;}
#customForm {
    display: flex;
    flex-flow: row wrap;
}


</style>
</head>   
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li>价格管理</li>
      <li><a th:href="@{/buyer/inquery}" class="active">询价管理</a></li>
      <li class="active">询价单</li>
    </ul>       
    <div class="panel panel-default">
        <div class="panel-body"> 
        <form id="form" th:action="@{/buyer/inquery/update}" method="post">      
            <div class="row">
                <div class="col-lg-3 col-md-3">
                  <label for="code">单号: </label>
                  <input type="text" id="ccode" name="ccode" th:value="${main.ccode}" class="form-control" readonly />
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="vendor">供应商:</label>
                  <select id="vendor" name="vendor" class="form-control">
                    <option th:if="${main.vendor != null}" th:value="${main.vendor.code}" th:text="${main.vendor.name}" selected="selected">NEC（日电）有限公司</option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="tax_rate">税率:</label>
                  <input type="number" id="tax_rate" th:value="${main.itaxrate}" name="tax_rate" class="form-control">
                </div>
                
                <div class="col-lg-3 col-md-3">
                  <label for="state">状态:</label>
                  <select name="state" id="state" class="form-control" readonly>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="end_date">生效日期:</label>
                  <input type="text" name="start_date" id="start_date" th:value="${#dates.format(main.dstartdate, 'yyyy-MM-dd')}" class="form-control datepicker">
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="end_date">有效日期:</label>
                  <input type="text" name="end_date" id="end_date" th:value="${#dates.format(main.denddate, 'yyyy-MM-dd')}" class="form-control datepicker">
                </div>        
                <div class="col-lg-3 col-md-3">
                  <label for="type">报价形式:</label>
                  <select name="type" id="type" class="form-control">
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="provide_type">供应类型:</label>
                  <select name="provide_type" id="provide_type" class="form-control">
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="maker_id">制单人:</label>
                  <select name="maker" id="maker" class="form-control select2" readonly>
                    <option th:value="${main.maker.id}" th:text="${main.maker.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="make_date">单据日期: </label>
                  <input type="text" name="make_date" id="make_date" th:value="${#dates.format(main.dmakedate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label>确认人:</label>
                  <select class="form-control select2" readonly>
                    <option th:value="${main.reviewer?.id}" th:text="${main.reviewer?.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label>确认日期: </label>
                  <input type="text" th:value="${#dates.format(main.dreviewdate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
        
                <div class="col-lg-3 col-md-3">
                  <label>审核人:</label>                      
                  <select class="form-control select2" readonly>
                    <option th:value="${main.verifier?.id}" th:text="${main.verifier?.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label>审核日期:</label>
                  <input type="text" th:value="${#dates.format(main.dverifydate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label>归档人:</label>
                  <select class="form-control select2" readonly>
                    <option th:value="${main.publisher?.id}" th:text="${main.publisher?.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label>归档日期:</label>
                  <input type="text" th:value="${#dates.format(main.dpublishdate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
            </div>
            <div class="row margin-top-10">
              <div class="col-lg-12">
                  <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
                  </table>
              </div>
            </div>
        </form>
    </div>
    <div class="panel-footer"> 
      <div class="text-right" style="margin-top: 10px; margin-bottom: 5px;">
        <a class="btn btn-primary" th:if="${main.iverifystate==1}" id="save"><i class="fa fa-save"></i> 保存</a>
        <a class="btn btn-primary" th:if="${main.iverifystate==1}" id="submit"><i class="fa fa-save"></i> 提交</a>
        <a class="btn btn-primary" th:if="${main.iverifystate==3 || main.iverifystate==4}" id="pass"><i class="fa fa-arrow-up"></i> 通过</a>
        <a class="btn btn-primary" th:if="${main.iverifystate==5}" id="verify"><i class="fa fa-check-square"></i> 审核</a>
        <a class="btn btn-primary" th:if="${main.iverifystate==6}" id="publish"><i class="fa fa-cloud-upload"></i> 归档</a>
        <a class="btn btn-default" th:href="@{/buyer/inquery}"><i class="fa fa-arrow-left"></i> 返回</a>
      </div>
    </div> 
    <div id="customForm" class="hidden">
        <div class="row">
            <div class="col-lg-3 col-md-3">
              <label for="code">商品名称: </label>
              <input type="text" id="code" class="form-control" />
            </div>
            <div class="col-lg-3 col-md-3">
              <label for="vendor">规格型号:</label>
              <input type="text" id="code" class="form-control" />
            </div>
            <div class="col-lg-3 col-md-3">
              <label for="tax_rate">单位:</label>
              <input type="text" id="code" class="form-control" />
            </div>                
            <div class="col-lg-3 col-md-3">
              <label for="state">数少数量:</label>
              <input type="text" id="code" class="form-control" />
            </div>
            <div class="col-lg-3 col-md-3">
              <label for="end_date">生效日期:</label>
              <input type="text" class="form-control datepicker">
            </div>
            <div class="col-lg-3 col-md-3">
              <label for="end_date">有效日期:</label>
              <input type="text" class="form-control datepicker">
            </div>    
        </div>
    </div>
  </div>
</body>
</html>
<script th:inline="javascript">
  var editor;
  /*[+
  var detail_url = [[@{/api/venpriceadjust/}]] + [[${main.ccode}]] + "/details";
  var edit_url = [[@{/buyer/inquery/}]];
  +]*/ 
  var vendor_search_url = /*[[@{/api/vendor/select}]]*/'';
  var state = /*[[${main.iverifystate}]]*/'';
  var type = /*[[${main.type}]]*/'';
  var supply_type = /*[[${main.isupplytype}]]*/'';
  
  $(document).ready(function() {

    $('#start_date').datepicker();
    $('#end_date').datepicker();
    
    $(".select2").select2();
    $("#state").select2({ data: App.getInqueryStateData(),minimumResultsForSearch: -1}).select2("val", state.toString());
    $("#type").select2({ data: App.getInqueryTypeData(),minimumResultsForSearch: -1 }).select2("val", type.toString());
    $("#provide_type").select2({ data: App.getInqueryProvideTypeData(),minimumResultsForSearch: -1 }).select2("val", supply_type.toString());
    $("#vendor").select2(App.getSelect2Options(vendor_search_url));
   
    if (state > 1) {
      $('input').attr("readonly", true);
      $('select').attr("readonly", true);
    }

    editor = new $.fn.dataTable.Editor( {
      table: "#example",  
      idSrc: "inventory.code",
      //template: '#customForm',
      fields: [ {
          label: "商品編碼:",
          name: "inventory.code"
        },{
          label: "商品名称:",
          name: "inventory.name"
        },{
          label: "规格型号:",
          name: "inventory.specs"  
        },{
          label: "单位:",
          name: "inventory.puunit_name"            
        },{
          label: "数少数量:",
          name: "fminquantity"    
        },{
          label: "最大数量:",
          name: "fmaxquantity"  
        },{
          label: "原价格:",
          name: "iunitprice"            
        },{
          label: "税率:",
          name: "itaxrate"            
        },{
          label: "最新含税报价:",
          name: "itaxunitprice"            
        },{
          label: "生效日期:",
          name: "dstartdate"            
        },{
          label: "有效日期:",
          name: "denddate"            
        },{
          label: "是否有效:",
          name: "ivalid"            
        },{
          label: "备注:",
          name: "cbodymemo"            
        }],
      i18n: {
          create: {
              button: "添加商品",
              title:  "添加",
              submit: "保存"
          },
          edit: {
              button: "修改商品",
              title:  "修改",
              submit: "保存"
          },
          remove: {
              button: "删除商品",
              title:  "删除",
              submit: "是",
              confirm: {
                  _: "确定要删除%d行商品吗?",
                  1: "确定要删除吗?"
              }
          },
          error: {
              system: "发生错误！"
          }
      }
    }).submit(function () {
          alert( 'Form successfully submitted!' );
      },
      function () {
          alert( 'Form  encountered an error :-(' );
      }
    );
    
    var table_options = {
        serverSide:false,
        processing:false,
        select: true,
        buttons: [
            { extend: "create", editor: editor },
            { extend: "edit",   editor: editor },
            { extend: "remove", editor: editor }
        ],
        ajax : {
          url : detail_url,
          dataSrc : function(json) {
            return json;
          },
        },

        columns : [ {
          data : 'inventory.code',
          title : '商品编码',
          defaultContent : ''
        }, {
          data : 'inventory.name',
          title : '商品名称'
        }, {
          data : 'inventory.specs',
          title : '规格型号',
        }, {
          data : 'inventory.puunit_name',
          title : '单位',
          defaultContent : '个'
        }, {
          data : 'fminquantity',
          title : '数少数量',
        }, {
          data : 'fmaxquantity',
          title : '最大数量',
        }, {
          data : 'iunitprice',
          title : '原价格',
        }, {
          data : 'itaxrate',
          title : '税率',
        }, {
          data : 'itaxunitprice',
          title : '最新含税报价',
        }, {
          data : 'dstartdate',
          title : '生效日期',
          render : $.fn.date_renderer,
          defaultContent : ''
        }, {
          data : 'denddate',
          title : '有效日期',
          render : $.fn.date_renderer,
        }, {
          data : 'ivalid',
          title : '是否有效',
          render: function(data) {
            if (data == 1)
              return '有效';
            else
              return '無效';
          }
        }, {
          data : 'cbodymemo',
          title : '备注',

        } ],
      };
    
    if (state == 1)
      table_options.dom = "Bfrtip";

    var table = $('#example').DataTable(table_options);

    $("#form" ).validate({
      // define validation rules
      rules: {
          vendor: {
              required: true
          }, 
          tax_rate: {
              required: true
          },
          start_date: {
              required: true
          },    
          end_date: {
              required: true
          },    
      },
      
      //display error alert on form submit  
      invalidHandler: function(event, validator) {
          swal({
              "title": "输入有误", 
              "text": "请输入正确的值", 
              "type": "error"
          });
      },

      submitHandler: function (form) {
          jQuery(form).ajaxSubmit({
              success: function(res, status, xhr, form) {
                  swal({
                      "title": "操作成功", 
                      "type": "success"
                  }).then((result) => {
                       window.location.href = edit_url + res.ccode + "/edit";
                  });
              },
              error: function (res, status, xhr, form) {
                  swal({
                      "title": "操作失败", 
                      "text": "请输入正确的值", 
                      "type": "error"
                  });
              }
          });
      }
    }); 
    
    
    $("#save").click(function() {
        $("#form").submit();            
    });
    
    $("#submit").click(function() {
      $('#state').val(2);
      $("#form").submit();            
    });

    $("#confirm").click(function() {
      $('#state').val(3);
      $("#form").submit();            
    });
    
    $("#cancel").click(function() {
      $('#state').val(4);
      $("#form").submit();            
    });
    
    $("#pass").click(function() {
      $('#state').val(5);
      $("#form").submit();            
    }); 
    
    $("#verify").click(function() {
      $('#state').val(6);
      $("#form").submit();            
    });   
    
    $("#publish").click(function() {
      $('#state').val(7);
      $("#form").submit();            
    });       
  });
</script>

