<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li><a th:href="@{/permission_group}">权限组管理</a></li>
      <li class="active" th:text="${permission_group.id}?'权限组详细':'新建权限组'">权限组详细</li>
    </ul>
    <div class="btn-group-bar">
      <div class="text-right">
          <a id="save" class="btn btn-primary"><i class="fa fa-save"></i> 保存</a>
          <a id="del" class="btn btn-danger" th:if="${permission_group.id}"><i class="fa fa-remove"></i> 删除</a>
          <a class="btn btn-default" th:href="@{/permission_group}"><i class="fa fa-arrow-left"></i> 返回</a>
      </div>
    </div>
    <form id="form" th:action="@{/permission_group/update}" method="post">  
      <input type="hidden" id="id" name="id" th:value="${permission_group.id}">
      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="row">
            <div class="">
              <fieldset>
                <div class="col-lg-3 col-md-3 form-group">
                  <label for="document_date">名称: </label>
                  <input type="text" class="form-control" name="name" th:value="${permission_group.name}">
                </div>
                <div class="col-lg-9 col-md-9 form-group">
                  <label for="document_date">描述: </label>
                  <input type="text" class="form-control" name="description" th:value="${permission_group.description}">
                </div>
                <div class="col-lg-12 col-md-12 form-group hidden">
                  <label for="document_date">用户列表: </label>
                  <textarea id="accounts" rows="5" name="accounts" class="form-control" th:text="${accounts}"></textarea>
                </div>
                <div class="col-lg-12 col-md-12 form-group">
                  <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
                  </table>
                </div>
                
    
              </fieldset>

            </div>
        
          </div>
        </div>

      </div>
    </form>
    <div class="modal fade" id="import_dialog" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                                                    选择用户
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body form-horizontal">

                  <div class="search-content">
                      <div class="search-cell form-group">
                        <label for="search">用户名/真实姓名/所属组织/职位/邮箱：</label>
                        <input type="text" id="search" class="form-control">
                      </div>
                      <div class="search-cell width-10 form-group">
                        <label for="role">角色：</label>
                        <select name="role" id="role" class="form-control">
                        </select>
                      </div>
                      <div class="search-cell width-10 form-group">
                        <label for="state">状态：</label>
                        <select name="state" id="state" class="form-control">
                        </select>
                      </div>
                      <div style="vertical-align: bottom" class="search-cell form-group">
                        <button class="btn btn-default" id="btn_search"><i class="fa fa-search"></i> 查询</button>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <table id="import_account" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
                      </table>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="btn_import">保存</button>
                </div>
            </div>
        </div>
    </div> 
  </div>
</body>
</html>

<script th:inline="javascript">
var edit_url = /*[[@{/permission_group/}]]*/'';
var account_url = /*[[@{/account/search/}]]*/'';

jQuery(document).ready(function() {   
  var table, import_table, editor;

  var is_add = $("#id").val().length==0;
  $("#form" ).validate({
      // define validation rules
      rules: {
          name: {
              required: true
          },    
      },
      
      //display error alert on form submit  
      invalidHandler: function(event, validator) {
        App.showErrorDialog("操作失败", "请输入正确的值");
      },

      submitHandler: function (form) {
        var value='';
        $.each(table.rows().data().toArray(), function(key, item){
          value += item.realname + "(" + item.username + "), ";
        });
        $('#accounts').val(value);
        jQuery(form).ajaxSubmit({
          beforeSend: function(){
            App.blockUI();
          },
          complete: function(){
            App.unblockUI();
          },
          success: function(res, status, xhr, form) {
            App.showSuccessDialog("操作成功", function() {
              window.location.href = edit_url + res.id + "/edit";
            });
          },
          error: function (res, status, xhr, form) {
            App.showErrorDialog("操作失败", "请输入正确的值");
          }
      });
      }
    }); 
  
  $("#save").click(function() {
      $("#form").submit();            
  });
  
  $("#del").click(function(){
    App.showConfirmDialog('确定要删除吗?', function(){
      var del_url = edit_url + $("#id").val() + "/delete";  
      $.get(del_url, function(data, status){
        App.showSuccessDialog("操作成功", function() {
          window.location.href = edit_url;
        });
      });
    });
  });
  
  
  $( "#accounts" ).on( "keydown", function( event ) {
    if ( event.keyCode === $.ui.keyCode.TAB &&
        $( this ).autocomplete( "instance" ).menu.active ) {
      event.preventDefault();
    }
  }).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: account_url + extractLast( request.term ),
        dataType: "json",
        success: function( data ) {
          var result =$.map(data.content, function (item) {
              return {
                  label: item.realname + '(' + item.username + ')',
                  value: item.realname + '(' + item.username + ')'
              };
          });
          response(result);
          
        }
      });
    },
    search: function() {
      // custom minLength
      var term = extractLast( this.value );
      if ( term.length < 2 ) {
        return false;
      }
    },
    focus: function() {
      // prevent value inserted on focus
      return false;
    },
    select: function( event, ui ) {
      var terms = split( this.value );
      // remove the current input
      terms.pop();
      // add the selected item
      terms.push( ui.item.value );
      // add placeholder to get the comma-and-space at the end
      terms.push( "" );
      this.value = terms.join( ", " );
      return false;
    }
  });
	
  
  $('#role').select2({data: App.getRoleDataWithAll(), minimumResultsForSearch: -1});
  $('#state').select2({data: App.getAccountStateDataWithAll(), minimumResultsForSearch: -1});
  
  editor = new $.fn.dataTable.Editor({
    table: "#example",  
    idSrc: "id",
    i18n: {
      remove: {
        button: "删除行",
        title:  "删除",
        submit: "是",
        confirm: {
          _: "确定要删除%d行用户吗?",
          1: "确定要删除吗?"
        }
      },
      error: {
        system: "发生错误！"
      }
    }
  });
  
  table = $('#example').DataTable({
    ordering: true,
    select: {style: 'multi'},
    serverSide:false,
    processing:false,
    buttons: [
      { 
        text: "添加用户", 
        action: function( e, dt, node, config) {
          $('#import_dialog').modal('show');
        } 
      },
      { extend: "remove", editor: editor }
    ],
    ajax : {
      url : /*[[@{|/permission_group/${permission_group.id}/account/list|}]]*/'',
      dataSrc : function(json) {
        return json;
      },
    },
    order: [ [0, 'asc'] ],
    columns : [ {
      data : 'username',
      title : '用户名',
      render: function (data, display, record) {
        var edit_url = /*[[@{/account/}]]*/'';
        edit_url +=  record.id + '/edit';
        return '<a href="' + edit_url + '">' + data  + '</a>';
      },
    }, {
      data : 'realname',
      title : '真实姓名',
    }, {
        data : 'unitname',
        title : '所属组织',
    }, {
        data : 'duty',
        title : '职位',
    }, {        
      data : 'role',
      title : '角色',
      render: App.getRoleOfId,
    }, {        
      data : 'state',
      title : '状态',
      render: App.getAccountStateOfId,
    }, {
      data : 'vendorname',
      title : '供应商',
    }, {
      data : 'email',
      title : '邮箱',
    }, {
      data : 'tel',
      title : '电话',
    }, {
      data : 'mobile',
      title : '手机',
    } ],
  });

  $('.modal').on('shown.bs.modal', function () {
    $('#search_inventory').val('');
    if (import_table == undefined) {
      import_table = $('#import_account').DataTable({
        ordering: true,
        select: {style: 'multi'},
        ajax : {
          url : /*[[@{/account/list}]]*/'',
          data : function(data) {
            var filter = {
              rows_per_page : data.length,
              page_index : data.start / data.length + 1,
              order: data.columns[data.order[0].column].data,
              dir:data.order[0].dir,
              search: $('#search').val(),
              state:$('#state').val(),
              role:$('#role').val()
            }
            return filter;
          },
          dataSrc : function(json) {
            json.recordsTotal = json.totalElements;
            json.recordsFiltered = json.totalElements;
            return json.content;
          },
        },
        order: [ [0, 'asc'] ],
        columns : [ {
          data : 'username',
          title : '用户名',
        }, {
          data : 'realname',
          title : '真实姓名',
        }, {
            data : 'unitname',
            title : '所属组织',
        }, {
            data : 'duty',
            title : '职位',
        }, {        
          data : 'role',
          title : '角色',
          render: App.getRoleOfId,
        }, {        
          data : 'state',
          title : '状态',
          render: App.getAccountStateOfId,
        }, {
          data : 'vendorname',
          title : '供应商',
        }, {
          data : 'email',
          title : '邮箱',
        }, {
          data : 'tel',
          title : '电话',
        }, {
          data : 'mobile',
          title : '手机',
        } ],
      });
    }
  });
  
  $('#btn_import').click(function(){
    $('#import_dialog').modal('hide');//modal_1 is the id 1
    var selected_data = import_table.rows('.selected').data().toArray();
    var exist_data = table.rows().data().toArray();
    $.each(selected_data, function(key, item){

      var available = true;
      for(i=0; i<exist_data.length; i++) {
        exist_row = exist_data[i];
        if (exist_row.id == item.id) {
          available = false;
          break;
        }
      }
      
      if (available) {
        var temp = $.extend(true, {}, item);
        table.row.add(temp);  
      }

    })
    
    table.draw();      
    
  });
  
  $("#btn_search").click(function() {
    import_table.draw();
  });
  
  $('#state, #role').change(function() {
    import_table.draw();
  });
  
  $('#search').keyup(function(e){
      if(e.keyCode == 13)
        import_table.draw();
  });

});


</script>

