<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li><a th:href="@{/permission_group}">权限组管理</a></li>
      <li class="active" th:text="${permission_group.id}?'权限组详细':'新建权限组'">权限组详细</li>
    </ul>
    <div class="btn-group-bar">
      <div class="text-right">
          <a id="save" class="btn btn-primary"><i class="fa fa-save"></i> 保存</a>
          <a id="del" class="btn btn-danger" th:if="${permission_group.id}"><i class="fa fa-remove"></i> 删除</a>
          <a class="btn btn-default" th:href="@{/permission_group}"><i class="fa fa-arrow-left"></i> 返回</a>
      </div>
    </div>
    <form id="form" th:action="@{/permission_group/update}" method="post">  
      <input type="hidden" id="id" name="id" th:value="${permission_group.id}">
      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="row">
            <div class="">
              <fieldset>
                <div class="col-lg-3 col-md-3 form-group">
                  <label for="document_date">名称: </label>
                  <input type="text" class="form-control" name="name" th:value="${permission_group.name}">
                </div>
                <div class="col-lg-9 col-md-9 form-group">
                  <label for="document_date">描述: </label>
                  <input type="text" class="form-control" name="description" th:value="${permission_group.description}">
                </div>
                <div class="col-lg-12 col-md-12 form-group">
                  <label for="document_date">用户列表: </label>
                  <textarea id="accounts" rows="5" name="accounts" class="form-control" th:text="${accounts}"></textarea>
                </div>
    
              </fieldset>

            </div>
        
          </div>
        </div>

      </div>
    </form>
  </div>
</body>
</html>

<script th:inline="javascript">
var edit_url = /*[[@{/permission_group/}]]*/'';
var account_url = /*[[@{/account/search/}]]*/'';

jQuery(document).ready(function() {   
	var is_add = $("#id").val().length==0;
    $("#form" ).validate({
        // define validation rules
        rules: {
            name: {
                required: true
            },    
        },
        
        //display error alert on form submit  
        invalidHandler: function(event, validator) {
          App.showErrorDialog("操作失败", "请输入正确的值");
        },
  
        submitHandler: function (form) {
        	jQuery(form).ajaxSubmit({
        		success: function(res, status, xhr, form) {
        		  App.showSuccessDialog("操作成功", function() {
        		    window.location.href = edit_url + res.id + "/edit";
        		  });
        	    },
        	    error: function (res, status, xhr, form) {
        	      App.showErrorDialog("操作失败", "请输入正确的值");
        	    }
            });
        }
      }); 
    
	$("#save").click(function() {
		$("#form").submit();			
	});
	
	$("#del").click(function(){
	  App.showConfirmDialog('确定要删除吗?', function(){
        var del_url = edit_url + $("#id").val() + "/delete";  
        $.get(del_url, function(data, status){
          App.showSuccessDialog("操作成功", function() {
            window.location.href = edit_url;
          });
        });
      });
	});
	
	
	$( "#accounts" ).on( "keydown", function( event ) {
      if ( event.keyCode === $.ui.keyCode.TAB &&
          $( this ).autocomplete( "instance" ).menu.active ) {
        event.preventDefault();
      }
    }).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: account_url + extractLast( request.term ),
          dataType: "json",
          success: function( data ) {
        	var result =$.map(data.content, function (item) {
                return {
                    label: item.realname + '(' + item.username + ')',
                    value: item.realname + '(' + item.username + ')'
                };
            });
        	response(result);
            
          }
        });
      },
      search: function() {
        // custom minLength
        var term = extractLast( this.value );
        if ( term.length < 2 ) {
          return false;
        }
      },
      focus: function() {
        // prevent value inserted on focus
        return false;
      },
      select: function( event, ui ) {
        var terms = split( this.value );
        // remove the current input
        terms.pop();
        // add the selected item
        terms.push( ui.item.value );
        // add placeholder to get the comma-and-space at the end
        terms.push( "" );
        this.value = terms.join( ", " );
        return false;
      }
    });
});


</script>

