<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>  
</head>
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li><a th:href="@{/permission_group}">权限组管理</a></li>
      <li class="active">权限设置</li>
    </ul>
    <div class="btn-group-bar">
      <div class="text-right">
          <a class="btn btn-primary" id="save"><i class="fa fa-save"></i> 保存</a>
          <a class="btn btn-default" th:href="@{/permission_group}"><i class="fa fa-arrow-left"></i> 返回列表</a>
      </div>
    </div>
    <form id="form" th:action="@{/permission_group/update/function}" method="post">  
      <h1 th:text="${permission_group.name}"></h1>
      <input type="hidden" name="id" th:value="${permission_group.id}">
      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="row">
            <fieldset class="perm col-lg-4 col-md-4 margin-top-10" th:each="item : ${function_list}">
              <legend><label th:text="${item.name}">供应商档案管理 </label>- 
                <input type="checkbox" class="select-all" th:attrappend="subclass=${item.id}?'class_' + ${item.id}">
                <label class="small active margin-right-10">全选 </label>
              </legend>
   
              <div class="col-lg-4 col-md-4" th:each="action : ${item.Actions}">
                <input type="checkbox" th:classappend="${item.id}?'class_' + ${item.id}" th:attrappend="checked=${action.available}?true" name="functions[]" th:value="${action.functionActionId}"><label th:text="${action.name}"> </label>
              </div>  
              
            </fieldset>
          </div>
        </div>

      </div>
    </form>
  </div>

</body>
</html>

<script th:inline="javascript">
var url = /*[[@{/unit/}]]*/'';
var tree_url = /*[[@{/unit/tree}]]*/'';
$(function () {
  
  Layout.initUniform();
  
    $("#save").click(function() {
      jQuery(form).ajaxSubmit({
        beforeSend: function(){
          App.blockUI();
        },
        complete: function(){
          App.unblockUI();
        }, 
        success: function(res, status, xhr, form) {
          App.showSuccessDialog("操作成功");
        },
        error: function (res, status, xhr, form) {
          App.showErrorDialog("操作失败", "请输入正确的值");
        }
      });        
    });
    
	$(".select-all").change(function(){  //"select all" change 
		var sub_class = $(this).attr('subclass');
		sub_class = "." + sub_class;
	    $(sub_class).prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
	    $(sub_class).uniform();
	});
	

	
	
});
</script>


