<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout/layout}">
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li class="active">权限组管理</li>
    </ul>
    <div class="text-right" style="margin-top: 10px; margin-bottom: 5px;">
        <a class="btn btn-primary" th:href="@{/admin/permission_group/add}"><i class="fa fa-plus-circle"></i>&nbsp; 新建</a>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table id="example" class="ui celled table nowrap" style="width: 100%">
        </table>
      </div>
    </div>
  </div>
</body>
</html>
<script th:inline="javascript">
$(document).ready(function() {
    var table = $('#example').DataTable({
      ajax : {
        url : /*[[@{/admin/permission_group_ajax}]]*/'',
        data : function(data) {
          var filter = {
            rows_per_page : data.length,
            page_index : data.start / data.length + 1
          }
          return filter;
        },
        dataSrc : function(json) {
          json.recordsTotal = json.totalElements;
          json.recordsFiltered = json.totalElements;
          return json.content;
        },
      },

      columns : [ {
        data : 'name',
        title : '名称',
        render: function (data, display, record) {
      	  var edit_url = /*[[@{/admin/permission_group/}]]*/'';
      	  edit_url +=  record.id + '/edit';
      	  return '<a class="" href="' + edit_url + '">' + data + '</a>';
        },
        defaultContent : ''
      }, {
        data : 'description',
        title : '描述',
        defaultContent : ''
      }, {
    	  	data: null,
          title: '操作',
          render: function (data, display, record) {
        	  var edit_url = /*[[@{/admin/permission_group/}]]*/'';
        	  edit_url +=  record.id + '/edit';
        	  var edit_perm_url = /*[[@{/admin/permission_group/}]]*/'';
        	  edit_perm_url +=  record.id + '/edit_perm';
        	  var del_url =  /*[[@{/admin/permission_group/}]]*/'';
        	  del_url += record.id + '/delete';
        	  return '<a class="btn btn-sm btn-primary margin-right-10" href="' + edit_perm_url + '">修改权限  </a>';
          },
      } ],
    });

    $("#btn_search").click(function() {
      table.draw();
    });
});
    </script>
