<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
  <title>首页</title>
  <script src="content-script.js"></script>
</head>
<body>
  <div class="container"  layout:fragment="content">  
    <div class="row" id="dashboard">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">公告通知</div>
          <div class="panel-body">
            Panel Body
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">预警信息</div>
          <div class="panel-body">
            Panel Body
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">系统消息</div>
          <div class="panel-body">
            Panel Body
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>