<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
	<div class="container" layout:fragment="content">
		<ul class="breadcrumb">
			<li><a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a></li>
			<li><a th:href="@{/contract}" class="active">合同管理</a></li>
			<li class="active" th:text="${#strings.contains(#request.requestURI,'add')} ?'新建合同':'合同详细'"></li>
		</ul>
		<div class="btn-group-bar">
			<div class="text-right">
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==1}" id="save"><i class="fa fa-save"></i> 保存</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${!#strings.contains(#request.requestURI,'add') and main.state <= 2}" id="delete"><i class="fa fa-remove"></i> 删除</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==1}" id="submit"><i class="fa fa-share"></i> 提交</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==2}" id="review"><i class="fa fa-arrow-up"></i> 审核</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.state==4}" id="confirm"><i class="fa fa-check-square"></i> 终止</a>
				<a class="btn btn-default" th:href="@{/contract}"><i class="fa fa-arrow-left"></i> 返回列表</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<form id="form" th:action="@{/contract/update}" method="post" enctype="multipart/form-data">
					<input type="hidden" id="action" name="action"/>
					<div class="row">
						<div class="col-lg-2 col-md-2">
							<label for="code">合同编号: </label> 
							<input type="text" id="code" name="code" th:value="${main.code}" class="form-control" readonly />
						</div>
						<div class="col-lg-4 col-md-4">
							<label for="code">合同名称: </label> 
							<input type="text" name="name" th:value="${main.name}" class="form-control"/>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="makedate">签订日期: </label> 
							<input type="text" name="date" id="date" th:value="${#dates.format(main.date, 'yyyy-MM-dd')}" class="form-control datepicker">
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="makedate">合同开始时间: </label> 
							<input type="text" name="start_date" th:value="${#dates.format(main.startDate, 'yyyy-MM-dd')}" class="form-control datepicker">
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="makedate">合同结束时间: </label> 
							<input type="text" name="end_date" th:value="${#dates.format(main.endDate, 'yyyy-MM-dd')}" class="form-control datepicker">
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="type">合同类型:</label> 
							<select id="type" name="type" class="form-control"></select>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="vendor">合同性质:</label> 
							<select id="kind" name="kind" class="form-control"></select>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="quantity_type">数量控制: </label> 
							<select name="quantity_type" id="quantity_type" class="form-control"></select>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="price_type">价格类型: </label> 
							<select name="price_type" id="price_type" class="form-control"></select>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="task">基材基准价格: </label> 
							<input type="number" name="base_price" id="base_price" th:value="${main.basePrice}" class="form-control">
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="task">基材阶梯浮动幅度: </label> 
							<input type="number" name="floating_price" id="floating_price" th:value="${main.floatingPrice}" class="form-control">
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="company">业务实体: </label> 
							<select name="company" id="company" class="form-control">
								<option th:if="${main.company != null}" th:value="${main.company?.id}" th:text="${main.company?.name}" selected="selected"></option>
							</select>							
						</div>
						<div class="col-lg-4 col-md-4">
							<label for="vendor">供应商:</label> 
							<select id="vendor" name="vendor" class="form-control">
								<option th:if="${main.vendor != null}" th:value="${main.vendor?.code}" th:text="${main.vendor?.name}" selected="selected"></option>
							</select>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="tax_cost">付款方式: </label> 
							<input type="text" name="pay_mode" th:value="${main.payMode}" class="form-control" />
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="code">项目编码: </label> 
							<input type="text" name="project_no" th:value="${main.projectNo}" class="form-control"/>
						</div>						
						<div class="col-lg-2 col-md-2">
							<label for="tax_cost">税率: </label> 
							<input type="number" id="tax_rate" name="tax_rate" th:value="${main.taxRate}" class="form-control"/>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="code">币别: </label> 
							<input type="text" class="form-control" value="CYN" readonly/>
						</div>
						<div class="col-lg-4 col-md-4">
							<label for="code">备注: </label> 
							<input type="text" name="memo" th:value="${main.memo}" class="form-control"/>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="maker">创建人:</label> 
							<input type="text" th:value="${main.maker?.realname}" class="form-control" readonly>
						</div>
						<div class="col-lg-2 col-md-2">
							<label>创建日期: </label> 
							<input type="text" th:value="${#dates.format(main.makeDate, 'yyyy-MM-dd')}" class="form-control" readonly>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="state">状态:</label> 
							<select name="state" id="state" class="form-control" readonly></select>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-lg-12">
							<div class="tab-style-1" id="tabs">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#tab-1">商品价格</a></li>
									<li><a data-toggle="tab" href="#tab-2">基材浮动区间价格明细</a></li>
									<li><a data-toggle="tab" href="#tab-3">附件</a></li>
									<li><a data-toggle="tab" href="#tab-4">操作日志</a></li>
								</ul>
								<div class="tab-content">
									<div id="tab-1" class="tab-pane row-fluid fade in active">
										<table id="detail_table" class="table table-striped table-bordered nowrap table-hover" style="width: 100%">
										</table>
									</div>
									<div id="tab-2" class="tab-pane row-fluid fade in">
										<table id="floating_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
										</table>
									</div>
									<div id="tab-3" class="tab-pane row-fluid fade in">
										<table id="attach_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
										</table>
									</div>
									<div id="tab-4" class="tab-pane row-fluid fade in">
										<div class="row edit-history">
											<a class="btn btn-primary save-history" id="show_modal_btn"><i class="fa fa-plus"></i> 添加说明</a>
										</div>
										<table id="history_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="modal fade" id="history_dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">添加说明</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form id="history_form" th:action="@{/operation_history/update}" method="post">
									<input type="hidden" name="action" value=" 添加说明" />
									<div class="row">
										<div class="col-md-12">
											<textarea name="content" placeholder="请输入说明" id="history_content" class="history-content" rows="5"></textarea>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary" id="save_history">保存</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>
<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR')">
	is_vendor = 1;
</script>

<script th:inline="javascript">
	var editor, invoice_editor, attach_editor, table_options, table, import_table, history_table, floating_table, attach_table;
  var qty_sum, money_sum;
  var invoice_code_seperator = "; ";
  /*[+
   var detail_url = [[@{|/contract/${main.code}/details|}]];
   var attach_list_url = [[@{|/contract/${main.code}/attaches|}]];
   var edit_url = [[@{/contract/}]];
   var import_url = [[@{/purchasein/select}]];
   var del_url = [[@{|/contract/${main.code}/delete|}]];
   var vendor_search_url = [[@{/vendor/search}]];
   var state = [[${main.state}]];
   var type = [[${main.type}]];
   var kind = [[${main.kind}]];
   var price_type = [[${main.priceType}]];
   var quantity_type = [[${main.quantityType}]];
   
   var history_url = [[@{|/operation_history/list/contract/${main.code}}|]];
   var company_search_url = [[@{/company/search}]];
   var download_url = [[@{|/contract/${main.code}/download|}]];
   +]*/

  $(document).ready(function() {

  	var rangeLength = 10;
  	
  	$(".datepicker").datepicker();
  	
  	$("#company").select2(App.getSelect2Options(company_search_url));
	  $("#vendor").select2(App.getSelect2Options(vendor_search_url));

	  $("#state").select2({
	    data : App.getContractStateData(),
	    minimumResultsForSearch : -1
	  }).select2("val", state.toString());
	  
	  $("#type").select2({
	    data : App.getContractTypeData(),
	    minimumResultsForSearch : -1
	  }).select2("val", type.toString());

	  $("#kind").select2({
	    data : App.getContractKindData(),
	    minimumResultsForSearch : -1
	  }).select2("val", kind.toString());
	  
	  $("#price_type").select2({
	    data : App.getContractPriceData(),
	    minimumResultsForSearch : -1
	  }).select2("val", price_type.toString());
	  
	  $("#quantity_type").select2({
	    data : App.getContractQuantityData(),
	    minimumResultsForSearch : -1
	  }).select2("val", quantity_type.toString());
	  
 	
  	function canEdit() {
  		if (state == 1) {
  			return true;
  		}	else {
  			return false;
  		}
  	}
  	
	  if (!canEdit()) {
		  $('input').attr("readonly", true);
		  $('select').attr("readonly", true);
	  }
	  
	  $('#history_dialog').on('shown.bs.modal', function() {
		  $('#history_content').focus();
	  });

	  

	  attach_editor = new $.fn.dataTable.Editor({
	    table : "#attach_table",
	    idSrc : "row_no",
	    i18n : {
		    remove : {
		      button : "删除行",
		      title : "删除行",
		      submit : "是",
		      confirm : {
		        _ : "确定要删除%d行数据吗?",
		        1 : "确定要删除吗?"
		      }
		    },
	    }
	  }).on('postRemove', function(e, json, ids) {
	  	var table_data = attach_table.rows().data().toArray();
		  var id = 1;
		  $.each(table_data, function(key, item) {
			  item.row_no = id++;
		  })
		  attach_table.rows().invalidate();
	  });
	  
	  attach_table = $('#attach_table').DataTable({
	    serverSide : false,
	    processing : false,
	    ajax : {
	      url : attach_list_url,
	      dataSrc : function(json) {
		      return json;
	      },
      },
	    select : canEdit()?{
		    style : 'multi',
		    selector: 'td:first-child',
	    }:false,	    
	    columns : [ {
	      data : null,
	      defaultContent : '',
	      orderable : false,
	      visible : canEdit(),
	      title : '选择',
	      className : 'select-checkbox',
	    }, {
	      data : 'row_no',
	      className : 'dt-center',
	      title : '行号',
	      width : '30px' 
	    }, {
	      data : 'date',
	      title : '日期',
	      className : 'dt-center',
	      render : $.fn.date_renderer,
	      width : '100px'
	    }, {
	      data : 'original_name',
	      title : '附件',
	      render: function (data, display, record) {
	      	var url = download_url + "/" + record.row_no;
	      	var html = data;
	      	if (data) {
	      		html = '<a href="' + url + '">' + data + '</a>';	
	      	} else {
	      		html = '<input type="file" name="attach"/>';
		      }

		      return html;
	      }
	    } ],
	    buttons : canEdit()?[ {
	      text : "添加行",
	      action : function(e, dt, node, config) {
		      var new_row = {
		        row_no : attach_table.rows().data().toArray().length + 1,
		        date : new Date().toISOString().slice(0, 10)
		      };
		      attach_table.row.add(new_row);
		      attach_table.draw();
	      }
	    }, {
	      extend : "remove",
	      editor : attach_editor
	    } ]:false,
	  });

	  $('#show_modal_btn').click(function() {
		  $('#history_dialog').modal('show');
	  });

	  loadNormalTable();
	  

	  $('#save_history').click(function() {
		  if (!$('#history_content').val()) {
			  App.showErrorDialog("日志内容不能为空！");
			  return;
		  }

		  $("#history_form").ajaxSubmit({
		    data : {
		      target_type : "contract",
		      target_id : $('#code').val(),
		    },
		    beforeSend : function() {
			    App.blockUI();
		    },
		    complete : function() {
			    App.unblockUI();
		    },
		    success : function(res, status, xhr, form) {
			    if (res.success == 1) {
				    $('#history_content').val('');
				    history_table.ajax.reload();
				    $('#history_dialog').modal('hide');
			    } else {
				    App.showErrorDialog(res.errmsg);
			    }
		    },
		    error : function(res, status, xhr, form) {
			    App.showErrorDialog("操作失败", "请稍后重试");
		    }
		  });
	  });

	  history_table = $('#history_table').DataTable({
	    serverSide : false,
	    processing : false,
	    ajax : {
	      url : history_url,
	      dataSrc : function(json) {
		      return json;
	      },
	    },
	    order : [ [ 0, 'desc' ] ],
	    columns : [ {
	      data : 'create_date',
	      title : '日期',
	      width : '150px',
	      className : 'dt-center',
	      render : $.fn.time_renderer,
	    }, {
	      data : 'action',
	      title : '动作',
	      width : '100px',
	      className : 'dt-center',
	    }, {
	      data : 'account.realname',
	      title : '操作人',
	      width : '150px',
	      className : 'dt-center',
	    }, {
	      data : 'content',
	      title : '说明',
	    } ],
	  });

	  $('#tabs a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
	  	var href = $(this).attr("href");
	  	
		  // FYP-table is id of datatable
		  if (table) {
			  table.columns.adjust().fixedColumns().relayout();
		  }

		  if (href == "#tab-2") {
		  	loadFloatingTable();
		  }

		  if (attach_table) {
			  attach_table.columns.adjust();
		  }

		  if (history_table) {
			  history_table.columns.adjust();
		  }

	  });

	  function updateData() {
		  var cost = 0, tax = 0, tax_cost = 0, adjust_tax_cost = 0;
		  var result = [];
		  var rowDatas = table.data();
		  var index = 1;
		  $.each(rowDatas, function(key, item) {
		  	cost += item.cost * 1;
		  	tax_cost += item.tax_cost * 1;
		  	adjust_tax_cost += item.adjust_tax_cost * 1;		  	
		  				  
		  	item.row_no = index++;
			  item.invoice_quantity = item.pi_quantity;
		  	item.invoice_cost = item.tax_cost * 1 + item.adjust_tax_cost * 1;
			  item.invoice_price = App.priceNumber(item.invoice_cost/item.invoice_quantity);

		  });		  

		  tax = App.costNumber(tax_cost - cost);
		  
		  $('#cost').val(cost);
		  $('#tax_cost').val(tax_cost);
		  $('#tax').val(tax);
		  $('#adjust_tax_cost').val(adjust_tax_cost);
		  
		  table.rows().invalidate().draw();
	  }
	  
	  function getFloatingTableData() {
		  var titleList = [];
  		var rowDatas = [];
  		var startWeight = $("#base_price").val();
  		var floatingRange = $("#floating_price").val();
  		
  		if (!startWeight) {
  			startWeight = 0;
  		} else {
  			startWeight = parseFloat(startWeight);
  		}
  		
  		if (!floatingRange) {
  			floatingRange = 0;
  		} else {
  			floatingRange = parseFloat(floatingRange);
  		}
  		
  		
  		for(var i=0; i<rangeLength; i++) {
  			var start = App.floatingPriceNumber(startWeight + floatingRange * i);
  			var end = App.floatingPriceNumber(startWeight + floatingRange * (i + 1) - 0.01);
  			var item = {
  					key: "range_" + i,
  					title: start + "-" + end
  			}	
  			titleList.push(item);
  		}
  		
	  	if (table) {
	  		rowDatas = table.data();
			  for(var i=0; i<rowDatas.length; i++) {
			  	var item = rowDatas[i];
			  	item.tax_cost = App.costNumber(item.tax_price * item.quantity);
			  	for (var j=0; j<rangeLength; j++) {
			  		var titleItem = titleList[j];
			  		var key = titleItem.key;
			  		item[key] = App.floatingPriceNumber(item.tax_price + item.floating_price * j);
			  	}
			  }
	  	}
	  	
		  return {
		  	title: titleList,
		  	data: rowDatas
		  }		  
	  }

	  function loadFloatingTable() {
	  	
		  var floating_table_data = getFloatingTableData();
		  var titleList = floating_table_data.title;
		  var data = floating_table_data.data;
		  var floating_table_options = {
		    serverSide : false,
		    processing : false,
		    ajax : false,
		    fixedColumns : {
			    leftColumns : 5,
		    },
		    data : floating_table_data.data,
		    columns : [ {
		      data : 'row_no',
		      sortable : false,
		      className : 'dt-center',
		      title : '行号'
		    }, {
		      data : 'inventory.code',
		      sortable : false,
		      title : '货品代码',
		    }, {
		      data : 'inventory.name',
		      title : '货品名称',
		      sortable : false,
		    }, {
		      data : 'inventory.specs',
		      sortable : false,
		      className : 'dt-center',
		      title : '规格型号',
		    }, {
		      data : 'inventory.main_measure',
		      sortable : false,
		      className : 'dt-center',
		      title : '单位',
		    }, {
		      data : 'quantity',
		      sortable : false,
		      className : 'dt-center',
		      title : '数量',
		    }, {
		      data : null,
		      sortable : false,
		      className : 'dt-center',
		      title : '税率',
		      render: function() {
		      	return $("#tax_rate").val();
		      }
		    }, {
		      data : 'tax_price',
		      sortable : false,
		      className : 'dt-right',
		      title : '基准含税单价',
		    }, {
		      data : 'tax_cost',
		      sortable : false,
		      className : 'dt-right',
		      title : '含税金额',
		    }, {
		      data : 'floating_direction',
		      sortable : false,
		      className : 'dt-center',
		      title : '浮动方向',
		      render: App.getFloatingDirectionOfId
		    }, {
		      data : 'floating_price',
		      sortable : false,
		      className : 'dt-center',
		      title : '阶梯浮动幅度'		    
		    } ],
		    footerCallback : function(row, data, start, end, display) {
		    	var sumColumns = [];
		    	sumColumns.push([ 5, "quantity" ]);
		    	sumColumns.push([ 8, "cost" ]);
		    	for(var i=0; i<rangeLength; i++) {
		    		sumColumns.push([ 11 + i, "cost" ]);
		    	}
			    App.footerCallback(this.api(), sumColumns);
		    },
		  };		  
		  
		  for (var i=0; i<titleList.length; i++) {
		  	var title = titleList[i];
		  	var column = {
	  			data : title.key,
		      sortable : false,
		      className: 'dt-center',
		      title : title.title	
		  	}
		  	
		  	floating_table_options.columns.push(column);
		  }
		  
	  	if (floating_table) {
		  	floating_table.clear().destroy();
			  $('#floating_table').empty();
		  }
	  	
	  	
		  var footer = $("<tfoot></tfoot>").appendTo("#floating_table");
		  var footertr = $("<tr></tr>").appendTo(footer);

		  //Add footer cells
		  var totalColumnCount = floating_table_options.columns.length;
		  var fixedColumnCount = floating_table_options.fixedColumns.leftColumns;
		  
		  for (var i = 0; i < totalColumnCount - fixedColumnCount + 1; i++) {
			  if (i == 0) {
				  $("<th colspan='" + fixedColumnCount + "' class='dt-center' style='text-align:center'>合计</th>").appendTo(footertr);
			  } else {
				  $("<th></th>").appendTo(footertr);
			  }
		  }		  
		  
		  floating_table = $('#floating_table').DataTable(floating_table_options);
	  }
	  
	  function loadNormalTable() {
		  editor = new $.fn.dataTable.Editor({
		    table : "#detail_table",
		    idSrc : "pi_detail_id",
		    fields : [ {
		      attr : {
			      type : "number"
		      },
		      id : "adjust_tax_cost",
		      name : "adjust_tax_cost"
		    }, {
		      id : "memo",
		      name : "memo"
		    } ],
		    i18n : {
			    remove : {
			      button : "删除行",
			      title : "删除行",
			      submit : "是",
			      confirm : {
			        _ : "确定要删除%d行数据吗?",
			        1 : "确定要删除吗?"
			      }
			    },
		    }
		  }).on('submitSuccess', function(e, data, action) {
		  	updateData();
		  });

		  table_options = {
		    serverSide : false,
		    processing : false,
		    destroy : true,
		    ordering : false,
		    select : canEdit()?{
			    style : 'multi'
		    }:false,
		    buttons : canEdit()?[ {
		      text : "导出EXCEL模板",
		      action : function(e, dt, node, config) {
						alert("导出EXCEL数据");
		      }
		    }, {
		    	text : "导入EXCEL数据",
		      action : function(e, dt, node, config) {
		      	alert("导入EXCEL数据");
		      }
		    } ]:false,
		    ajax : {
		      url : detail_url,
		      dataSrc : function(json) {
		      	$.each(json, function(key, item) {
		  		  	item.tax_cost = App.costNumber(item.tax_price * item.quantity);
		  		  });	
			      return json;
		      },
		    },
		    columns : [ {
		      data : 'row_no',
		      sortable : false,
		      className : 'dt-center',
		      title : '行号'
		    }, {
		      data : 'inventory.code',
		      sortable : false,
		      title : '货品代码',
		    }, {
		      data : 'inventory.name',
		      title : '货品名称',
		      sortable : false,
		    }, {
		      data : 'inventory.specs',
		      sortable : false,
		      className : 'dt-center',
		      title : '规格型号',
		    }, {
		      data : 'inventory.main_measure',
		      sortable : false,
		      className : 'dt-center',
		      title : '单位',
		    }, {
		      data : 'quantity',
		      sortable : false,
		      className : 'dt-center',
		      title : '数量',
		    }, {
		      data : null,
		      sortable : false,
		      className : 'dt-center',
		      title : '税率',
		      render: function() {
		      	return $("#tax_rate").val();
		      }
		    }, {
		      data : 'tax_price',
		      sortable : false,
		      className : 'dt-right',
		      title : '含税单价',
		    }, {
		      data : 'tax_cost',
		      sortable : false,
		      className : 'dt-right',
		      title : '含税金额',
		    }, {
		      data : 'floating_direction',
		      sortable : false,
		      className : 'dt-center',
		      title : '浮动方向',
		      render: App.getFloatingDirectionOfId
		    }, {
		      data : 'floating_price',
		      sortable : false,
		      className : 'dt-center',
		      title : '阶梯浮动幅度'		 
		    }, {
		      data : 'memo',
		      sortable : false,
		      title : '订单备注'		    
		    } ],
		    order : [ [ 0, "asc" ] ],
		    footerCallback : function(row, data, start, end, display) {
			    App.footerCallback(this.api(), [ [ 5, "quantity" ], [ 8, "cost" ] ]);
		    },
		    drawCallback : function(settings) {
		    	
		    }
		  };

		  if (table) {
			  table.clear().destroy();
			  $('#detail_table').empty();
		  }

		  var footer = $("<tfoot></tfoot>").appendTo("#detail_table");
		  var footertr = $("<tr></tr>").appendTo(footer);

		  //Add footer cells
		  for (var i = 0; i < 8; i++) {
			  if (i == 0) {
				  $("<th colspan='5' class='dt-center' style='text-align:center'>合计</th>").appendTo(footertr);
			  } else {
				  $("<th></th>").appendTo(footertr);
			  }
		  }
		  table = $('#detail_table').DataTable(table_options);
	  }

	  $("#form").validate({
	    // define validation rules
	    rules : {
	      vendor : {
		      required : true
	      },
	      company : {
		      required : true
	      },
	      tax_rate : {
		      required : true,
	      },
	      invoice_code : {
		      required : state==6
	      },
	      invoice_type : {
	      	required : state==6
	      },
	    },

	    //display error alert on form submit  
	    invalidHandler : function(event, validator) {
		    App.showErrorDialog("操作失败", "请输入正确的值");
		    validator.focusInvalid();
	    },

	    submitHandler : function(form) {
		    
		    var attaches = attach_table.rows().data().toArray();
		    var postAttachIds = [];
		    $.each(attaches, function(key, item) {
		    	if (item.id)
		    		postAttachIds.push(item.id);
		    });
		    
		    var details = table.rows().data().toArray();
		    var post_table = [];
		    $.each(details, function(key, item) {
		    	var row = {
		    			row_no: item.row_no,
		    			inventory_code: item.inventory.code,
		    			quantity: item.quantity,
		    			tax_price: item.tax_price,
		    			floating_direction: item.floating_direction,
		    			floating_price: item.floating_price,
		    			memo: item.memo
		    	};
		    	post_table.push(row);
		    });
		    
		    var post_data = {
		    		attachIds: postAttachIds.join(",")
		    };
		    
		    if ($('#state').val() <= 3) {
			    post_data.table = post_table;
		    }

		    var new_state = $('#state').val();
		    var action = $('#action').val();
		    
		    var confirmMessage = "";
		    
		    if (new_state == 1) {
			    confirmMessage = "保存";
		    } else if (new_state == 2) {
			    confirmMessage = "提交";
		    } else if (new_state == 3) {
			    confirmMessage = "审核";
		    } else if (new_state == 4) {
			    confirmMessage = "终止";
		    }
		    

		    App.showInputConfirmDialog('确定要' + confirmMessage + '吗?', function(submit_content) {
			    post_data.content = submit_content;
			    jQuery(form).ajaxSubmit({
			      beforeSend : function() {
				      App.blockUI();
			      },
			      complete : function() {
				      App.unblockUI();
			      },
			      data : post_data,
			      success : function(res, status, xhr, form) {
				      if (res.success == 1) {
					      App.showSuccessDialog("操作成功", function() {
						      window.location.href = edit_url + res.data.code + "/edit";
					      });
				      } else {
					      App.showErrorDialog("操作失败", res.errmsg);
				      }
			      },
			      error : function(res, status, xhr, form) {
				      App.showErrorDialog("操作失败", "请输入正确的值");
			      }
			    });
		    });

	    }
	  });

	  function checkTable() {
		  var available = true;

		  if (!available) {
			  App.showErrorDialog("操作失败", "请在表里的【" + empty_column + "】列输入有效值！");
		  }
		  return available;
	  }

	  $("#save").click(function() {
		  editor.submit();
		  if (!checkTable()) {
			  return;
		  }
		  $('#state').val(1);
		  $("#form").submit();
	  });

	  $("#submit").click(function() {
		  editor.submit();
		  if (!checkTable()) {
			  return;
		  }
		  var data = table.rows().data().toArray();
		  if (data.length == 0) {
			  App.showErrorDialog("操作失败", "没有要提交的货品");
			  return;
		  }
		  $('#state').val(2);
		  $("#form").submit();
	  });

	  $("#review").click(function() {
		  $('#state').val(3);
		  $("#form").submit();
	  });
	  
	  $("#deploy").click(function() {
		  $('#state').val(4);
		  $("#form").submit();
	  });

	  $("#cancel").click(function() {
		  $('#state').val(5);
		  $("#form").submit();
	  });
	  
	  $("#confirm").click(function() {
		  $('#state').val(6);
		  $("#form").submit();
	  });

	  $("#deny").click(function() {
		  $('#state').val(7);
		  $("#form").submit();
	  });
	  
	  $("#delete").click(function() {
		  App.showConfirmDialog('确定要删除吗?', function() {
			  $.get(del_url, function(data, status) {
				  App.showSuccessDialog("操作成功", function() {
					  window.location.href = edit_url;
				  });
			  });
		  });
	  });

	  $("#del_attach").click(function() {
		  App.showConfirmDialog('确定要删除吗?', function() {
			  var del_url = edit_url + $("#code").val() + "/deleteattach";
			  $.get(del_url, function(data, status) {
				  App.showSuccessDialog("操作成功", function() {
					  window.location.reload(true);
				  });
			  });
		  });
	  });

	  $("#adjust_tax_cost").change(function() {
	  	calcRowAdjustTaxCost();
	  });
	  
	  $("#print").click(function() {
	  	var url = "http://www.meidasy.cn:8180/WebReport/ReportServer?reportlet=SRM/shdSrm.cpt&code=" + $('#code').val();
	  	if (window.location.host.startsWith("192.")) {
	  		url = "http://192.168.30.204:8180/WebReport/ReportServer?reportlet=SRM/shdSrm.cpt&code=" + $('#code').val();
	  	}	  	
	  	var win = window.open(url, '_blank');
	    win.focus();
	  });
	  
	  $('#export_detail').click(function() {
	  	var file_name = $('#code').val() + "_明细信息.csv";
	  	App.exportCSVFromDatatable(table, file_name);
	  });
	  
  });
</script>
