<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li>价格管理</li>
        <li sec:authorize="hasRole('ROLE_BUYER')"><a th:href="@{/quote}" class="active">报价管理</a></li>
        <li sec:authorize="hasRole('ROLE_BUYER')" class="active">报价单详细</li>
        <li sec:authorize="hasRole('ROLE_VENDOR')"><a th:href="@{/quote}" class="active">询价管理</a></li>
        <li sec:authorize="hasRole('ROLE_VENDOR')" class="active">询价单详细</li>
      </ul>
    <div class="btn-group-bar">
        <div class="text-right">
          <a class="btn btn-primary" sec:authorize="hasAuthority('报价管理-通过/拒绝')" th:if="${main.iverifystate==3}" id="pass"><i class="fa fa-arrow-up"></i> 通过</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('报价管理-通过/拒绝')" th:if="${main.iverifystate==3}" id="cancel"><i class="fa fa-undo"></i> 拒绝</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('报价管理-审核/退回')" th:if="${main.iverifystate==5}" id="verify"><i class="fa fa-check-square"></i> 审核</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('报价管理-审核/退回')" th:if="${main.iverifystate==5}" id="cancel"><i class="fa fa-undo"></i> 退回</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('报价管理-归档')" th:if="${main.iverifystate==6}" id="publish"><i class="fa fa-cloud-upload"></i> 归档</a>
          <a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.iverifystate==2}" id="confirm"><i class="fa fa-arrow-up"></i> 确认</a>
          <a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.iverifystate==2}" id="cancel"><i class="fa fa-undo"></i> 退回</a>
          <a class="btn btn-default" th:href="@{/quote}"><i class="fa fa-arrow-left"></i> 返回</a>
      </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body"> 
        <form id="form" th:action="@{/quote/update}" method="post">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                  <label for="code">单号: </label>
                  <input type="text" id="ccode" name="ccode" th:value="${main.ccode}" class="form-control" readonly />
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="vendor">供应商:</label>
                  <select id="vendor" name="vendor" class="form-control">
                    <option th:if="${main.vendor != null}" th:value="${main.vendor.code}" th:text="${main.vendor.name}" selected="selected">NEC（日电）有限公司</option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="tax_rate">税率:</label>
                  <input type="number" id="tax_rate" th:value="${main.itaxrate}" name="tax_rate" class="form-control">
                </div>
                
                <div class="col-lg-3 col-md-3">
                  <label for="state">状态:</label>
                  <select name="state" id="state" class="form-control" readonly>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="end_date">生效日期:</label>
                  <input type="text" name="start_date" id="start_date" th:value="${#dates.format(main.dstartdate, 'yyyy-MM-dd')}" class="form-control datepicker">
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="end_date">有效日期:</label>
                  <input type="text" name="end_date" id="end_date" th:value="${#dates.format(main.denddate, 'yyyy-MM-dd')}" class="form-control datepicker">
                </div>        
                <div class="col-lg-3 col-md-3">
                  <label for="type">报价类型:</label>
                  <select name="type" id="type" class="form-control">
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="provide_type">供应类型:</label>
                  <select name="provide_type" id="provide_type" class="form-control">
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="maker_id">制单人:</label>
                  <select name="maker" id="maker" class="form-control select2" readonly>
                    <option th:value="${main.maker.id}" th:text="${main.maker.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label for="make_date">单据日期: </label>
                  <input type="text" name="make_date" id="make_date" th:value="${#dates.format(main.dmakedate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label>确认人:</label>
                  <select class="form-control select2" readonly>
                    <option th:value="${main.reviewer?.id}" th:text="${main.reviewer?.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label>确认日期: </label>
                  <input type="text" th:value="${#dates.format(main.dreviewdate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
        
                <div class="col-lg-3 col-md-3">
                  <label>审核人:</label>                      
                  <select class="form-control select2" readonly>
                    <option th:value="${main.verifier?.id}" th:text="${main.verifier?.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label>审核日期:</label>
                  <input type="text" th:value="${#dates.format(main.dverifydate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label>归档人:</label>
                  <select class="form-control select2" readonly>
                    <option th:value="${main.publisher?.id}" th:text="${main.publisher?.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <label>归档日期:</label>
                  <input type="text" th:value="${#dates.format(main.dpublishdate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
            </div>
            <div class="row margin-top-10">
              <div class="col-lg-12">
                  <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
                  </table>
              </div>
            </div>
        </form>
        </div>
    </div>
    </div>
  </body>
</html>
<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR')">
is_vendor = 1;
</script>

<script th:inline="javascript">
  var editor;
  /*[+    
  var detail_url = [[@{|/inquery/${main.ccode}/details|}]];
  var edit_url = [[@{/quote/}]];
  +]*/ 
  var vendor_search_url = /*[[@{/vendor/search}]]*/'';
  var state = /*[[${main.iverifystate}]]*/'';
  var type = /*[[${main.type}]]*/'';
  var supply_type = /*[[${main.isupplytype}]]*/'';
  
  $(document).ready(function() {

    $('#start_date').datepicker();
    $('#end_date').datepicker();
    
    $(".select2").select2();
    $("#state").select2({ data: App.getInqueryStateData(),minimumResultsForSearch: -1}).select2("val", state.toString());
    $("#type").select2({ data: App.getInqueryTypeData(),minimumResultsForSearch: -1 }).select2("val", type.toString());
    $("#provide_type").select2({ data: App.getInqueryProvideTypeData(),minimumResultsForSearch: -1 }).select2("val", supply_type.toString());
    $("#vendor").select2(App.getSelect2Options(vendor_search_url));
   
    if (state > 1) {
      $('input').attr("readonly", true);
      $('select').attr("readonly", true);
      $("#start_date").datepicker( "option", "disabled", true );
      $("#end_date").datepicker( "option", "disabled", true );
    }

    editor = new $.fn.dataTable.Editor( {
      table: "#example",  
      idSrc: "rowno",
      //template: '#customForm',
      fields: [ {
        name: "cinvcode"                
      },{
        attr: {
          type: "number",
        },
        name: "iunitprice"    
      },{
        attr: {
          type: "number",
        },
        name: "itaxrate"   
      },{
        label: "是否有效:",
        type: "checkbox",
        separator: "|",
        options:   [
            { label: '', value: 1 }
        ],
        id: "ivalid",
        name: "ivalid"  
      },{
        attr: {
          type: "number",
        },
        name: "itaxunitprice"                
      }],
    }).on( 'preSubmit', function (e, data, action) {
      if ( action !== 'remove' ) {
        
        var currentFieldName = e.currentTarget.s.includeFields[0];
        
        if (currentFieldName == "ivalid"){
          if (editor.field(currentFieldName).val() == 1) {
            var table_data = table.rows().data().toArray();
            var id = 1;
            $.each(data.data, function(rowno, editRow){  
              $.each(table_data, function(key, item){
                if (item.cinvcode == editRow.cinvcode){
                  if (item.rowno != rowno){
                    item.ivalid = 0;
                  }
                }
              })
            });
            table.rows().invalidate();
            
          }
          return true;
        }
        
        var editingField = editor.field(currentFieldName);
        if (editingField.val() == undefined || editingField.val() == '' || parseFloat(editingField.val())<0) {
          editingField.input().addClass('error');
          return false;
        }else{
          editingField.input().removeClass('error');
        }
        
        if (currentFieldName == 'itaxrate' && parseFloat(editingField.val())> 100){
          editingField.input().addClass('error');
          return false;
        }
        
        if (currentFieldName == 'iunitprice' || currentFieldName == 'itaxrate') {
          $.each(data.data, function(key, item){  
            if (item.itaxrate != undefined && item.iunitprice != undefined) {
              value = (Number.parseFloat(item.itaxrate) + 100) * item.iunitprice/100;
              item.itaxunitprice =value?parseFloat(value).toFixed(2):'';   
            }
          });
        }
        
        if (currentFieldName == 'itaxunitprice') {
          $.each(data.data, function(key, item){  
            if (item.itaxrate != undefined && item.itaxunitprice != undefined) {
              value = item.itaxunitprice*100/(Number.parseFloat(item.itaxrate) + 100);     
              item.iunitprice = value?parseFloat(value).toFixed(2):'';  
            } 
          });
        }
      }
    });
    
    var table_options = {
        serverSide:false,
        processing:false,
        ajax : {
          url : detail_url,
          dataSrc : function(json) {
            $.each(json, function(key, item){
              item.dstartdate = $.fn.date_renderer(item.dstartdate);
              item.denddate = $.fn.date_renderer(item.denddate);
            });
            return json;
          },
        },

        columns : [ {
          data : 'rowno',
          className: 'dt-center',
          title : '行号',
        }, {          
          data : 'cinvcode',
          title : '商品编码',
        }, {
          data : 'name',
          title : '商品名称'
        }, {
          data : 'specs',
          title : '规格型号',
        }, {
          data : 'puunit_name',
          className: 'dt-center',
          title : '单位',
        }, {
          data : 'fminquantity',
          className: 'dt-right',
          title : '最小数量',
        }, {
          data : 'fmaxquantity',
          className: 'dt-right',
          title : '最大数量',
        }, {
          data : 'iunitprice',
          className: 'dt-right edit-cell',
          title : '最新未税价格',
        }, {
          data : 'itaxrate',
          className: 'dt-center edit-cell',
          title : '税率',
        }, {
          data : 'itaxunitprice',
          className: 'dt-right edit-cell',
          title : '最新含税报价',
        }, {
          data : 'dstartdate',
          className: 'dt-center',
          title : '生效日期',
        }, {
          data : 'denddate',
          className: 'dt-center',
          title : '有效日期'
        }, {
          data : 'ivalid',
          title : '是否有效',
          className: 'ivalid dt-center',
          visible: state>2 && type==2,
          render: App.valid_render,
        }, {
          data : 'cbodymemo',
          className: 'edit-cell',
          title : '备注　　　　　　　',

        } ],
        rowCallback: function ( row, data ) {
            // Set the checked state of the checkbox in the table
            $('input.editor-valid', row).prop( 'checked', data.ivalid == 1 );
        }
      };    


    var table = $('#example').DataTable(table_options);

    if (state == 2 && !is_vendor && !is_readonly){
      if ($("#type").val()==2 ) {
        table.on( 'click', 'tbody td.edit-cell', function (e) {
          editor.inline( this, { submit: 'allIfChanged', submitOnBlur: true });
        } );
        App.addKeyDownEditor(editor, 7, 9);
      }
    }

    
    
    if (state == 3 && !is_vendor && !is_readonly){
      table.on( 'click', 'tbody td.ivalid', function (e) {
        editor.inline( this, { submit: 'allIfChanged', submitOnBlur: true });
      } );
    }
    
    $.validator.addMethod("checkTable", function(value, element){
      var exist_data = table.rows().data().toArray();
      for(i=0; i<exist_data.length; i++) {
        exist_row = exist_data[i];
        
        if (exist_row.iunitprice == undefined || exist_row.iunitprice == "" || exist_row.iunitprice <= 0) {
          App.showErrorDialog("操作失败", "最新未税报价不能为空！");
          return false;
        }
        if (exist_row.itaxrate == undefined || exist_row.itaxrate == "" || exist_row.itaxrate <= 0) {
          App.showErrorDialog("操作失败", "税率不能为空！");
          return false;
        }
        if (exist_row.itaxunitprice == undefined || exist_row.itaxunitprice == "" || exist_row.itaxunitprice <= 0) {
          App.showErrorDialog("操作失败", "最新含税报价不能为空！");
          return false;
        }
      }
      return true;
    }, "");
    
    $("#form" ).validate({
      // define validation rules
      rules: {
          vendor: {
              required: true,
              checkTable: true
          }, 
          tax_rate: {
              required: true
          },
          start_date: {
              required: true
          },    
          end_date: {
              required: true
          },    
      },
      
      //display error alert on form submit  
      invalidHandler: function(event, validator) {
        App.showErrorDialog("操作失败", "请输入正确的值");
      },

      submitHandler: function (form) {
        var data = table.rows().data().toArray();
          jQuery(form).ajaxSubmit({
              data: {table:data},
              success: function(res, status, xhr, form) {
                App.showSuccessDialog("操作成功", function(){
                  window.location.href = edit_url + res.ccode + "/edit";
                });
              },
              error: function (res, status, xhr, form) {
                App.showErrorDialog("操作失败", "请输入正确的值");
              }
          });
      }
    }); 
    
    $("#confirm").click(function() {
      editor.submit();
      if ($('#type').val() == 1)
        $('#state').val(5);
      else
        $('#state').val(3);
      $("#form").submit();            
    });
    
    $("#cancel").click(function() {
      editor.submit();
      $('#state').val(4);
      $("#form").submit();            
    });
    
    $("#pass").click(function() {
      editor.submit();
      $('#state').val(5);
      $("#form").submit();            
    }); 
    
    $("#verify").click(function() {
      $('#state').val(6);
      $("#form").submit();            
    });   
    
    $("#publish").click(function() {
      $('#state').val(7);
      $("#form").submit();            
    });       
  });
</script>