<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li><a th:href="@{/statement}" class="active">对账单管理</a></li>
      <li class="active" th:text="${#strings.contains(#request.requestURI,'add')} ?'新建对账单':'对账单详细'"></li>
    </ul>       
    <div class="btn-group-bar">
        <div class="text-right">
          <a class="btn btn-success" sec:authorize="hasAuthority('对账单管理-新建/发布')" th:if="${main.state==1  or main.state==4}" id="sync"><i class="fa fa-download"></i> 同步U8入库单</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('对账单管理-新建/发布')" th:if="${main.state==1  or main.state==4}" id="save"><i class="fa fa-save"></i> 保存</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('对账单管理-新建/发布')" th:if="${main.state==1  or main.state==4}" id="submit"><i class="fa fa-share"></i> 提交</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('对账单管理-审核/退回')" th:if="${main.state==2}" id="review"><i class="fa fa-arrow-up"></i> 审核/发布</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('对账单管理-审核/退回')" th:if="${main.state==2}" id="cancel"><i class="fa fa-undo"></i> 退回</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('对账单管理-新建/发布')" th:if="${main.state==5}" id="u8invoice"><i class="fa fa-check-square"></i> 生成U8采购发票</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('对账单管理-新建/发布')" th:if="${main.state==5 or main.state==7}" id="buyer_cancel"><i class="fa fa-recycle"></i> 撤销</a>
          <a class="btn btn-primary" sec:authorize="hasAuthority('对账单管理-删除')" th:if="${!#strings.contains(#request.requestURI,'add') and (main.state==1  or main.state==4)}" id="delete"><i class="fa fa-remove"></i> 删除</a>

          <a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.state==3 or main.state==7}" id="verify"><i class="fa fa-check-square"></i> 确认</a>
          <a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.state==3 or main.state==7}" id="cancel"><i class="fa fa-undo"></i> 退回</a>
          <a class="btn btn-default" th:href="@{/statement}"><i class="fa fa-arrow-left"></i> 返回列表</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body"> 
        <form id="form" th:action="@{/statement/update}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                  <label for="code">单号: </label>
                  <input type="text" id="code" name="code" th:value="${main.code}" class="form-control" readonly />
                </div>
                <div class="col-lg-4 col-md-4">
                  <label for="vendor">供应商:</label>
                  <select id="vendor" name="vendor" class="form-control">
                    <option th:if="${main.vendor != null}" th:value="${main.vendor?.code}" th:text="${main.vendor?.name}" selected="selected">NEC（日电）有限公司</option>
                  </select>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label for="type">对账类型: </label>
                  <select name="type" id="type" class="form-control"></select>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label for="state">状态:</label>
                  <select name="state" id="state" class="form-control" readonly>
                  </select>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label for="maker">制单人:</label>
                  <select name="maker" id="maker" class="form-control select2" readonly>
                    <option th:value="${main.maker?.id}" th:text="${main.maker?.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label for="makedate">单据日期: </label>
                  <input type="text" name="makedate" id="makedate" th:value="${#dates.format(main.makedate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label>发布人:</label>
                  <select class="form-control select2" readonly>
                    <option th:value="${main.verifier?.id}" th:text="${main.verifier?.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label>发布日期: </label>
                  <input type="text" th:value="${#dates.format(main.verifydate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label>确认人:</label>
                  <select class="form-control select2" readonly>
                    <option th:value="${main.confirmer?.id}" th:text="${main.confirmer?.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label>确认日期: </label>
                  <input type="text" th:value="${#dates.format(main.confirmdate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label>生成U8发票人:</label>
                  <select class="form-control select2" readonly>
                    <option th:value="${main.verifier?.id}" th:text="${main.u8invoicemaker?.realname}" selected="selected"></option>
                  </select>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label>生成U8发票日期: </label>
                  <input type="text" th:value="${#dates.format(main.u8invoicedate, 'yyyy-MM-dd')}" class="form-control" readonly>
                </div>
                <div class="col-lg-2 col-md-2">
                  <label for="tax_rate">税率: </label>
                  <input type="number" id="tax_rate" name="tax_rate" th:value="${main.taxRate}" class="form-control"/>
                </div>                
                <div class="col-lg-4 col-md-4">
                  <label for="invoice_code">发票号:(5679/80/81 表示5679、5680、5681三张发票) </label>
                  <input type="text" id="invoice_code" name="invoice_code" th:value="${main.invoiceCode}" class="form-control" disabled/>
                </div>     
                <div class="col-lg-2 col-md-2" id="invoice_type_div">
                  <label for="invoice_type">U8发票类型: </label>
                  <select name="invoice_type" id="invoice_type" class="form-control" readonly></select>
                </div>                
                <div class="col-lg-6 col-md-6">
                  <label for="remark">摘要: </label>
                  <input type="text" id="remark" name="remark" th:value="${main.remark}" class="form-control" />
                </div>     
                <div class="col-lg-4 col-md-4">
                  <label for="cancel_reason">发票退回原因 </label>
                  <input type="text" id="cancel_reason" th:value="${main.invoiceCancelReason}" class="form-control" disabled/>
                </div>     
                <div class="col-lg-2 col-md-2">
                  <label for="cancel_date">发票退回时间</label>
                  <input type="text" id=""cancel_date"" th:value="${#dates.format(main.invoiceCancelDate, 'yyyy-MM-dd')}" disabled class="form-control" />
                </div>        
                <div class="col-lg-6 col-md-6 form-group" sec:authorize="hasAuthority('对账单管理-新建/发布')" id="file_select" th:if="${(main.state==1 or main.state == 4) and main.attachFileName == null}">
                  <label for="remark">　</label>
                  <div class="input-group input-file" name="attach">
                      <span class="input-group-btn">
                        <button class="btn btn-success btn-file btn-choose" type="button">选择附件</button>
                      </span>
                      <input type="text" class="form-control" placeholder='请选择附件' />
                      <span class="input-group-btn">
                         <button class="btn btn-warning btn-file btn-reset" type="button">重置</button>
                      </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 form-group" id="file_show">
                  <label for="remark">　</label>
                  <div th:if="${main.attachFileName!=null}" >
                    <span><b>附件：</b></span>
                    <a th:href="@{|/statement/${main.code}/download|}" th:text="${main.attachOriginalName}"></a><a class="btn" style="visibility: hidden;">　</a> 
                    <a class="btn btn-danger" id="del_attach" sec:authorize="hasAuthority('对账单管理-新建/发布')" th:if="${main.attachOriginalName!=null and (main.state==1  || main.state==4)}">删除附件</a>
                  </div>
                  <div th:if="${main.attachFileName==null}" >
                    <span><b>附件：</b></span>
                    <span>---</span><a class="btn" style="visibility: hidden;">　</a>             
                  </div>
                </div>
                         
            </div>
            <div class="row margin-top-10">
              <div class="col-lg-12">
                <table id="detail_table" class="table table-striped table-bordered nowrap table-hover" style="width:100%">
                </table> 
              </div>
            </div>
        </form>
        <div class="modal fade" id="import_dialog" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document" style="width:1000px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                                                        选择要对账的物料
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body form-horizontal">

                      <div class="search-content">
                          <div class="search-cell width-10">
                            <label for="search_date">入库日期: </label>
                            <input type="text" id="search_date" value="" class="form-control" />
                          </div>
                          <div class="search-cell width-10">
                            <label for="search_code">出入库单号：</label>
                            <input type="text" id="search_code" class="form-control">
                          </div>
                          <div class="search-cell width-10">
                            <label for="search_inventory">物料编码/名称：</label>
                            <input type="text" id="search_inventory" class="form-control">
                          </div>
                          <div style="vertical-align: bottom" class="search-cell width-15">
                            <button class="btn btn-default" id="btn_search"><i class="fa fa-search"></i> 查询</button>
                          </div>
                      </div>
                
                      <div class="row">
                        <div class="col-lg-12 table-responsive">
                            <table id="import_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
                            </table>
                        </div>
                      </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="btn_import">保存</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    </div>
  </div>
  </div>
</body>
</html>
<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR')">
is_vendor = 1;
</script>

<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR') or hasAuthority('对账单管理-新建/发布')">
is_readonly = 0;
</script>

<script th:inline="javascript">
var editor, table_options, table, import_table; 
/*[+
var sync_url = [[@{/sync/purchasein/vendor/}]];
var detail_url = [[@{|/statement/${main.code}/details|}]];
var edit_url = [[@{/statement/}]];
var import_url = [[@{/purchasein/select}]];
var del_url = [[@{|/statement/${main.code}/delete|}]];
var vendor_search_url = [[@{/vendor/search}]];
var state = [[${main.state}]];
var type = [[${main.type}]];
var invoice_type = [[${main.invoiceType}]];
var hasAttach = [[${main.attachFileName != null}]];
+]*/ 
  
$(document).ready(function() {

  App.bs_input_file();
  
  $('.modal').on('shown.bs.modal', function () {
    load_import_table();
  });
  
  function load_import_table() {
    
    $('#search_code').val('');
    $('#search_date').val('');
    $('#search_inventory').val('');
    
    
    if (import_table == undefined) {

      import_table = $('#import_table').DataTable({
        ordering : true,
        select: {style: 'multi'},
        ajax : {
          url : import_url,
          data : function(data) {
            var filter = {
              order : data.columns[data.order[0].column].data,
              dir : data.order[0].dir,
              rows_per_page : data.length,
              page_index : data.start / data.length + 1,
              vendor : $('#vendor').val(),
              inventory: $('#search_inventory').val(),
              code : $('#search_code').val(),
              type: ($('#type').val()==1?'普通采购':'委外加工'),
              date : $('#search_date').val()
            }
            return filter;
          },
          dataSrc : function(json) {
            json.recordsTotal = json.totalElements;
            json.recordsFiltered = json.totalElements;
            return json.content;
          },
        },
        columns : [ {
          data : 'date',
          render : $.fn.date_renderer,
          className:'dt-center',
          title : '入库日期'
        }, {
          data : 'code',
          title : '出入库单号'
        }, {
          data : 'po_code',
          title : '订单号'
        }, {
          data : 'rowno',
          className:'dt-center',
          title : '行号',
        }, {
          data : 'inventoryname',
          title : '物料名称'
        }, {
          data : 'inventorycode',
          title : '物料编码'
        }, {
          data : 'specs',
          title : '规格型号',
        }, {
          data : 'unitname',
          className:'dt-center',
          title : '单位',
        }, {
          data : 'quantity',
          className:'dt-right',
          title : '入库数量',
        }, {
          data : 'nat_price',
          className:'dt-right',
          title : '订单未税单价',
        }, {
          data : 'nat_tax_price',
          className:'dt-right',
          title : '订单含税单价',
        }, {
          data : 'price',
          className:'dt-right',
          title : '单价',
        }, {
          data : 'cost',
          className:'dt-right',
          title : '金额',
        }, {
          data : 'nat_tax_rate',
          className:'dt-right',
          title : '税率',
        }, {
          data : 'nat_tax_price',
          className:'dt-right',
          title : '含税单价',
        }, {
          data : 'tax_cost',
          className:'dt-right',
          title : '含税金额',
        }, {
          data : 'state',
          className:'dt-center',
          title : '状态',
          render : App.getPurchaseInStateOfId,
        } ],
        order: [  [ 1, "asc" ] ],
        
      });
    }
    $('#btn_search').trigger('click');

  }
  
  $('#date').datepicker();
  
  $("#search_date").datepicker({
    onSelect: function(dateText) {
      import_table.draw();
    }
  });
  
  $('#search_inventory, #search_code, #search_date').keyup(function(e) {
    if (e.keyCode == 13)
      import_table.draw();
  });
    
  $(".select2").select2();
  $("#state").select2({ data: App.getStatementStateData(),minimumResultsForSearch: -1}).select2("val", state.toString());
  $("#type").select2({ data: App.getStatementTypeData(),minimumResultsForSearch: -1}).select2("val", type.toString());
  $("#invoice_type").select2({ data: App.getInvoiceTypeData(),minimumResultsForSearch: -1}).select2("val", invoice_type.toString());
  $("#vendor").select2(App.getSelect2Options(vendor_search_url));
  
  if ((state != 1 && state != 4) || is_readonly) {
    $('input').attr("readonly", true);
    $('select').attr("readonly", true);
  }

  if ((state == 3 || state == 7) && is_vendor) {
    $('#invoice_code').removeAttr("disabled");
    $('#invoice_code').removeAttr("readonly");
  }
  
  if (state == 5 && !is_vendor){
    $('#invoice_type').attr("readonly", false);
  }

  if ((state == 1 || state == 4) && !is_readonly){
    if (hasAttach){
      $('#file_select').hide();
      $('#file_show').show();
    }else{
      $('#file_select').show();
      $('#file_show').hide();
    }
  }else{
    $('#file_select').hide();
    $('#file_show').show();
  }
  
  $('#type').change(function() {
    onChangeType();
  });
  
  function updateInvoiceData() {
    var result = [];
    var charge_back = 0, closed_tax_money_sum = 0;
    var isNew = false;
    var chargeRowIndex = 1;
    var rowDatas = table.data();
    var row_length = rowDatas.length;
    rowDatas.each(function(item){
      if (item.type != '委外加工') {
        if (item.purchase_in_detail_id == 0) {
          if (chargeRowIndex == row_length) {
        	  isNew = true;
          }
          charge_back = -item.closed_tax_money;
        }else{
          closed_tax_money_sum += parseFloat(item.closed_tax_money);
        }
      }
      chargeRowIndex++;
    });
    
    var i = 1, invoice_tax_money_sum = 0;
    console.log('row_length=' + row_length + " closed_tax_money_sum" + closed_tax_money_sum);
    
    rowDatas.each(function(item){
      if (item.type != '委外加工') {
        if (item.purchase_in_detail_id != 0) {
          console.log("i=" + i + " closed_tax_money=" + item.closed_tax_money + " invoice_tax_money_sum=" + invoice_tax_money_sum );
          if (!isNew && i == row_length || isNew && i==(row_length-1)){
        	  console.log("last i=" + i + " row_length=" + row_length);
            temp = charge_back - invoice_tax_money_sum;
          }else{
        	  console.log("i=" + i + " row_length=" + row_length);
            temp = charge_back * (item.closed_tax_money/closed_tax_money_sum);  
          }
          invoice_tax_money_sum = App.costNumber(invoice_tax_money_sum + temp);
          console.log("temp=" + App.costNumber(temp) + " invoice_tax_money_sum=" + invoice_tax_money_sum );
          item.invoice_tax_money = App.costNumber(item.closed_tax_money - temp);  
          item.invoice_tax_price = App.priceNumber(item.invoice_tax_money/item.quantity);
        }else{
          item.invoice_tax_money = '';
          item.invoice_tax_price = '';
        }
      }
      i++;
    });
    
    table.rows().invalidate().draw();
  }
  
  function onChangeType() {
    var type = $('#type').val();
    if (type == 1){
      loadNormalTable();
    }else{
      loadWeiwaiTable();
    }
  }
  
  $('#type').trigger('change');
  
  function loadNormalTable(){
    editor = new $.fn.dataTable.Editor( {
      table: "#detail_table",  
      idSrc: "purchase_in_detail_id",
      fields: [ {
        attr: {
          type: "number",
        },
        id: "nat_tax_rate",
        name: "nat_tax_rate"            
      },{
        attr: {
          type: "number",
        },
        id: "closed_quantity",
        name: "closed_quantity"            
      },{
        attr: {
          type: "number",
        },
        id: "closed_price",
        name: "closed_price"            
      },{
        attr: {
          type: "number"
        },
        id: "closed_money",
        name: "closed_money"            
      },{
        attr: {
          type: "number"
        },
        id: "closed_tax_price",
        name: "closed_tax_price"            
      },{
        attr: {
          type: "number"
        },
        id: "closed_tax_money",
        name: "closed_tax_money"     
      },{
        id: "memo",
        name: "memo"  
      }],
      i18n: {
          remove: {
              button: "删除行",
              title:  "删除行",
              submit: "是",
              confirm: {
                  _: "确定要删除%d行数据吗?",
                  1: "确定要删除吗?"
              }
          },
      }
    }).on( 'preSubmit', function ( e, data, action ) {
      if ( action == 'remove') {
        return true;
      }
      
      var currentFieldName = e.currentTarget.s.includeFields[0];
      var isChargeBackRow = false;
      if (Object.keys(data.data)[0] == 0) {
    	  isChargeBackRow = true;
      }    	  
      
      var editingField = editor.field(currentFieldName);
      if (editingField.val() == undefined || editingField.val() == '' || 
    		  (isChargeBackRow && parseFloat(editingField.val())>0) || 
    		  (!isChargeBackRow && parseFloat(editingField.val())<0)) {
        editingField.input().addClass('error');
        return false;
      }else{
        editingField.input().removeClass('error');
      }

      if (currentFieldName == 'nat_tax_rate') {
        
        if (parseFloat(editingField.val())> 100){
          editingField.input().addClass('error');
          return false;
        }
        editingField.input().removeClass('error');
        
        $.each(data.data, function(key, item){  
          if (item.closed_price != undefined && item.nat_tax_rate != undefined) {
            item.closed_price =parseFloat(item.closed_price).toFixed(2); 
            value = (Number.parseFloat(item.nat_tax_rate) + 100) * item.closed_price/100;
            item.closed_tax_price =value?parseFloat(value).toFixed(2):'';   
          }
          if (item.closed_price != undefined && item.closed_quantity != undefined) {
            value = item.closed_price * item.closed_quantity;
            item.closed_money =value?parseFloat(value).toFixed(2):'';   
          }
          if (item.closed_tax_price != undefined && item.closed_quantity != undefined) {
            value = item.closed_tax_price * item.closed_quantity 
            item.closed_tax_money =value?parseFloat(value).toFixed(2):'';
          }
        });
      }
      
      if (currentFieldName == 'closed_price') {
        $.each(data.data, function(key, item){  
          if (item.closed_price != undefined && item.closed_quantity != undefined) {
            item.closed_price =parseFloat(item.closed_price).toFixed(2); 
            value = item.closed_price * item.closed_quantity;
            item.closed_money =value?parseFloat(value).toFixed(2):'';   
          }
          if (item.closed_price != undefined && item.nat_tax_rate != undefined) {
            value = (Number.parseFloat(item.nat_tax_rate) + 100) * item.closed_price/100;
            item.closed_tax_price =value?parseFloat(value).toFixed(2):'';   
          }
          if (item.closed_tax_price != undefined && item.closed_quantity != undefined) {
            value = item.closed_tax_price * item.closed_quantity 
            item.closed_tax_money =value?parseFloat(value).toFixed(2):'';
          }
        });
      }

      if (currentFieldName == 'closed_money') {
        $.each(data.data, function(key, item){  
          if (item.closed_money != undefined && item.closed_quantity != undefined) {
            item.closed_money =parseFloat(item.closed_money).toFixed(2); 
            value = item.closed_money / item.closed_quantity;
            item.closed_price =value?parseFloat(value).toFixed(2):'';   
          }
          if (item.closed_price != undefined && item.nat_tax_rate != undefined) {
            value = (Number.parseFloat(item.nat_tax_rate) + 100) * item.closed_price/100;
            item.closed_tax_price =value?parseFloat(value).toFixed(2):'';   
          }
          if (item.closed_tax_price != undefined && item.closed_quantity != undefined) {
            value = item.closed_tax_price * item.closed_quantity 
            item.closed_tax_money =value?parseFloat(value).toFixed(2):'';
          }
        });
      }

      if (currentFieldName == 'closed_tax_price') {
        $.each(data.data, function(key, item){  
          if (item.closed_tax_price != undefined && item.closed_quantity != undefined) {
            item.closed_tax_price =parseFloat(item.closed_tax_price).toFixed(2); 
            value = item.closed_tax_price * item.closed_quantity;
            item.closed_tax_money =value?parseFloat(value).toFixed(2):'';   
          }
          if (item.closed_tax_price != undefined && item.nat_tax_rate != undefined) {
            value = item.closed_tax_price*100/(Number.parseFloat(item.nat_tax_rate) + 100);    
            item.closed_price =value?parseFloat(value).toFixed(2):'';   
          }
          if (item.closed_price != undefined && item.closed_quantity != undefined) {
            value = item.closed_price * item.closed_quantity;
            item.closed_money =value?parseFloat(value).toFixed(2):'';   
          }
        });
      }

      if (currentFieldName == 'closed_tax_money') {
        $.each(data.data, function(key, item){  
          if (item.closed_tax_money != undefined && item.closed_quantity != undefined) {
            item.closed_tax_money =parseFloat(item.closed_tax_money).toFixed(2); 
            value = item.closed_tax_money / item.closed_quantity;
            item.closed_tax_price =value?parseFloat(value).toFixed(2):'';   
          }
          if (item.closed_tax_price != undefined && item.nat_tax_rate != undefined) {
            value = item.closed_tax_price*100/(Number.parseFloat(item.nat_tax_rate) + 100);    
            item.closed_price =value?parseFloat(value).toFixed(2):'';  
          }
          if (item.closed_price != undefined && item.closed_quantity != undefined) {
            value = item.closed_price * item.closed_quantity;
            item.closed_money =value?parseFloat(value).toFixed(2):'';   
          }
        });
      }      
      
    }).on( 'submitSuccess', function ( e, data, action ) {
      updateInvoiceData();
    });
      
    table_options = {
        serverSide:false,
        processing:false,
        destroy: true,
        ordering : false,
        select: {style: 'multi'},
        buttons: [
            { 
              text: "取采购入库单", 
              action: function( e, dt, node, config) {
                
                if (!$("#vendor").val()) {
                  $('#vendor').focus();
                  App.showErrorDialog("请选择供应商！");
                  return false;
                }
                
                $('#import_dialog').modal('show');
                
              } 
            },
            { extend: "remove", editor: editor },
            { 
              text: "增加扣款项", 
              action: function( e, dt, node, config) {
                if (!$("#vendor").val()) {
                  $('#vendor').focus();
                  App.showErrorDialog("请选择供应商！");
                  return false;
                }
                
                var exist_data = table.rows().data().toArray();
                for(i=0; i<exist_data.length; i++) {
                  exist_row = exist_data[i];
                  if (exist_row.purchase_in_detail_id == 0) {
                    App.showErrorDialog("已存在扣款项！");
                    return;
                  }
                }
                
                var new_row = {
                    assitantunitname:null,
                    po_code:null,
                    closed_money:'',
                    closed_price:'',
                    closed_quantity:1,
                    closed_tax_money:'',
                    closed_tax_price:'',
                    cmassunitname:null,
                    cost:null,
                    purchase_in_detail_id:0,
                    inventorycode:null,
                    inventoryname:"扣款",                  
                    unitname:null,
                    nat_tax_rate:$('#tax_rate').val(),
                    number:null,
                    price:null,
                    nat_price:null,
                    nat_tax_price:null,
                    tax_price:null,
                    tax_cost:null,
                    purchase_in_code:null,
                    purchase_in_date:null,
                    quantity:null,
                    rowno:null,
                    memo:null,
                    specs:null,
                    state:null,
                    invoice_tax_price:'',
                    invoice_tax_money:''
                };
                
                table.row.add(new_row);
                
                var aiDisplayMaster = $('#detail_table').dataTable().fnSettings()["aiDisplayMaster"];
                irow = aiDisplayMaster.pop();
                aiDisplayMaster.unshift(irow);
                table.draw();
              } 
            },
        ],
        ajax : {
          url : detail_url,
          dataSrc : function(json) {
            var result = [];
            var charge_back = 0, closed_tax_money_sum = 0;
            $.each(json, function(key, item){
              if (item.type != '委外加工') {
                if (item.purchase_in_detail_id == 0) {
                  charge_back = -item.closed_tax_money;
                }else{
                  closed_tax_money_sum += item.closed_tax_money;
                }
                item.dstartdate = $.fn.date_renderer(item.dstartdate);
                item.denddate = $.fn.date_renderer(item.denddate);
                item.invoice_tax_money = item.closed_tax_money;
                item.invoice_tax_price = item.closed_tax_price;
                result.push(item);
              }
            });
            
            var row_length = result.length;
            var i = 1, invoice_tax_money_sum = 0;
            
            var invoice_result = [];
            $.each(result, function(key, item){
            	if (item.type != '委外加工') {
                  if (item.purchase_in_detail_id != 0) {
                    if (i == row_length){
                      temp = item.closed_tax_money - (charge_back - invoice_tax_money_sum);
                    }else{
                      temp = item.closed_tax_money - charge_back * (item.closed_tax_money/closed_tax_money_sum);  
                      invoice_tax_money_sum += parseFloat(App.costNumber(charge_back * (item.closed_tax_money/closed_tax_money_sum)));
                    }
                    item.invoice_tax_money = App.costNumber(temp);          
                    item.invoice_tax_price = App.priceNumber(item.invoice_tax_money/item.quantity);
                  }else{
                    item.invoice_tax_money = '';
                    item.invoice_tax_price = '';
                  }
                }
                i++;
                invoice_result.push(item);

            });

            return invoice_result;
          },
        },
        columns : [ {
          data : 'po_code',
          sortable: false,
          title : '订单号'
        }, {
          data : 'purchase_in_code',
          sortable: false,
          title : '入库单编码',
        }, {
          data : 'purchase_in_date',
          render : $.fn.date_renderer,
          sortable: false,
          className:'dt-center',
          title : '入库日期',        
        }, {
          data : 'inventoryname',
          title : '物料名称',
          sortable: false,
          render: function(data, type, row) {
            if (row.purchase_in_detail_id == 0){
              return "扣款";
            }else{
              return data;
            }
          },
        }, {
          data : 'inventorycode',
          sortable: false,
          title : '物料编码',
        }, {
          data : 'unitname',
          sortable: false,
          className:'dt-center',
          title : '单位',
        }, {
          data : 'nat_price',
          sortable: false,
          className:'dt-right',
          title : '订单未税单价',
        }, {
          data : 'nat_tax_price',
          sortable: false,
          className:'dt-right',
          title : '订单含税单价',
        }, {
          data : 'price',
          sortable: false,
          className:'dt-right',
          title : '未税单价',
        }, {
          data : 'tax_price',
          sortable: false,
          className:'dt-right',
          title : '含税单价',
        }, {
          data : 'cost',
          sortable: false,
          className:'dt-right',
          title : '未税金额',
        }, {
          data : 'tax_cost',
          sortable: false,
          className:'dt-right',
          title : '含税金额',
        }, {
          data : 'quantity',
          sortable: false,
          title : '未对账数量',
          className:'dt-right',
          render:function(data, type, record) {
            if (record.purchase_in_detail_id ==0)
              return '';
            else
              return data;
          }
        }, {
          data : 'closed_quantity',
          className: 'dt-right',
          sortable: false,
          title : '对账数量',
        }, {
          data : 'nat_tax_rate',
          sortable: false,
          className:' edit-cell dt-right',
          title : '税率',
        }, {
          data : 'closed_price',
          className: 'edit-cell dt-right',
          sortable: false,
          title : '结算未税单价',
        }, {
          data : 'closed_tax_price',
          className: 'edit-cell dt-right',
          sortable: false,
          title : '结算含税单价',
        }, {
          data : 'closed_money',
          sortable: false,
          className: 'edit-cell dt-right',
          title : '结算未税金额',
        }, {
          data : 'closed_tax_money',
          className: 'edit-cell dt-right',
          sortable: false,
          title : '结算含税金额',
        }, {
          data : 'invoice_tax_price',
          sortable: false,
          className: 'dt-right',
          title : '发票含税单价',
        }, {
          data : 'invoice_tax_money',
          className: 'dt-right',
          sortable: false,
          title : '发票含税金额',
        }, {
          data : 'memo',
          sortable: false,
          className:'vendor',
          title : '备注　　　　　　　',
        } ],
        order: [  [ 0, "asc" ], [3, "asc"] ],
        footerCallback: function ( row, data, start, end, display ) {
          App.footerCallback(this.api(), [ [10, "cost"], [11, "cost"], [12, "quantity"], [13, "quantity"], [17, "cost"], [18, "cost"], [20, "cost"]]);
        },
        drawCallback: function( settings ) {
          var data_list = this.api().rows().data().toArray()
          if (data_list.length > 0)
            $('#vendor').attr("readonly", true);
          else
            $('#vendor').attr("readonly", false);

          if ((state!=1 && state != 4) || is_readonly) {
            $('#vendor').attr("readonly", true);
          }          
          
        }
      };
    
    if ((state!=1 && state != 4) || is_readonly) {
      table_options.select = false;
      table_options.buttons = [];
    }
    
    if (table) {
      table.clear().destroy();
      $('#detail_table').empty();
    }
      
    var footer = $("<tfoot></tfoot>").appendTo("#detail_table");
    var footertr = $("<tr></tr>").appendTo(footer);
     
    //Add footer cells
    for (var i = 0; i < 13; i++) {
      if (i==0){
        $("<th colspan='10' class='dt-center' style='text-align:center'>合计</th>").appendTo(footertr);
      }else{
        $("<th></th>").appendTo(footertr);
      }
    }
    
    table = $('#detail_table').DataTable(table_options);

    if ((state == 1 || state == 4) && !is_readonly) {
      table.on( 'click', 'tbody td.edit-cell', function (e) {
        editor.inline( this, { submit: 'allIfChanged', submitOnBlur: true });
      } );
      App.addKeyDownEditor(editor, 11, 15);    
    }
    
    if (state == 2 && !is_readonly) {
      table.on( 'click', 'tbody td.vendor', function (e) {
        editor.inline( this, { submit: 'allIfChanged', submitOnBlur: true });
      } );
      App.addKeyDownEditor(editor, 20, 20);    
    } 
  }
  
  function loadWeiwaiTable() {
    editor = new $.fn.dataTable.Editor( {
      table: "#detail_table",  
      idSrc: "purchase_in_detail_id",
      fields: [ {
        attr: {
          type: "number",
        },
        name: "real_quantity"    
      },{
        attr: {
          type: "number",
        },
        name: "quantity"  
      },{
        attr: {
          type: "number",
        },
        name: "nat_tax_rate"  
      },{
        attr: {
          type: "number",
        },
        name: "closed_tax_price" 
      },{
        attr: {
          type: "number",
        },
        name: "material_quantity"  
      },{
        attr: {
          type: "number",
        },
        name: "material_tax_price"            
      },{
        attr: {
          type: "number",
        },
        name: "yuanci"    
      },{
        attr: {
          type: "number",
        },
        name: "yinci"    
      },{
        attr: {
          type: "number",
        },
        name: "unit_weight"    
      },{
        id: "memo",
        name: "memo"  
      }],
      i18n: {
          remove: {
              button: "删除行",
              title:  "删除行",
              submit: "是",
              confirm: {
                  _: "确定要删除%d行数据吗?",
                  1: "确定要删除吗?"
              }
          },
      }
    }).on( 'preSubmit', function ( e, data, action ) {
      if ( action == 'remove') {
        return true;
      }
      
      var currentFieldName = e.currentTarget.s.includeFields[0];
      
      var isChargeBackRow = false;
      if (Object.keys(data.data)[0] == 0) {
    	  isChargeBackRow = true;
      }    	  
      
      var editingField = editor.field(currentFieldName);
      if (editingField.val() == undefined || editingField.val() == '' || 
    		  (isChargeBackRow && parseFloat(editingField.val())>0) || 
    		  (!isChargeBackRow && parseFloat(editingField.val())<0)) {
        editingField.input().addClass('error');
        return false;
      }else{
        editingField.input().removeClass('error');
      }

      $.each(data.data, function(key, item){  
        item.yinci_standard = '';
        item.yinci_chargeback = '';
        item.material_less_quantity = '';
        item.material_chargeback = '';
        item.price = '';
        
        if (item.material_quantity != undefined) {
          item.yinci_standard = App.quantityNumber(Math.round(item.material_quantity*0.002));
          console.log(item);          
          
          if (item.yinci != undefined) {
            item.yinci_chargeback = App.quantityNumber((item.yinci-item.yinci_standard)<=0?0:(item.yinci-item.yinci_standard));
            
            if (item.material_quantity != undefined && item.real_quantity != undefined) {
              item.material_less_quantity = App.intNumber(item.material_quantity - item.real_quantity - item.yuanci - item.yinci + item.yinci_chargeback);
              
              if (item.unit_weight != undefined && item.material_tax_price != undefined) {
                item.material_chargeback = App.costNumber(item.material_less_quantity * item.unit_weight * item.material_tax_price);
                
                if (item.closed_tax_price != undefined) {
                  item.closed_tax_money = App.costNumber(item.material_chargeback>=0?(item.real_quantity * item.closed_tax_price - item.material_chargeback):(item.real_quantity * item.closed_tax_price));
                  item.closed_money = App.costNumber(item.closed_tax_money * 100 / (100 + parseFloat(item.nat_tax_rate)));
                }
              }
            }
          }
        }
      });
      
      var data = table.rows().data().toArray();
      
    });      
        
    table_options = {
        serverSide:false,
        processing:false,
        destroy: true,
        ordering : false,
        select: {style: 'multi'},
        buttons: [
            { 
              text: "取委外入库单", 
              action: function( e, dt, node, config) {
                
                if (!$("#vendor").val()) {
                  $('#vendor').focus();
                  App.showErrorDialog("请选择供应商！");
                  return false;
                }
                
                $('#import_dialog').modal('show');
                
              } 
            },
            { extend: "remove", editor: editor },
        ],
        ajax : {
          url : detail_url,
          dataSrc : function(json) {
            var result = [];
            $.each(json, function(key, item){  
              if (item.type != '普通采购' && item.purchase_in_detail_id != 0) {
                item.yinci_standard = App.quantityNumber(Math.round(item.material_quantity*0.002));
                item.yinci_chargeback = App.quantityNumber((item.yinci-item.yinci_standard)<=0?0:(item.yinci-item.yinci_standard));
                item.material_less_quantity = App.intNumber(item.material_quantity - item.real_quantity - item.yuanci - item.yinci + item.yinci_chargeback);

                item.material_chargeback = App.quantityNumber(item.material_less_quantity * item.unit_weight * item.material_tax_price);
                item.closed_tax_money = App.quantityNumber(item.material_chargeback>=0?(item.real_quantity * item.closed_tax_price - item.material_chargeback):(item.real_quantity * item.closed_tax_price));
                
                result.push(item);
              }
              
            });
            return result;
          },
        },
        columns : [ {
          data : 'po_code',
          sortable:false,
          title : '订单号',
        }, {
          data : 'purchase_in_code',
          sortable:false,
          title : '入库单号',
        }, {
          data : 'inventoryname',
          sortable:false,
          title : '存货名称',
          render: function(data, type, row) {
            if (row.purchase_in_detail_id == 0){
              return "扣款";
            }else{
              return data;
            }
          },
        }, {
          data : 'inventorycode',
          sortable:false,
          title : '存货编码',
        }, {
          data : 'inventorycode',
          sortable:false,
          title : '规格',
        }, {
          data : 'unitname',
          className:'dt-center',
          sortable:false,
          title : '主计量',
        }, {
          data : 'quantity',
          sortable:false,
          className:'dt-right',
          title : '系统入库数量',
        }, {
          data : 'closed_quantity',
          sortable:false,
          className: 'dt-right',
          title : '对账数量',
        }, {
          data : 'nat_price',
          sortable: false,
          className:'dt-right',
          title : '订单未税单价',
        }, {
          data : 'nat_tax_price',
          sortable: false,
          className:'dt-right',
          title : '订单含税单价',
        }, {
          data : 'closed_tax_price',
          className:'dt-right',
          sortable:false,
          title : '含税加工单价',
        }, {
          data : 'closed_price',
          className:'dt-right',
          sortable:false,
          title : '未税加工单价',
        }, {
          data : 'material_quantity',
          className:'dt-right',
          sortable:false,
          title : '出库数量',
        }, {
          data : 'nat_tax_rate',
          className:' edit-cell dt-right',
          sortable:false,
          title : '　　税率',
        }, {
          data : 'real_quantity',
          className:'dt-right edit-cell',
          sortable:false,
          title : '　实收数量',
        }, {
          data : 'yuanci',
          className:'dt-right edit-cell',
          sortable:false,
          title : '　　原次',
        }, {
          data : 'yinci',
          sortable:false,
          className:'dt-right edit-cell',
          title : '　　印次',
        }, {
          data : 'unit_weight',
          sortable:false,
          className:'dt-right edit-cell',
          title : '　每片基材重量',
        }, {
          data : 'yinci_standard',
          sortable:false,
          className:'dt-right',
          title : '印次标准',
        }, {
          data : 'yinci_chargeback',
          sortable:false,
          className:'dt-right',
          title : '印次扣款量',
        }, {
          data : 'material_less_quantity',
          sortable:false,
          className:'dt-right',
          title : '基材少交数量',
        }, {
          data : 'material_tax_price',
          className:'dt-right',
          sortable:false,
          title : '基材单价',
        }, {
          data : 'material_chargeback',
          className:'dt-right',
          sortable:false,
          title : '基材扣款',
        }, {
          data : 'closed_tax_money',
          className:'dt-right',
          sortable:false,
          title : '结算含税金额',
        }, {
          data : 'closed_money',
          className:'dt-right',
          sortable:false,
          title : '结算未税金额',
        }, {
          data : 'closed_tax_price',
          sortable: false,
          className: 'dt-right',
          title : '发票含税单价',
        }, {
          data : 'closed_tax_money',
          className: 'dt-right',
          sortable: false,
          title : '发票含税金额',
        }, {
          data : 'memo',
          sortable:false,
          className:'vendor',
          title : '备注　　　　　　　',

        } ],
        order: [  [ 0, "asc" ], [3, "asc"] ],  
        footerCallback: function ( row, data, start, end, display ) {
          
          App.footerCallback(this.api(), [ 
            [6, "quantity"], 
            [7, "quantity"], 
            [12, "quantity"], 
            [14, "quantity"], 
            [15, "quantity"], 
            [16, "quantity"],
            [17, "quantity"],
            [18, "quantity"],
            [19, "quantity"],
            [20, "quantity"],
            [22, "cost"],
            [23, "cost"], 
            [24, "cost"],
            [26, "cost"]]
          );
        },
      };
        
    if ((state!=1 && state != 4) || is_readonly) {
      table_options.select = false;
      table_options.buttons = [];
    }
    
    if (table){
      table.clear().destroy();
      $('#detail_table').empty();
    }
    
    var footer = $("<tfoot></tfoot>").appendTo("#detail_table");
    var footertr = $("<tr></tr>").appendTo(footer);
     
    //Add footer cells
    for (var i = 0; i < 23; i++) {
      if (i==0){
        $("<th colspan='6' class='dt-center'>合计</th>").appendTo(footertr);
      }else{
        $("<th></th>").appendTo(footertr);
      }
    }
    
    table = $('#detail_table').DataTable(table_options);

    if ((state == 1 || state == 4) && !is_readonly) {
      table.on( 'click', 'tbody td.edit-cell', function (e) {
        editor.inline( this, { submit: 'allIfChanged', submitOnBlur: true });
      } );
      App.addKeyDownEditor(editor, 13, 17);    
    } 
    
    if (state == 2 && !is_readonly) {
      table.on( 'click', 'tbody td.vendor', function (e) {
        editor.inline( this, { submit: 'allIfChanged', submitOnBlur: true });
      } );
      App.addKeyDownEditor(editor, 25, 25);    
    } 
    
  }
  
  var is_cancel = false;
  
  $("#form" ).validate({
    // define validation rules
    rules: {
        vendor: {
          required: true
        }, 
        tax_rate: {
          required: true,
        },
        invoice_code: {
          required: state>=3
        }, 
    },
    
    //display error alert on form submit  
    invalidHandler: function(event, validator) {
      App.showErrorDialog("操作失败", "请输入正确的值");
      validator.focusInvalid();
    },

    submitHandler: function (form) {
      var data = table.rows().data().toArray();
      var post_data = {};
      if ($('#state').val()<=3){
        post_data.table = data;
      }        

      jQuery(form).ajaxSubmit({
        beforeSend: function(){
          App.blockUI();
        },
        complete: function(){
          App.unblockUI();
        }, 
        data: post_data,
        success: function(res, status, xhr, form) {
          if (res.success == 1){
            App.showSuccessDialog("操作成功", function(){
              window.location.href = edit_url + res.data.code + "/edit";
            });
          }else{
            App.showErrorDialog("操作失败", res.errmsg);
          }
        },
        error: function (res, status, xhr, form) {
          App.showErrorDialog("操作失败", "请输入正确的值");
        }
      });
    }
  }); 
  
  $("#btn_search").click(function() {
    import_table.draw();
  });
  
  $('#btn_import').click(function(){
    $('#import_dialog').modal('hide');//modal_1 is the id 1
    var selected_data = import_table.rows('.selected').data().toArray();
    var exist_data = table.rows().data().toArray();
    $.each(selected_data, function(key, item){
      var available = true;
      for(i=0; i<exist_data.length; i++) {
        exist_row = exist_data[i];
        if (exist_row.purchase_in_code == item.code && exist_row.rowno == item.rowno) {
          available = false;
          break;
        }
      }
      if (available) {
        item.purchase_in_detail_id = item.id;
        item.purchase_in_code = item.code;
        item.purchase_in_date = item.date;
        
        item.taxprice = item.tax_price;
        item.taxcost = item.tax_cost;
        
        item.closed_money = item.cost;
        item.closed_price = item.nat_price;
        item.closed_tax_money = item.tax_cost;
        item.closed_tax_price = item.nat_tax_price;
        item.invoice_tax_price = item.nat_tax_price;
        item.invoice_tax_money = item.tax_cost;
        item.closed_quantity = item.quantity;
        
        item.real_quantity = null;
        item.yuanci = null;
        item.yinci = null;
        item.unit_weight = null;
        item.yinci_standard = null;
        item.yinci_chargeback = null;
        
        item.material_less_quantity = null;
        item.material_chargeback = null;
        item.memo = null;
        
        if ($('#type').val() == 2){
          item.closed_tax_price = item.nat_tax_price;
          item.closed_price = App.priceNumber(item.closed_tax_price * 100 /(100 + parseFloat(item.nat_tax_rate)));          
        }
        
        table.row.add(item);
      }
    })
    
    updateInvoiceData();
        
  });
  
  $('#vendor, #code, #inventory, #date').keyup(function(e) {
    if (e.keyCode == 13)
      import_table.draw();
  });
  
  function checkTable() {
    var data = table.rows().data().toArray();
    var available = true;
    var empty_column = "";
    for(i=0; i<data.length; i++){
      item = data[i];
      if ($('#type').val() == 1){
        if (item.closed_price==undefined || item.closed_price==""){
          empty_column = "结算未税单价";
          available = false;
          break;
        }
        if (item.closed_money==undefined || item.closed_money==""){
          empty_column = "结算未税金额";
          available = false;
          break;
        }
        if (item.nat_tax_rate==undefined || item.nat_tax_rate==""){
          empty_column = "税率";
          available = false;
          break;
        }
        if (item.closed_tax_price==undefined || item.closed_tax_price==""){
          empty_column = "结算含税单价";
          available = false;
          break;
        }
        if (item.closed_tax_money==undefined || item.closed_tax_money==""){
          empty_column = "结算含税金额";
          available = false;
          break;
        }
      }else{
        if (item.real_quantity==undefined || item.real_quantity==""){
          empty_column = "实收数量";
          available = false;
          break;
        }
        if (item.yuanci==undefined || item.yuanci==""){
          empty_column = "原次";
          available = false;
          break;
        }
        if (item.yinci==undefined || item.yinci==""){
          empty_column = "印次";
          available = false;
          break;
        }
        if (item.unit_weight==undefined || item.unit_weight==""){
          empty_column = "每片基材重量";
          available = false;
          break;
        }
      }
    }
    
    if (!available){
      App.showErrorDialog("操作失败", "请在表里的【" + empty_column + "】列输入有效值！");
    }
    return available;
  }
  
  $("#save").click(function() {
    editor.submit();
    if (!checkTable()){
      return;
    }
    $('#state').val(1);
    $("#form").submit();            
  });
  
  $("#submit").click(function() {
    editor.submit();
    if (!checkTable()){
      return;
    }
    var data = table.rows().data().toArray();
    if (data.length == 0) {
      App.showErrorDialog("操作失败", "没有要发布的物料");
      return;
    }
    $('#state').val(2);
    $("#form").submit();            
  });
  
  $("#verify").click(function() {
    editor.submit();
    $('#state').val(5);
    $("#form").submit();            
  });   
  
  $("#cancel").click(function() {
    editor.submit();
    
    $('#invoice_code').rules( 'remove');
    $('#state').val(4);
    $("#form").submit();            
  });
  
  $("#review").click(function() {
    $('#state').val(3);
    $("#form").submit();            
  });

  $("#delete").click(function() {
    App.showConfirmDialog('确定要删除吗?', function(){
      $.get(del_url, function(data, status){
        App.showSuccessDialog("操作成功", function() {
          window.location.href = edit_url;
        });
      });
    });          
  });
  
  $("#del_attach").click(function(){
    App.showConfirmDialog('确定要删除吗?', function(){
      var del_url = edit_url + $("#code").val() + "/deleteattach";  
      $.get(del_url, function(data, status){
        App.showSuccessDialog("操作成功", function() {
          window.location.reload(true);
        });
      });
    });
  });
  
  $("#u8invoice").click(function() {
    $('#state').val(6);
    $("#form").submit();            
  });   
  
  $("#buyer_cancel").click(function() {
    $('#state').val(1);
    $("#form").submit();            
  });   
  
  $("#sync").click(function() {
    if (!$("#vendor").val()) {
      $('#vendor').focus();
      App.showErrorDialog("请选择供应商！");
      return false;
    }
    
    App.showConfirmDialog('确定要同步吗?', function() {
      var url = sync_url + $("#vendor").val();
      $.ajax({
        beforeSend: function(){
          App.blockUI();
        },
        complete: function(){
          App.unblockUI();
        }, 
        url : url,
        success : function(data, res) {
          if (data == true) {
            App.showSuccessDialog("同步成功");
          }else{
            App.showSuccessDialog("同步失败");
          }
        }
      });
    });
    
  });
  
});
</script>

