<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
	<div class="container" layout:fragment="content">
		<ul class="breadcrumb">
			<li><a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a></li>
			<li><a th:href="@{/statement}" class="active">对账单管理</a></li>
			<li class="active" th:text="${#strings.contains(#request.requestURI,'add')} ?'新建对账单':'对账单详细'"></li>
		</ul>
		<div class="btn-group-bar">
			<div class="text-right">
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==1}" id="save"><i class="fa fa-save"></i> 保存</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${!#strings.contains(#request.requestURI,'add') and main.state==1}" id="delete"><i class="fa fa-remove"></i> 删除</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==1}" id="submit"><i class="fa fa-share"></i> 提交</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==2}" id="review"><i class="fa fa-arrow-up"></i> 审核</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==3}" id="deploy"><i class="fa fa-arrow-up"></i> 发布</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==3 or main.state==4}" id="cancel"><i class="fa fa-recycle"></i> 撤回</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.state==4}" id="confirm"><i class="fa fa-check-square"></i> 确认</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.state==4}" id="deny"><i class="fa fa-undo"></i> 退回</a> 
				
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.state==6}" id="invoice_make"><i class="fa fa-check-square"></i> 确认开票</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==6}" id="invoice_approve"><i class="fa fa-recycle"></i> 审批通过</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==6}" id="invoice_deny"><i class="fa fa-recycle"></i> 审批退回</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==6}" id="invoice_upload"><i class="fa fa-recycle"></i> 传递ERP</a>
				 
				<a class="btn btn-primary" id="export_summary"><i class="fa fa-arrow-up"></i> 导出汇总信息</a> 
				<a class="btn btn-primary" id="export_detail"><i class="fa fa-arrow-up"></i> 导出明细信息</a> 
				<a class="btn btn-primary" id="print"><i class="fa fa-print"></i>打印</a> 
				<a class="btn btn-default" th:href="@{/statement}"><i class="fa fa-arrow-left"></i> 返回列表</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<form id="form" th:action="@{/statement/update}" method="post" enctype="multipart/form-data">
					<input type="hidden" name="invoice_state" id="invoice_state" th:value="${main.invoiceState}">
					<div class="row">
						<div class="col-lg-2 col-md-2">
							<label for="code">对账单号: </label> 
							<input type="text" id="code" name="code" th:value="${main.code}" class="form-control" readonly />
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="makedate">账单时间: </label> 
							<input type="text" name="date" id="date" th:value="${#dates.format(main.date, 'yyyy-MM-dd')}" class="form-control" readonly>
						</div>
						<div class="col-lg-4 col-md-4">
							<label for="vendor">供应商:</label> <select id="vendor" name="vendor" class="form-control">
								<option th:if="${main.vendor != null}" th:value="${main.vendor?.code}" th:text="${main.vendor?.name}" selected="selected"></option>
							</select>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="company">业务实体: </label> 
							<select name="company" id="company" class="form-control">
								<option th:if="${main.company != null}" th:value="${main.company?.id}" th:text="${main.company?.name}" selected="selected"></option>
							</select>							
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="type">对账类型: </label> 
							<select name="type" id="type" class="form-control"></select>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="task">任务编号: </label> 
							<input type="text" th:value="${main.taskId}" class="form-control" readonly>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="maker">制单人:</label> 
							<select name="maker" id="maker" class="form-control select2" readonly>
								<option th:value="${main.maker?.id}" th:text="${main.maker?.realname}" selected="selected"></option>
							</select>
						</div>
						<div class="col-lg-2 col-md-2">
							<label>制单日期: </label> 
							<input type="text" th:value="${#dates.format(main.makeDate, 'yyyy-MM-dd')}" class="form-control" readonly>
						</div>
						<div class="col-lg-2 col-md-2">
							<label>发布日期: </label> 
							<input type="text" th:value="${#dates.format(main.deployDate, 'yyyy-MM-dd')}" class="form-control" readonly>
						</div>
						<div class="col-lg-2 col-md-2">
							<label>确认日期: </label> 
							<input type="text" th:value="${#dates.format(main.confirmDate, 'yyyy-MM-dd')}" class="form-control" readonly>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="state">状态:</label> 
							<select name="state" id="state" class="form-control" readonly>
							</select>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="cost">未税金额: </label> 
							<input type="number" id="cost" name="cost" th:value="${main.costSum}" class="form-control" readonly/>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="tax_rate">税率: </label> 
							<input type="number" id="tax_rate" name="tax_rate" th:value="${main.taxRate}" class="form-control" />
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="tax">税额: </label> 
							<input type="number" id="tax" name="tax" th:value="${main.taxSum}" class="form-control" readonly/>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="tax_cost">含税金额: </label> 
							<input type="number" id="tax_cost" name="tax_cost" th:value="${main.taxCostSum}" class="form-control" readonly/>
						</div>
						<div class="col-lg-2 col-md-2">
							<label for="tax_cost">调整金额（含税）: </label> 
							<input type="number" id="adjust_tax_cost" name="tax_cost" th:value="${main.adjustCostSum}" class="form-control" />
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" href="#invoice_info"><span class="glyphicon glyphicon-chevron-down"> </span> 发票信息 </a>
									</h4>
								</div>
								<div id="invoice_info" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="row">
											<div class="col-lg-12 col-md-12">
												<label for="code">发票号: </label> 
												<input type="text" id="invoice_code" name="invoice_code" th:value="${main.invoiceCode}" class="form-control" readonly />
											</div>
										</div>	
										<div class="row">
											<div class="col-lg-4 col-md-4">
												<label for="code">发票类型: </label> 
												<select id="invoice_type" name="invoice_type" class="form-control" readonly></select>
											</div>
											<div class="col-lg-2 col-md-2">
												<label for="code">发票制单人: </label> 
												<input type="text" id="invoice_maker" name="invoice_maker" th:value="${main.erpInvoiceMakeName}" class="form-control" readonly />
											</div>
											<div class="col-lg-2 col-md-2">
												<label for="code">发票入账日期: </label> 
												<input type="text" id="invoice_make_date" name="invoice_make_date" th:value="${#dates.format(main.erpInvoiceMakeDate, 'yyyy-MM-dd')}" class="form-control" readonly />
											</div>
											<div class="col-lg-2 col-md-2">
												<label for="code">币种: </label> 
												<input type="text" value="人民币" class="form-control" readonly />
											</div>
											<div class="col-lg-2 col-md-2">
												<label for="code">汇率: </label> 
												<input type="text" value="1" class="form-control" readonly />
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-lg-12">
							<div class="tab-style-1" id="tabs">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#tab-1">明细</a></li>
									<li><a data-toggle="tab" href="#tab-2">汇总</a></li>
									<li><a data-toggle="tab" href="#tab-3">发票号</a></li>
									<li><a data-toggle="tab" href="#tab-4">附件</a></li>
									<li><a data-toggle="tab" href="#tab-5">操作日志</a></li>
								</ul>
								<div class="tab-content">
									<div id="tab-1" class="tab-pane row-fluid fade in active">
										<table id="detail_table" class="table table-striped table-bordered nowrap table-hover" style="width: 100%">
										</table>
									</div>
									<div id="tab-2" class="tab-pane row-fluid fade in ">
										<table id="summary_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
											<tfoot>
												<tr>
													<th colspan="5" class="dt-center">合计</th>
													<th></th>
													<th colspan="2"></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
												</tr>
											</tfoot>
										</table>
									</div>
									<div id="tab-3" class="tab-pane row-fluid fade in">
										<table id="invoice_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
										</table>
									</div>
									<div id="tab-4" class="tab-pane row-fluid fade in">
										<table id="attach_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
										</table>
									</div>
									<div id="tab-5" class="tab-pane row-fluid fade in">
										<div class="row edit-history">
											<a class="btn btn-primary save-history" id="show_modal_btn"><i class="fa fa-plus"></i> 添加说明</a>
										</div>
										<table id="history_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="modal fade" id="history_dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">添加说明</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form id="history_form" th:action="@{/operation_history/update}" method="post">
									<input type="hidden" name="action" value=" 添加说明" />
									<div class="row">
										<div class="col-md-12">
											<textarea name="content" placeholder="请输入说明" id="history_content" class="history-content" rows="5"></textarea>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary" id="save_history">保存</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="import_dialog" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document" style="width: 1000px;">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">选择要对账的物料</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body form-horizontal">
								<div class="search-content">
									<div class="search-cell width-10">
										<label for="search_date">入库日期: </label> <input type="text" id="search_date" value="" class="form-control" />
									</div>
									<div class="search-cell width-10">
										<label for="search_code">出入库单号：</label> <input type="text" id="search_code" class="form-control">
									</div>
									<div class="search-cell width-10">
										<label for="search_inventory">物料编码/名称：</label> <input type="text" id="search_inventory" class="form-control">
									</div>
									<div style="vertical-align: bottom" class="search-cell width-15">
										<button class="btn btn-default" id="btn_search">
											<i class="fa fa-search"></i> 查询
										</button>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 table-responsive">
										<table id="import_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
										</table>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary" id="btn_import">添加</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>
<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR')">
	is_vendor = 1;
</script>
<script th:inline="javascript" sec:authorize="hasRole('ROLE_BUYER')">
	is_readonly = 0;
</script>
<script th:inline="javascript">
	var editor, invoice_editor, attach_editor, table_options, table, import_table, history_table, summary_table, summary_data, invoice_table, attach_table;
  var qty_sum, money_sum;
  /*[+
   var sync_url = [[@{/sync/purchasein/vendor/}]];
   var detail_url = [[@{|/statement/${main.code}/details|}]];
   var edit_url = [[@{/statement/}]];
   var import_url = [[@{/purchasein/select}]];
   var del_url = [[@{|/statement/${main.code}/delete|}]];
   var vendor_search_url = [[@{/vendor/search}]];
   var state = [[${main.state}]];
   var type = [[${main.type}]];
   var invoice_type = [[${main.invoiceType}]];
   var history_url = [[@{|/operation_history/list/statement/${main.code}}|]];
   var attach_url = [[@{/vendor/search}]];
   var company_search_url = [[@{/company/search}]];
   +]*/

  $(document).ready(function() {

  	
	  $('.modal').on('shown.bs.modal', function() {
		  load_import_table();
	  });

	  invoice_editor = new $.fn.dataTable.Editor({
	    table : "#invoice_table",
	    idSrc : "row_no",
	    fields : [ {
	      attr : {
		      type : "text",
	      },
	      id : "invoice_code",
	      name : "invoice_code"	    
	    } ],
	    i18n : {
		    remove : {
		      button : "删除行",
		      title : "删除行",
		      submit : "是",
		      confirm : {
		        _ : "确定要删除%d行数据吗?",
		        1 : "确定要删除吗?"
		      }
		    },
	    }
	  }).on('postRemove', function(e, json, ids) {
	  	var table_data = invoice_table.rows().data().toArray();
		  var id = 1;
		  $.each(table_data, function(key, item) {
			  item.row_no = id++;
		  })
		  invoice_table.rows().invalidate();
	  }).on('submitSuccess', function(e, data, action) {
		  updateInvoiceData();
	  });
	  
	  invoice_table = $('#invoice_table').DataTable({
	    serverSide : false,
	    processing : false,
	    ajax : false,
	    select : {
		    style : 'multi',
		    selector: 'td:first-child',
	    },
	    data : [ {
	    	row_no: 1,
		    invoice_code : 245367
	    }, {
	    	row_no: 2,
		    invoice_code : 245368
	    }, {
	    	row_no: 3,
		    invoice_code : 245369
	    } ],
	    columns : [ {
	      data : null,
	      defaultContent : '',
	      orderable : false,
	      visible : !is_vendor,
	      title : '选择',
	      className : 'select-checkbox',
	    }, {
	      data : 'row_no',
	      title : '行号',
	    }, {
	      data : 'invoice_code',
	      className : 'edit-cell',
	      title : '发票号',
	    } ],
	    buttons : [ {
	    	text : "添加行",
	      action : function(e, dt, node, config) {
		      var new_row = {		        
	      		row_no : invoice_table.rows().data().toArray().length + 1,
		        invoice_code : ''
		      };

		      invoice_table.row.add(new_row);		      
		      invoice_table.draw();
	      }
	    }, {
	      extend : "remove",
	      editor : invoice_editor
	    }, ],
	  });

	  if (!is_readonly) {
		  invoice_table.on('click', 'tbody td.edit-cell', function(e) {
			  invoice_editor.inline(this, {
			    submit : 'allIfChanged',
			    submitOnBlur : true
			  });
		  });
	  }
	  
	  attach_editor = new $.fn.dataTable.Editor({
	    table : "#attach_table",
	    idSrc : "row_no",
	    i18n : {
		    remove : {
		      button : "删除行",
		      title : "删除行",
		      submit : "是",
		      confirm : {
		        _ : "确定要删除%d行数据吗?",
		        1 : "确定要删除吗?"
		      }
		    },
	    }
	  }).on('postRemove', function(e, json, ids) {
	  	var table_data = attach_table.rows().data().toArray();
		  var id = 1;
		  $.each(table_data, function(key, item) {
			  item.row_no = id++;
		  })
		  attach_table.rows().invalidate();
	  });
	  
	  attach_table = $('#attach_table').DataTable({
	    serverSide : false,
	    processing : false,
	    ajax : false,
	    select : {
		    style : 'multi',
		    selector: 'td:first-child',
	    },
	    data : [ {
	    	id: 1,
	    	row_no: 1,	    	
	      date : '2019-06-24',
	      filename : "11111.jpg"
	    }, {
	    	id: 2,
	    	row_no: 2,
	      date : '2019-06-24',
	      filename : "11111.jpg"
	    }, ],
	    columns : [ {
	      data : null,
	      defaultContent : '',
	      orderable : false,
	      visible : !is_vendor,
	      title : '选择',
	      className : 'select-checkbox',
	    }, {
	      data : 'row_no',
	      title : '行号',
	      width : '30px' 
	    }, {
	      data : 'date',
	      title : '日期',
	      width : '100px'
	    }, {
	      data : 'filename',
	      title : '附件',
	      render: function (data, display, record) {
	      	var html = data;
	      	if (data) {
	      		html = '<a href="' + attach_url + '">' + data + '</a>';	
	      	} else {
	      		html = '<input type="file"/>';
		      }

		      return html;
	      }
	    } ],
	    buttons : [ {
	      text : "添加行",
	      action : function(e, dt, node, config) {
		      var new_row = {
		        row_no : attach_table.rows().data().toArray().length + 1,
		        date : new Date().toISOString().slice(0, 10)
		      };
		      attach_table.row.add(new_row);
		      attach_table.draw();
	      }
	    }, {
	      extend : "remove",
	      editor : attach_editor
	    }, ],
	  });

	  $('#show_modal_btn').click(function() {
		  $('#history_dialog').modal('show');
	  });

	  function reloadSummaryTable() {
		  if (summary_table) {
			  summary_table.destroy();
			  $('#summary_table').empty();

			  var footer = $("<tfoot></tfoot>").appendTo("#summary_table");
			  var footertr = $("<tr></tr>").appendTo(footer);

			  //Add footer cells
			  for (var i = 0; i < 13; i++) {
				  if (i == 0) {
					  $("<th colspan='5' class='dt-center'>合计</th>").appendTo(footertr);
				  } else if (i >= 5) {
					  $("<th></th>").appendTo(footertr);
				  }
			  }
		  }

		  summary_table = $('#summary_table').DataTable({
		    serverSide : false,
		    processing : false,
		    ajax : false,
		    data : summary_data,
		    fixedColumns : {
			    leftColumns : 4,
		    },
		    columns : [ {
		      data : null,
		      render : $.fn.rowno_renderer,
		      title : '行号',
		    }, {
		      data : 'inventory_code',
		      title : '货品代码',
		    }, {
		      data : 'inventory_name',
		      title : '货品名称',
		    }, {
		      data : 'unitname',
		      className : 'dt-center',
		      title : '单位',
		    }, {
		      data : 'specs',
		      className : 'dt-center',
		      title : '规格型号',
		    }, {
		      data : 'pi_quantity',
		      className : 'dt-right',
		      title : '接收数量',
		    }, {
		      data : 'tax_rate',
		      className : 'dt-right',
		      title : '税率',
		    }, {
		      data : 'tax_price',
		      className : 'dt-right',
		      title : '含税单价',
		    }, {
		      data : 'tax_cost',
		      className : 'dt-right',
		      title : '含税金额',
		    }, {
		      data : 'adjust_tax_cost',
		      className : 'dt-right',
		      title : '含税调整金额',
		    }, {
		      data : 'invoice_quantity',
		      className : 'dt-right',
		      title : '开票数量',
		    }, {
		      data : 'invoice_price',
		      className : 'dt-right',
		      title : '开票单价',
		    }, {
		      data : 'invoice_cost',
		      className : 'dt-right',
		      title : '开票金额',
		    } ],
		    footerCallback : function(row, data, start, end, display) {
			    App.footerCallback(this.api(), [ [ 5, "quantity" ], [ 8, "quantity" ], [ 9, "quantity" ], [ 10, "quantity" ], [ 12, "quantity" ] ]);
		    },
		  });
	  }

	  function load_import_table() {

		  $('#search_code').val('');
		  $('#search_date').val('');
		  $('#search_inventory').val('');

		  if (import_table == undefined) {

			  import_table = $('#import_table').DataTable({
			    ordering : true,
			    select : (state == 1) ? {
				    style : 'multi'
			    } : false,
			    ajax : {
			      url : import_url,
			      data : function(data) {
				      var filter = {
				        order : data.columns[data.order[0].column].data,
				        dir : data.order[0].dir,
				        rows_per_page : data.length,
				        page_index : data.start / data.length + 1,
				        vendor : $('#vendor').val(),
				        inventory : $('#search_inventory').val(),
				        code : $('#search_code').val(),
				        type : ($('#type').val() == 1 ? '普通采购' : '委外加工'),
				        date : $('#search_date').val()
				      }
				      return filter;
			      },
			      dataSrc : function(json) {
				      json.recordsTotal = json.totalElements;
				      json.recordsFiltered = json.totalElements;
				      return json.content;
			      },
			    },
			    columns : [ {
			      data : null,
			      title : '选择',
			      defaultContent : ' ',
			      orderable : false,
			      className : 'select-checkbox',
			    }, {
			      data : 'code',
			      title : '入库单号'
			    }, {
			      data : 'date',
			      render : $.fn.date_renderer,
			      className : 'dt-center',
			      title : '入库日期'
			    }, {
			      data : 'company_name',
			      title : '业务实体'
			    }, {
			      data : 'store_name',
			      title : '库房'
			    }, {
			      data : 'inventory_code',
			      title : '货品代码'
			    }, {
			      data : 'inventory_name',
			      title : '货品名称'
			    }, {
			      data : 'specs',
			      title : '规格型号',
			    }, {
			      data : 'unitname',
			      className : 'dt-center',
			      title : '单位',
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '入库数量',
			    }, {
			      data : 'price',
			      className : 'dt-right',
			      title : '单价',
			    }, {
			      data : 'tax_price',
			      className : 'dt-right',
			      title : '含税单价',
			    }, {
			      data : 'cost',
			      className : 'dt-right',
			      title : '金额',
			    }, {
			      data : 'tax_cost',
			      className : 'dt-right',
			      title : '含税金额',
			    }, {
			      data : 'state',
			      className : 'dt-center',
			      title : '摘要',
			      render : App.getPurchaseInStateOfId,
			    } ],
			    order : [ [ 1, "asc" ] ],
			  });
		  }
		  $('#btn_search').trigger('click');

	  }

	  $('#date').datepicker();

	  $("#search_date").datepicker({
		  onSelect : function(dateText) {
			  import_table.draw();
		  }
	  });

	  $('#search_inventory, #search_code, #search_date').keyup(function(e) {
		  if (e.keyCode == 13)
			  import_table.draw();
	  });

	  $("#company").select2(App.getSelect2Options(company_search_url));
	  $("#state").select2({
	    data : App.getStatementStateData(),
	    minimumResultsForSearch : -1
	  }).select2("val", state.toString());

	  $("#type").select2({
	    data : App.getStatementTypeData(),
	    minimumResultsForSearch : -1
	  }).select2("val", type.toString());

	  $("#invoice_type").select2({
	    data : App.getInvoiceTypeData(),
	    minimumResultsForSearch : -1
	  }).select2("val", invoice_type.toString());

	  $("#vendor").select2(App.getSelect2Options(vendor_search_url));

	  if ((state != 1 && state != 4) || is_readonly) {
		  $('input').attr("readonly", true);
		  $('select').attr("readonly", true);
	  }

	  if ((state == 3 || state == 7) && is_vendor) {
		  $('#invoice_code').removeAttr("disabled");
		  $('#invoice_code').removeAttr("readonly");
	  }

	  if (state == 5 && !is_vendor) {
		  $('#invoice_type').attr("readonly", false);
	  }

	  $('#type').change(function() {
		  onChangeType();
	  });

	  $('#save_history').click(function() {
		  if (!$('#history_content').val()) {
			  App.showErrorDialog("日志内容不能为空！");
			  return;
		  }

		  $("#history_form").ajaxSubmit({
		    data : {
		      target_type : "statement",
		      target_id : $('#code').val(),
		    },
		    beforeSend : function() {
			    App.blockUI();
		    },
		    complete : function() {
			    App.unblockUI();
		    },
		    success : function(res, status, xhr, form) {
			    if (res.success == 1) {
				    $('#history_content').val('');
				    history_table.ajax.reload();
				    $('#history_dialog').modal('hide');
			    } else {
				    App.showErrorDialog(res.errmsg);
			    }
		    },
		    error : function(res, status, xhr, form) {
			    App.showErrorDialog("操作失败", "请稍后重试");
		    }
		  });
	  });

	  history_table = $('#history_table').DataTable({
	    serverSide : false,
	    processing : false,
	    ajax : {
	      url : history_url,
	      dataSrc : function(json) {
		      return json;
	      },
	    },
	    order : [ [ 0, 'desc' ] ],
	    columns : [ {
	      data : 'create_date',
	      title : '日期',
	      width : '150px',
	      className : 'dt-center',
	      render : $.fn.time_renderer,
	    }, {
	      data : 'action',
	      title : '动作',
	      width : '100px',
	      className : 'dt-center',
	    }, {
	      data : 'account.realname',
	      title : '操作人',
	      width : '150px',
	      className : 'dt-center',
	    }, {
	      data : 'content',
	      title : '说明',
	    } ],
	  });

	  $('#tabs a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
		  // FYP-table is id of datatable
		  if (table) {
			  table.columns.adjust().fixedColumns().relayout();
		  }

		  if (summary_table) {
			  summary_table.columns.adjust().fixedColumns().relayout();
		  }

		  if (invoice_table) {
			  invoice_table.columns.adjust();
		  }

		  if (attach_table) {
			  attach_table.columns.adjust();
		  }

		  if (history_table) {
			  history_table.columns.adjust();
		  }

	  });

	  function updateInvoiceData() {
		  var result = [];
		  var charge_back = 0, closed_tax_money_sum = 0;
		  var isNew = false;
		  var chargeRowIndex = 1;
		  var rowDatas = table.data();
		  var row_length = rowDatas.length;

		  var type_name = $('#type').val() == 1 ? '普通采购' : '委外加工';

		  rowDatas.each(function(item) {
			  if (item.type == type_name || item.type == undefined) {
				  if (item.purchase_in_detail_id == 0) {
					  if (chargeRowIndex == row_length) {
						  isNew = true;
					  }
					  charge_back = -item.closed_tax_money;
				  } else {
					  closed_tax_money_sum += parseFloat(item.closed_tax_money);
				  }
			  }
			  chargeRowIndex++;
		  });

		  var i = 1, invoice_tax_money_sum = 0;
		  console.log('row_length=' + row_length + " closed_tax_money_sum" + closed_tax_money_sum);

		  rowDatas.each(function(item) {
			  if (item.type == type_name || item.type == undefined) {
				  if (item.purchase_in_detail_id != 0) {
					  console.log("i=" + i + " closed_tax_money=" + item.closed_tax_money + " invoice_tax_money_sum=" + invoice_tax_money_sum);
					  if (!isNew && i == row_length || isNew && i == (row_length - 1)) {
						  console.log("last i=" + i + " row_length=" + row_length);
						  temp = charge_back - invoice_tax_money_sum;
					  } else {
						  console.log("i=" + i + " row_length=" + row_length);
						  temp = charge_back * (item.closed_tax_money / closed_tax_money_sum);
					  }
					  invoice_tax_money_sum = App.costNumber(invoice_tax_money_sum + temp);
					  console.log("temp=" + App.costNumber(temp) + " invoice_tax_money_sum=" + invoice_tax_money_sum);
					  item.invoice_tax_money = App.costNumber(item.closed_tax_money - temp);
					  item.invoice_tax_price = App.costNumber(item.invoice_tax_money / item.quantity);
				  } else {
					  item.invoice_tax_money = '';
					  item.invoice_tax_price = '';
				  }
			  }
			  i++;
		  });

		  table.rows().invalidate().draw();
	  }

	  function onChangeType() {
		  var type = $('#type').val();
		  if (type == 1) {
			  loadNormalTable();
		  } else {
			  loadWeiwaiTable();
		  }
	  }

	  $('#type').trigger('change');

	  function calc_data(json) {
		  var result = [];
		  var type_name = $('#type').val() == 1 ? '普通采购' : '委外加工';

		  var cost = 0, tax = 0, tax_cost = 0, adjust_tax_cost = 0;
		  var result = [];
		  $.each(json, function(key, item) {
		  	cost += item.cost * 1;
		  	tax_cost += item.tax_cost * 1;
		  	adjust_tax_cost += item.adjust_tax_cost * 1;		  	
		  				  
			  item.invoice_quantity = item.pi_quantity;
		  	item.invoice_cost = item.tax_cost * 1 + item.adjust_tax_cost * 1;
			  item.invoice_price = App.priceNumber(item.invoice_cost/item.invoice_quantity);

		  });		  

		  tax = App.costNumber(tax_cost - cost);
		  
		  $('#cost').val(cost);
		  $('#tax_cost').val(tax_cost);
		  $('#tax').val(tax);
		  $('#adjust_tax_cost').val(adjust_tax_cost);
		  
		  return json;
	  }

	  function loadNormalTable() {
		  editor = new $.fn.dataTable.Editor({
		    table : "#detail_table",
		    idSrc : "purchase_in_detail_id",
		    fields : [ {
		      attr : {
			      type : "number"
		      },
		      id : "closed_tax_money",
		      name : "closed_tax_money"
		    }, {
		      id : "memo",
		      name : "memo"
		    } ],
		    i18n : {
			    remove : {
			      button : "删除行",
			      title : "删除行",
			      submit : "是",
			      confirm : {
			        _ : "确定要删除%d行数据吗?",
			        1 : "确定要删除吗?"
			      }
			    },
		    }
		  }).on('preSubmit', function(e, data, action) {
			  if (action == 'remove') {
				  return true;
			  }

			  var currentFieldName = e.currentTarget.s.includeFields[0];
			  var isChargeBackRow = false;
			  if (Object.keys(data.data)[0] == 0) {
				  isChargeBackRow = true;
			  }

			  var editingField = editor.field(currentFieldName);
			  if (currentFieldName != 'memo') {
				  if (editingField.val() == undefined || editingField.val() == '' || (isChargeBackRow && parseFloat(editingField.val()) > 0) || (!isChargeBackRow && parseFloat(editingField.val()) < 0)) {
					  editingField.input().addClass('error');
					  return false;
				  } else {
					  editingField.input().removeClass('error');
				  }
			  }

			  if (currentFieldName == 'nat_tax_rate') {

				  if (parseFloat(editingField.val()) > 100) {
					  editingField.input().addClass('error');
					  return false;
				  }
				  editingField.input().removeClass('error');

				  $.each(data.data, function(key, item) {
					  if (item.closed_price != undefined && item.nat_tax_rate != undefined) {
						  item.closed_price = parseFloat(item.closed_price).toFixed(2);
						  value = (Number.parseFloat(item.nat_tax_rate) + 100) * item.closed_price / 100;
						  item.closed_tax_price = value ? parseFloat(value).toFixed(2) : '';
					  }
					  if (item.closed_price != undefined && item.closed_quantity != undefined) {
						  value = item.closed_price * item.closed_quantity;
						  item.closed_money = value ? parseFloat(value).toFixed(2) : '';
					  }
					  if (item.closed_tax_price != undefined && item.closed_quantity != undefined) {
						  value = item.closed_tax_price * item.closed_quantity
						  item.closed_tax_money = value ? parseFloat(value).toFixed(2) : '';
					  }
				  });
			  }

			  if (currentFieldName == 'closed_price') {
				  $.each(data.data, function(key, item) {
					  if (item.closed_price != undefined && item.closed_quantity != undefined) {
						  item.closed_price = parseFloat(item.closed_price).toFixed(2);
						  value = item.closed_price * item.closed_quantity;
						  item.closed_money = value ? parseFloat(value).toFixed(2) : '';
					  }
					  if (item.closed_price != undefined && item.nat_tax_rate != undefined) {
						  value = (Number.parseFloat(item.nat_tax_rate) + 100) * item.closed_price / 100;
						  item.closed_tax_price = value ? parseFloat(value).toFixed(2) : '';
					  }
					  if (item.closed_tax_price != undefined && item.closed_quantity != undefined) {
						  value = item.closed_tax_price * item.closed_quantity
						  item.closed_tax_money = value ? parseFloat(value).toFixed(2) : '';
					  }
				  });
			  }

			  if (currentFieldName == 'closed_money') {
				  $.each(data.data, function(key, item) {
					  if (item.closed_money != undefined && item.closed_quantity != undefined) {
						  item.closed_money = parseFloat(item.closed_money).toFixed(2);
						  value = item.closed_money / item.closed_quantity;
						  item.closed_price = value ? parseFloat(value).toFixed(2) : '';
					  }
					  if (item.closed_price != undefined && item.nat_tax_rate != undefined) {
						  value = (Number.parseFloat(item.nat_tax_rate) + 100) * item.closed_price / 100;
						  item.closed_tax_price = value ? parseFloat(value).toFixed(2) : '';
					  }
					  if (item.closed_tax_price != undefined && item.closed_quantity != undefined) {
						  value = item.closed_tax_price * item.closed_quantity
						  item.closed_tax_money = value ? parseFloat(value).toFixed(2) : '';
					  }
				  });
			  }

			  if (currentFieldName == 'closed_tax_price') {
				  $.each(data.data, function(key, item) {
					  if (item.closed_tax_price != undefined && item.closed_quantity != undefined) {
						  item.closed_tax_price = parseFloat(item.closed_tax_price).toFixed(2);
						  value = item.closed_tax_price * item.closed_quantity;
						  item.closed_tax_money = value ? parseFloat(value).toFixed(2) : '';
					  }
					  if (item.closed_tax_price != undefined && item.nat_tax_rate != undefined) {
						  value = item.closed_tax_price * 100 / (Number.parseFloat(item.nat_tax_rate) + 100);
						  item.closed_price = value ? parseFloat(value).toFixed(2) : '';
					  }
					  if (item.closed_price != undefined && item.closed_quantity != undefined) {
						  value = item.closed_price * item.closed_quantity;
						  item.closed_money = value ? parseFloat(value).toFixed(2) : '';
					  }
				  });
			  }

			  if (currentFieldName == 'closed_tax_money') {
				  $.each(data.data, function(key, item) {
					  if (item.closed_tax_money != undefined && item.closed_quantity != undefined) {
						  item.closed_tax_money = parseFloat(item.closed_tax_money).toFixed(2);
						  value = item.closed_tax_money / item.closed_quantity;
						  item.closed_tax_price = value ? parseFloat(value).toFixed(2) : '';
					  }
					  if (item.closed_tax_price != undefined && item.nat_tax_rate != undefined) {
						  value = item.closed_tax_price * 100 / (Number.parseFloat(item.nat_tax_rate) + 100);
						  item.closed_price = value ? parseFloat(value).toFixed(2) : '';
					  }
					  if (item.closed_price != undefined && item.closed_quantity != undefined) {
						  value = item.closed_price * item.closed_quantity;
						  item.closed_money = value ? parseFloat(value).toFixed(2) : '';
					  }
				  });
			  }

		  }).on('submitSuccess', function(e, data, action) {
			  updateInvoiceData();
		  });

		  table_options = {
		    serverSide : false,
		    processing : false,
		    destroy : true,
		    ordering : false,
		    select : {
			    style : 'multi'
		    },
		    fixedColumns : {
			    leftColumns : 4,
		    },
		    buttons : [ {
		      text : "选择要对账的物料",
		      action : function(e, dt, node, config) {

			      if (!$("#vendor").val()) {
				      $('#vendor').focus();
				      App.showErrorDialog("请选择供应商！");
				      return false;
			      }

			      $('#import_dialog').modal('show');

		      }
		    }, {
		      extend : "remove",
		      editor : editor		    
		    } ],
		    ajax : {
		      url : detail_url,
		      dataSrc : function(json) {
			      return calc_data(json);
		      },
		    },
		    columns : [ {
		      data : null,
		      title : '选择',
		      defaultContent : ' ',
		      visible: state == 1,
		      orderable : false,
		      className : 'select-checkbox',
		    }, {
		      data : 'row_no',
		      sortable : false,
		      className : 'dt-center',
		      title : '行号'
		    }, {
		      data : 'pi_code',
		      sortable : false,
		      title : '接收单号',
		    }, {
		      data : 'pi_date',
		      render : $.fn.date_renderer,
		      sortable : false,
		      className : 'dt-center',
		      title : '接收日期',
		    }, {
		      data : 'inventory_code',
		      sortable : false,
		      title : '货品代码',
		    }, {
		      data : 'inventory_name',
		      title : '货品名称',
		      sortable : false,
		    }, {
		      data : 'specs',
		      sortable : false,
		      className : 'dt-center',
		      title : '规格型号',
		    }, {
		      data : 'unitname',
		      sortable : false,
		      className : 'dt-center',
		      title : '单位',
		    }, {
		      data : 'tax_rate',
		      sortable : false,
		      className : 'dt-center',
		      title : '税率',
		    }, {
		      data : 'pi_quantity',
		      sortable : false,
		      className : 'dt-center',
		      title : '接收数量',
		    }, {
		      data : 'tax_price',
		      sortable : false,
		      className : 'dt-right',
		      title : '含税单价',
		    }, {
		      data : 'tax_cost',
		      sortable : false,
		      className : 'dt-right',
		      title : '含税金额',
		    }, {
		      data : 'adjust_tax_cost',
		      sortable : false,
		      className : 'dt-right',
		      title : '含税调整金额',
		    }, {
		      data : 'invoice_quantity',
		      sortable : false,
		      className : 'dt-right',
		      title : '开票数量',
		    }, {
		      data : 'invoice_price',
		      sortable : false,
		      className : 'dt-right',
		      title : '开票单价',
		    }, {
		      data : 'invoice_cost',
		      sortable : false,
		      className : 'dt-right',
		      title : '开票金额',
		    }, {
		      data : 'po_code',
		      sortable : false,
		      title : '订单编号'
		    }, {
		      data : 'po_row_no',
		      sortable : false,
		      title : '订单行号'
		    }, {
		      data : 'confirmed_memo',
		      sortable : false,
		      defaultContent : '',
		      title : '订单备注'
		    }, {
		      data : 'delivery_code',
		      sortable : false,
		      defaultContent : '',
		      title : '送货单号'
		    }, {
		      data : 'delivery_row_no',
		      defaultContent : '',
		      sortable : false,
		      title : '送货单行号'
		    }, {
		      data : 'delivered_quantity',
		      defaultContent : '',
		      sortable : false,
		      title : '送货单数量'
		    } ],
		    order : [ [ 0, "asc" ], [ 3, "asc" ] ],
		    footerCallback : function(row, data, start, end, display) {
			    App.footerCallback(this.api(), [ [ 10, "cost" ], [ 11, "cost" ], [ 12, "quantity" ], [ 13, "quantity" ], [ 17, "cost" ], [ 18, "cost" ], [ 20, "cost" ] ]);
		    },
		    drawCallback : function(settings) {
			    var data_list = this.api().rows().data().toArray()
			    if (data_list.length > 0)
				    $('#vendor').attr("readonly", true);
			    else
				    $('#vendor').attr("readonly", false);

			    if ((state != 1 && state != 4) || is_readonly) {
				    $('#vendor').attr("readonly", true);
			    }

			    summary_data = {};
			    $.each(this.api().rows().data().toArray(), function(key, item) {
				    var key = item.inventory_code;
				    if (!summary_data[key]) {
					    summary_data[key] = {
					      inventory_code : item.inventory_code,
					      inventory_name : item.inventory_name,
					      unitname : item.unitname,
					      pi_quantity : item.pi_quantity,
					      tax_rate : item.tax_rate,
					      specs : item.specs,
					      tax_price: item.tax_price,
					      tax_cost : item.tax_cost,
					      adjust_tax_cost : item.adjust_tax_cost,
					      invoice_cost : item.invoice_cost,
					      invoice_quantity : item.invoice_quantity,
					      invoice_price : item.invoice_price,
					    }
				    } else {
					    summary_data[key].pi_quantity += App.floatVal(item.pi_quantity);
					    summary_data[key].invoice_price += App.floatVal(item.invoice_price);
					    summary_data[key].tax_cost += App.floatVal(item.tax_cost);
					    summary_data[key].adjust_tax_cost += App.floatVal(item.adjust_tax_cost);
					    summary_data[key].invoice_price = App.priceNumber((summary_data[key].tax_cost + summary_data[key].adjust_tax_cost) / summary_data[key].invoice_quantity);
					    summary_data[key].tax_price = App.priceNumber(summary_data[key].tax_cost / summary_data[key].pi_quantity);
				    }
			    });

			    summary_data = Object.values(summary_data);
			    reloadSummaryTable();
		    }
		  };

		  if ((state != 1 && state != 4) || is_readonly) {
			  table_options.select = false;
			  table_options.buttons = [];
		  }

		  if (table) {
			  table.clear().destroy();
			  $('#detail_table').empty();
		  }

		  var footer = $("<tfoot></tfoot>").appendTo("#detail_table");
		  var footertr = $("<tr></tr>").appendTo(footer);

		  //Add footer cells
		  for (var i = 0; i < 13; i++) {
			  if (i == 0) {
				  $("<th colspan='10' class='dt-center' style='text-align:center'>合计</th>").appendTo(footertr);
			  } else {
				  $("<th></th>").appendTo(footertr);
			  }
		  }

		  table = $('#detail_table').DataTable(table_options);

		  if ((state == 1 || state == 4) && !is_readonly && !is_vendor) {
			  table.on('click', 'tbody td.edit-cell', function(e) {
				  editor.inline(this, {
				    submit : 'allIfChanged',
				    submitOnBlur : true
				  });
			  });
			  App.addKeyDownEditor(editor, 11, 15);
		  }

		  if (state == 2 && !is_readonly && is_vendor) {
			  table.on('click', 'tbody td.vendor', function(e) {
				  editor.inline(this, {
				    submit : 'allIfChanged',
				    submitOnBlur : true
				  });
			  });
			  App.addKeyDownEditor(editor, 20, 20);
		  }
	  }

	  
	  var is_cancel = false;

	  $("#form").validate({
	    // define validation rules
	    rules : {
	      vendor : {
		      required : true
	      },
	      tax_rate : {
		      required : true,
	      },
	      invoice_code : {
		      required : state >= 3
	      },
	    },

	    //display error alert on form submit  
	    invalidHandler : function(event, validator) {
		    App.showErrorDialog("操作失败", "请输入正确的值");
		    validator.focusInvalid();
	    },

	    submitHandler : function(form) {
		    var details = table.rows().data().toArray();
		    var post_table = [];
		    $.each(details, function(key, item) {
		    	var row = {
		    			row_no: item.row_no,
		    			pi_detail_id: item.pi_detail_id,
		    			adjust_tax_cost: item.adjust_tax_cost
		    	};
		    	post_table.push(row);
		    });
		    var post_data = {};
		    if ($('#state').val() <= 3) {
			    post_data.table = post_table;
		    }

		    var new_state = $('#state').val();
		    var confirmMessage = "";
		    if (new_state == 1) {
			    confirmMessage = "保存";
		    } else if (new_state == 2) {
			    confirmMessage = "提交";
		    } else if (new_state == 3) {
			    confirmMessage = "确认";
		    } else if (new_state == 5) {
			    confirmMessage = "收货";
		    } else if (new_state == 6) {
			    confirmMessage = "退回";
		    } else if (new_state == 7) {
			    confirmMessage = "确认拒收";
		    }

		    App.showInputConfirmDialog('确定要' + confirmMessage + '对账单吗?', function(submit_content) {
			    post_data.content = submit_content;
			    jQuery(form).ajaxSubmit({
			      beforeSend : function() {
				      App.blockUI();
			      },
			      complete : function() {
				      App.unblockUI();
			      },
			      data : post_data,
			      success : function(res, status, xhr, form) {
				      if (res.success == 1) {
					      App.showSuccessDialog("操作成功", function() {
						      window.location.href = edit_url + res.data.code + "/edit";
					      });
				      } else {
					      App.showErrorDialog("操作失败", res.errmsg);
				      }
			      },
			      error : function(res, status, xhr, form) {
				      App.showErrorDialog("操作失败", "请输入正确的值");
			      }
			    });
		    });

	    }
	  });

	  $("#btn_search").click(function() {
		  import_table.draw();
	  });

	  $('#btn_import').click(function() {
		  $('#import_dialog').modal('hide');//modal_1 is the id 1
		  var selected_data = import_table.rows('.selected').data().toArray();
		  var exist_data = table.rows().data().toArray();
		  $.each(selected_data, function(key, item) {
			  var available = true;
			  for (i = 0; i < exist_data.length; i++) {
				  exist_row = exist_data[i];
				  if (exist_row.id == item.id) {
					  available = false;
					  break;
				  }
			  }
			  
			  if (available) {
			  	item.pi_code = item.code;
			  	item.pi_detail_id = item.id;
			  	item.pi_date = item.date;
			  	item.pi_quantity = item.quantity;
			  	item.adjust_tax_cost = 0;
				  table.row.add(item);
			  }
		  })

		  updateInvoiceData();

	  });

	  $('#vendor, #code, #inventory, #date').keyup(function(e) {
		  if (e.keyCode == 13)
			  import_table.draw();
	  });

	  function checkTable() {
		  var available = true;

		  if (!available) {
			  App.showErrorDialog("操作失败", "请在表里的【" + empty_column + "】列输入有效值！");
		  }
		  return available;
	  }

	  $("#save").click(function() {
		  editor.submit();
		  if (!checkTable()) {
			  return;
		  }
		  $('#state').val(1);
		  $("#form").submit();
	  });

	  $("#submit").click(function() {
		  editor.submit();
		  if (!checkTable()) {
			  return;
		  }
		  var data = table.rows().data().toArray();
		  if (data.length == 0) {
			  App.showErrorDialog("操作失败", "没有要发布的物料");
			  return;
		  }
		  $('#state').val(2);
		  $("#form").submit();
	  });

	  $("#review").click(function() {
		  $('#state').val(3);
		  $("#form").submit();
	  });
	  
	  $("#deploy").click(function() {
		  $('#state').val(4);
		  $("#form").submit();
	  });

	  $("#cancel").click(function() {
		  editor.submit();
		  $('#invoice_code').rules('remove');
		  $('#state').val(5);
		  $("#form").submit();
	  });
	  
	  $("#confirm").click(function() {
		  editor.submit();
		  $('#state').val(6);
		  $("#form").submit();
	  });

	  $("#deny").click(function() {
		  editor.submit();
		  $('#state').val(7);
		  $("#form").submit();
	  });
	  
	  $("#delete").click(function() {
		  App.showConfirmDialog('确定要删除吗?', function() {
			  $.get(del_url, function(data, status) {
				  App.showSuccessDialog("操作成功", function() {
					  window.location.href = edit_url;
				  });
			  });
		  });
	  });

	  $("#del_attach").click(function() {
		  App.showConfirmDialog('确定要删除吗?', function() {
			  var del_url = edit_url + $("#code").val() + "/deleteattach";
			  $.get(del_url, function(data, status) {
				  App.showSuccessDialog("操作成功", function() {
					  window.location.reload(true);
				  });
			  });
		  });
	  });

	  $("#u8invoice").click(function() {
		  $('#state').val(6);
		  $("#form").submit();
	  });

	  $("#buyer_cancel").click(function() {
		  $('#state').val(1);
		  $("#form").submit();
	  });

  });
</script>
