<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li><a th:href="@{/buyer/purchaseorder}">订单管理</a></li>
        <li class="active">采购订单明细</li>
      </ul>

      
      <div class="panel panel-default">

        <div class="panel-body"> 
        
          <div class="row">
              <div class="col-lg-2 col-md-2">
                <label>订单号: </label>
                <input type="text" class="form-control" value="4502691503" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>币别: </label>
                <input type="text" class="form-control" value="CNY" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>订单类型: </label>
                <input type="text" class="form-control" value="标准采购订单" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>版本: </label>
                <input type="text" class="form-control" value="2" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>数据来源: </label>
                <input type="text" class="form-control" value="ERP" readonly/>
              </div>
    
              <div class="col-lg-4 col-md-4">
                <label>客户: </label>
                <input type="text" class="form-control" value="浙江美尔凯特集成吊顶有限公司" readonly/>
              </div>
              <div class="col-lg-4 col-md-4">
                <label>供应商: </label>
                <input type="text" class="form-control" value="嘉兴市华年电机有限公司" readonly/>
              </div>
              <div class="col-lg-4 col-md-4">
                <label>供应商地址: </label>
                <input type="text" class="form-control" value="XXXXXXXXXXXXXXX" readonly/>
              </div>
    
              <div class="col-lg-4 col-md-4">
                <label>订单总金额: </label>
                <input type="text" class="form-control" value="XXXXX.XX" readonly/>
              </div>
              <div class="col-lg-4 col-md-4">
                <label>创建日期: </label>
                <input type="text" class="form-control" value="xxxx-xx-xx xx:xx:xx" readonly/>
              </div>
              <div class="col-lg-4 col-md-4">
                <label>发布日期: </label>
                <input type="text" class="form-control" value="xxxx-xx-xx xx:xx:xx" readonly/>
              </div>
    
              <div class="col-lg-12 col-md-12">
                <label>订单摘要: </label>
                <input type="text" class="form-control" value="" readonly/>
              </div>
              
              <div class="col-lg-4 col-md-4">
                <label>付款条件: </label>
                <input type="text" class="form-control" value="XXXXX.XX" readonly/>
              </div>
              <div class="col-lg-4 col-md-4">
                <label>预付金额: </label>
                <input type="text" class="form-control" value="23000" readonly/>
              </div>
          </div>
          <div class="row margin-top-10">
            <div class="col-lg-12">
              <div class="blog-talks margin-bottom-30">
                <div class="tab-style-1" id="tabs">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">基本信息</a></li>
                    <li><a data-toggle="tab" href="#tab-2">预付款信息</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="tab-1" class="tab-pane row-fluid fade in active">
                      <table id="basic_info" class="ui celled table nowrap" style="width:100%">
                      </table>
                    </div>
                    <div id="tab-2" class="tab-pane row-fluid fade in">
                      <table id="prepay_info" class="ui celled table nowrap" style="width:100%">
                      </table>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="text-right" style="margin-top: 10px; margin-bottom: 5px;">
            <a class="btn btn-primary"><i class="fa fa-undo"></i> 退回</a>
            <a class="btn btn-primary"><i class="fa fa-arrow-up"></i> 发布</a>
            <a class="btn btn-primary"><i class="fa fa-print"></i> 打印</a>
            <a class="btn btn-default" th:href="@{/buyer/purchaseorder}"><i class="fa fa-arrow-left"></i> 返回</a>
          </div>
        </div> 
      </div>
  </div>  
</body>
</html>

<script th:inline="javascript">
    $(document).ready(function() {
        var basic_table, prepay_table;
        
        function load_prepay_table() {
            if (prepay_table != undefined)
                return;
                
            prepay_table = $('#prepay_info').DataTable({
                ajax : {
                    url : /*[[@{/api/inventory/batch_get}]]*/'',
                    data : function(data) {
                        var filter = {
                            rows_per_page : data.length,
                            page_index : data.start / data.length + 1
                        }
                        return filter;
                    },
                    dataSrc : function(json) {
                        if (json.errcode != 0) {
                            alert(json.errmsg);
                            json.recordsTotal = 0
                            json.recordsFiltered = 0;
                            json.inventory = [];
                        } else {
                            json.recordsTotal = json.row_count;
                            json.recordsFiltered = json.row_count;
                        }
                        return json.inventory;
                    },
                },

                columns : [ {
                    data : 'code',
                    title : '存货编码',
                    defaultContent : ''
                }, {
                    data : 'name',
                    title : '存货名称',
                    defaultContent : ''
                }, {
                    data : 'invaddcode',
                    title : '存货代码',
                    defaultContent : ''
                }, {
                    data : 'specs',
                    title : '规格型号',
                    defaultContent : ''
                }, {
                    data : 'sort_code',
                    title : '所属分类码',
                    defaultContent : ''
                }, {
                    data : 'main_measure',
                    title : '主计量单位',
                    defaultContent : ''
                }, {
                    data : 'ref_sale_price',
                    title : '参考售价',
                    defaultContent : ''
                }, {
                    data : 'tax_rate',
                    title : '销项税率',
                    defaultContent : ''
                }, {
                    data : 'iimptaxrate',
                    title : '进项税率',
                    defaultContent : ''
                }, {
                    data : 'iSupplyType',
                    title : '供应类型',
                    defaultContent : ''
                }, {
                    data : 'puunit_name',
                    title : '采购默认单位名称',
                    defaultContent : ''
                }, {
                    data : 'saunit_name',
                    title : '销售默认单位名称',
                    defaultContent : ''
                }, {
                    data : 'stunit_name',
                    title : '库存默认单位名称',
                    defaultContent : ''
                }, {
                    data : 'bottom_sale_price',
                    title : '最低售价',
                    defaultContent : ''
                }, {
                    data : 'defwarehousename',
                    title : '默认仓库名称',
                    defaultContent : ''
                }, {
                    data : 'start_date',
                    title : '启用日期',
                    render: $.fn.date_renderer,
                    defaultContent : ''
                }, {
                    data : 'end_date',
                    title : '停用日期',
                    render: $.fn.date_renderer,
                    defaultContent : ''
                }, {
                    data : 'ModifyDate',
                    title : '变更日期',
                    render: $.fn.date_renderer,
                    defaultContent : ''             
                } ],
            });
        }
        
        $('#tabs').tabs({
          activate: function (event, ui) {
              load_prepay_table();   
          }
        });
        
        basic_table = $('#basic_info').DataTable({
            ajax : {
                url : /*[[@{/api/inventory/batch_get}]]*/'',
                data : function(data) {
                    var filter = {
                        rows_per_page : data.length,
                        page_index : data.start / data.length + 1
                    }
                    return filter;
                },
                dataSrc : function(json) {
                    if (json.errcode != 0) {
                        alert(json.errmsg);
                        json.recordsTotal = 0
                        json.recordsFiltered = 0;
                        json.inventory = [];
                    } else {
                        json.recordsTotal = json.row_count;
                        json.recordsFiltered = json.row_count;
                    }
                    return json.inventory;
                },
            },

            columns : [ {
                data : 'code',
                title : '存货编码',
                defaultContent : ''
            }, {
                data : 'name',
                title : '存货名称',
                defaultContent : ''
            }, {
                data : 'invaddcode',
                title : '存货代码',
                defaultContent : ''
            }, {
                data : 'specs',
                title : '规格型号',
                defaultContent : ''
            }, {
                data : 'sort_code',
                title : '所属分类码',
                defaultContent : ''
            }, {
                data : 'main_measure',
                title : '主计量单位',
                defaultContent : ''
            }, {
                data : 'ref_sale_price',
                title : '参考售价',
                defaultContent : ''
            }, {
                data : 'tax_rate',
                title : '销项税率',
                defaultContent : ''
            }, {
                data : 'iimptaxrate',
                title : '进项税率',
                defaultContent : ''
            }, {
                data : 'iSupplyType',
                title : '供应类型',
                defaultContent : ''
            }, {
                data : 'puunit_name',
                title : '采购默认单位名称',
                defaultContent : ''
            }, {
                data : 'saunit_name',
                title : '销售默认单位名称',
                defaultContent : ''
            }, {
                data : 'stunit_name',
                title : '库存默认单位名称',
                defaultContent : ''
            }, {
                data : 'bottom_sale_price',
                title : '最低售价',
                defaultContent : ''
            }, {
                data : 'defwarehousename',
                title : '默认仓库名称',
                defaultContent : ''
            }, {
                data : 'start_date',
                title : '启用日期',
                render: $.fn.date_renderer,
                defaultContent : ''
            }, {
                data : 'end_date',
                title : '停用日期',
                render: $.fn.date_renderer,
                defaultContent : ''
            }, {
                data : 'ModifyDate',
                title : '变更日期',
                render: $.fn.date_renderer,
                defaultContent : ''             
            } ],
        });
        
        
                
    $('#product_name').keyup(function(e){
        if(e.keyCode == 13)
            table.draw();
    });
    });
</script>