<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li><a th:href="@{/buyer/purchaseorder}">订单管理</a></li>
        <li class="active">采购订单明细</li>
      </ul>

      <div class=""search-content"">
        <div class="text-right" style="margin-top: 10px; margin-bottom: 5px;">
          <a class="btn btn-primary" id="deploy" th:if="${main.srmstate==0}"><i class="fa fa-undo"></i> 发布</a>
          <a class="btn btn-default" th:href="@{/buyer/purchaseorder}"><i class="fa fa-arrow-left"></i> 返回</a>
        </div>
      </div> 
            
      <div class="panel panel-default">
        <form id="form" th:action="@{/buyer/purchaseorder/update}" method="post">
        </form>
        <div class="panel-body"> 
          <div class="row">
              <div class="col-lg-2 col-md-2">
                <label>订单号: </label>
                <input type="text" id="code" class="form-control" th:value="${main.code}"  readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>订单类型: </label>
                <input type="text" class="form-control" th:value="${main.purchaseTypeName}"  readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label for="state">状态:</label>
                <select name="state" id="state" class="form-control" readonly>
                </select>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>订单总金额: </label>
                <input type="text" class="form-control" th:value="${main.money}" readonly/>
              </div>
              <div class="col-lg-4 col-md-4">
                <label>供应商: </label>
                <input type="text" class="form-control" th:value="${main.vendor.name}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>创建人: </label>
                <input type="text" class="form-control" th:value="${main.maker}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>创建日期: </label>
                <input type="text" class="form-control" th:value="${#dates.format(main.makedate, 'yyyy-MM-dd')}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>发布人: </label>
                <input type="text" class="form-control" th:value="${main.deployer?.realname}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>发布日期: </label>
                <input type="text" class="form-control" th:value="${#dates.format(main.deploydate, 'yyyy-MM-dd')}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>确认人: </label>
                <input type="text" class="form-control" th:value="${main.reviewer?.realname}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>确认日期: </label>
                <input type="text" class="form-control" th:value="${#dates.format(main.reviewdate, 'yyyy-MM-dd')}" readonly/>
              </div>
              <div class="col-lg-4 col-md-4">
                <label>供应商地址: </label>
                <input type="text" class="form-control" th:value="${main.vendor.address}" readonly/>
              </div>
              <div class="col-lg-8 col-md-8">
                <label>订单摘要: </label>
                <input type="text" class="form-control" th:value="${main.remark}" readonly/>
              </div>
              
          </div>
          <div class="row margin-top-10">
            <div class="col-lg-12">
              <div class="blog-talks margin-bottom-30">
                <div class="tab-style-1" id="tabs">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">基本信息</a></li>
                    <li><a data-toggle="tab" href="#tab-2">预付款信息</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="tab-1" class="tab-pane row-fluid fade in active">
                      <table id="basic_info" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
                      </table>
                    </div>
                    <div id="tab-2" class="tab-pane row-fluid fade in">
                      <table id="prepay_info" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
                      </table>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>

      </div>
  </div>  
</body>
</html>

<script th:inline="javascript">
/*[+
var detail_url = [[@{/api/purchaseorder/}]] + [[${main.code}]] + "/details";
var submit_url = [[@{/buyer/purchaseorder/update}]];
var state = [[${main.srmstate}]];
+]*/

var editor;

$(document).ready(function() {
  
  $("#state").select2({ data: App.getPurchaseOrderStateData(),minimumResultsForSearch: -1}).select2("val", state.toString());
  
    var basic_table, prepay_table;
    
    function load_prepay_table() {
      
      basic_array = $('#basic_info').DataTable().rows().data().toArray();
        var prepay_array= [];
        $.each(basic_array, function(key, item){
          if (item.prepaymoney != undefined)
            prepay_array.push(item);
        });
      
        if (prepay_table != undefined) {
          prepay_table.clear();
          prepay_table.rows.add(prepay_array);
          prepay_table.draw();
          return;
        }
            
        prepay_table = $('#prepay_info').DataTable({
          serverSide:false,
          processing:false,
          ajax : null,
          data:prepay_array,
          columns : [ {
              data : 'rowno',
              title : '行号',
          }, {
              data : 'inventory.name',
              title : '存货名称',
          }, {
              data : 'inventory.code',
              title : '存货代码',
          }, {
              data : 'quantity',
              title : '数量',
          }, {
              data : 'price',
              title : '未税单价',
          }, {
              data : 'taxprice',
              title : '含税单价',
          }, {
              data : 'money',
              title : '未税金额',
          }, {
              data : 'sum',
              title : '含税金额',
          }, {
            data : 'prepaymoney',
            title : '预付金额',
          }, {
            data : null,
            render: function(data, type, record) {
              return record.sum - record.prepaymoney;
            },
            title : '未付金额',

          }, {
              data : 'arrivedate',
              title : '需求日期',
              render: $.fn.date_renderer,
          }, {
              data : 'arrivenote',
              title : '供货方备注',
          }, {
              data : 'confirmdate',
              title : '承诺交货日期',
              render: $.fn.date_renderer,
          }, {
              data : 'confirmnote',
              title : '交货方备注',
          } ],
          columnDefs:[{
            className:'dt-center', targets:[0, 1, 2] 
          },{
            className:'dt-right', targets:[3, 4, 5, 6, 7, 8, 9]
          }],
        });
    }
    
    $('#tabs').tabs({
      activate: function (event, ui) {
          load_prepay_table();   
      }
    });
    
    editor = new $.fn.dataTable.Editor( {
      table: "#basic_info",  
      idSrc: "id",
      fields: [ {        
        label: "预付金额:",
        attr: {
          type: "number"
        },
        name: "prepaymoney" 
      },{
        label: "供货方备注:",
        name: "arrivenote" 
      }],
    });
    
    basic_table = $('#basic_info').DataTable({
        serverSide:false,
        processing:false,
        ajax : {
            url : detail_url,
            dataSrc : function(json) {
                return json;
            },
        },

        columns : [ {
            data : 'rowno',
            title : '行号',
        }, {
            data : 'inventory.name',
            title : '存货名称',
        }, {
            data : 'inventory.code',
            title : '存货代码',
        }, {
            data : 'quantity',
            title : '数量',
        }, {
            data : 'price',
            title : '未税单价',
        }, {
            data : 'taxprice',
            title : '含税单价',
        }, {
            data : 'money',
            title : '未税金额',
        }, {
            data : 'sum',
            title : '含税金额',
        }, {
          data : 'prepaymoney',
          className: 'editable-cell dt-right',
          title : '预付金额',
        }, {
            data : 'arrivedate',
            title : '需求日期',
            render: $.fn.date_renderer,
        }, {
            data : 'arrivenote',
            className: 'editable-cell',
            title : '供货方备注',
        }, {
            data : 'confirmdate',
            title : '承诺交货日期',
            render: $.fn.date_renderer,
        }, {
            data : 'confirmnote',
            title : '交货方备注',
        } ],
        columnDefs:[{
          className:'dt-center', targets:[0, 1, 2] 
        },{
          className:'dt-right', targets:[3, 4, 5, 6, 7, 8]
        }],
    });
    
    if (state == 0) {
      $('#basic_info').on( 'click', 'tbody td.editable-cell', function (e) {
        editor.inline( this, { submit: 'allIfChanged', submitOnBlur: true });
      });
    }
    
    function submit(state) {
      var data = basic_table.rows().data().toArray();
      var small_data = [];
      $.each(data, function(key, item){
        small_data.push({id:item.id, prepaymoney:item.prepaymoney, arrivenote:item.arrivenote});
      });
      
      $('#form').ajaxSubmit({
          data: {
            code: $('#code').val(),
            state: state,
            table:small_data
          },
          success: function(res, status, xhr, form) {
              swal({
                  "title": "操作成功", 
                  "type": "success"
              }).then((result) => {
                   window.location.reload(true);
              });
          },
          error: function (res, status, xhr, form) {
              swal({
                  "title": "操作失败", 
                  "text": "请输入正确的值", 
                  "type": "error"
              });
          }
      });
      /*
      $.ajax({
        type: "POST",
        url: submit_url,
        data: {
          code: $('#code').val(),
          state: state,
          table:small_data
        },
        success: function(data, textStatus) {
          swal({
              "title": "操作成功", 
              "type": "success"
          }).then((result) => {
               window.location.reload(true);
          });
        },
        dataType: "json"
      });
      */
    }
    $("#deploy").click(function() {
      submit(1);
    });
    
    $("#confirm").click(function() {
      submit(2);
    });

    $("#cancel").click(function() {
      submit(3);
    });
    
});
</script>