<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
 
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li><a th:href="@{/message}">系统消息</a></li>
      <li class="active">系统消息详细</li>
    </ul>
    <div class="btn-group-bar">
      <div class="text-right">
        <a class="btn btn-default" th:href="@{/message}"><i class="fa fa-arrow-left"></i> 返回列表</a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body form-body"> 
        <div class="row">
          <div class="col-lg-10 col-md-10 form-group">
            <label for="title">标题: </label>
            <input type="text" name="title" id="title" readonly class="form-control" th:value="${notice.title}">
          </div>
          <div class="col-lg-2 col-md-2 form-group">
            <label for="title">发布时间: </label>
            <input type="text" class="form-control" readonly th:value="${#dates.format(notice.createDate, 'yyyy-MM-dd HH:mm:ss')}">
          </div>                    
          <div class="col-lg-12 col-md-12 form-group">
            <label for="content">内容: </label>
            <textarea name="content" id="content" readonly class="form-control" rows=5 th:text="${notice.content}"></textarea>
          </div>
        </div>
      </div>
    </div>
    
    </div>
</body>
</html>


