<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<div class="container" layout:fragment="content">
		<ul class="breadcrumb">
			<li><a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a></li>
			<li><a href="#">基础资料</a></li>
			<li><a th:href="@{/inventory}">物料档案表</a></li>
			<li class="active">详细信息</li>
		</ul>
		<div class="btn-group-bar">
			<div class="text-right">
				<a class="btn btn-primary" id="save"><i class="fa fa-share"></i> 保存</a> 
				<a class="btn btn-default" th:href="@{/inventory}"><i class="fa fa-arrow-left"></i> 返回列表</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<form id="form" th:action="@{/inventory/update}" method="post">				
				<div class="row">
					<div class="col-md-3">
						<label>货品编码: </label> <input type="text" name="code" class="form-control" readonly th:value="${data.code}" />
					</div>
					<div class="col-md-3">
						<label>货品类别: </label> <input type="text" class="form-control" readonly th:value="${data.inventoryClass.name}" />
					</div>
					<div class="col-md-3">
						<label>货品名称: </label> <input type="text" class="form-control" readonly th:value="${data.name}" />
					</div>
					<div class="col-md-3">
						<label>规格型号: </label> <input type="text" class="form-control" readonly th:value="${data.specs}" />
					</div>
					<div class="col-md-3">
						<label>启用日期: </label> <input type="text" class="form-control" readonly th:value="${#dates.format(data.startDate, 'yyyy-MM-dd')}" />
					</div>
					<div class="col-md-3">
						<label>变更日期: </label> <input type="text" class="form-control" readonly th:value="${#dates.format(data.modifyDate, 'yyyy-MM-dd')}" />
					</div>
					<div class="col-md-3">
						<label>主计量单位: </label> <input type="text" class="form-control" readonly th:value="${data.mainMeasure}" />
					</div>
					<div class="col-md-3">
						<label>默认仓库: </label> <input type="text" class="form-control" readonly th:value="${data.defwarehouse}" />
					</div>
					<div class="col-md-3">
						<label>默认仓库名称: </label> <input type="text" class="form-control" readonly th:value="${data.defwarehousename}" />
					</div>
					<div class="col-md-3">
						<label>进项税率: </label> <input type="text" class="form-control" readonly th:value="${data.iimptaxrate}" />
					</div>
					<div class="col-md-3">
						<label>装箱类别: </label> 
						<select name="box" id="box" class="form-control">
							<option th:if="${data.boxClass != null}" th:value="${data.boxClass?.id}" th:text="${data.boxClass?.name}" selected="selected"></option>
							<option th:if="${data.boxClass == null}" value="-1" selected="selected">浮动箱码</option>
						</select>						
					</div>
					<div class="col-md-3">
						<label>单位包装量: </label> <input type="number" class="form-control" name="count_per_box" id="count_per_box" th:value="${data.countPerBox}" />
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

<script th:inline="javascript">
	var box_url = /*[[@{|/box/class/search|}]]*/'';
	var edit_url = /*[[@{|/inventory/|}]]*/'';

  $(document).ready(function() {

	  $("#box").select2(App.getSelect2OptionsWithFirstOption(box_url, {id:-1, text:"浮动箱码"}));
	  
	  $("#form").validate({
	    // define validation rules
	    rules : {
	    	box : {
		      required : true
	      },
	      count_per_box : {
		      required : true,
		      digits: true
	      },	      
	    },
	    messages : {
	    	box : {
	    		required : "该用户名已在使用！"
	      },
	      count_per_box : {
	      	required : "不能为空！",
	      	digits: "请输入整数！"
	      },
	    },

	    //display error alert on form submit
	    invalidHandler : function(event, validator) {
		    App.showErrorDialog("输入有误", "请输入正确的值");
	    },

	    submitHandler : function(form) {
		    jQuery(form).ajaxSubmit({
		      beforeSend : function() {
			      App.blockUI();
		      },
		      complete : function() {
			      App.unblockUI();
		      },
		      success : function(res, status, xhr, form) {
			      if (res.success == 1) {
				      App.showSuccessDialog("操作成功", function() {
					      window.location.href = edit_url + res.data.code + "/edit";
				      });
			      } else {
				      App.showErrorDialog("操作失败", res.errmsg);
			      }
		      },
		      error : function(res, status, xhr, form) {
			      App.showErrorDialog("操作失败", "请输入正确的值");
		      }
		    });
	    }
	  });
	  
	  $("#save").click(function() {
		  $("#form").submit();
	  });
	  
  })
  
</script>
