<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
    <div class="container">
        <ul class="breadcrumb">
          <li>
            <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
          </li>
          <li><a href="#">基础资料</a></li>
          <li class="active">物料档案表</li>
        </ul>
        <div class="search-content form-inline">
            <div class="search-cell width-18">
                <label for="product_name">物料编码/名称:</label>
                <input type="text" id="product_name" class="form-control">
              <button class="btn btn-default" id="btn_search"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
              </table>
          </div>
        </div>
    </div>
  </div>
</body>
</html>


<script th:inline="javascript">
	
  $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
    var product_code = $('#product_code').val();
    var product_name = $('#product_name').val();

    if (data[9] == product_code || product_code == '') {
      if (data[10] == product_name || product_name == '') {
        return true;
      }
    }
    return false;
  });

  $(document).ready(function() {
    var table = $('#example').DataTable({
      ordering : true,
      ajax : {
        url : /*[[@{/inventory/list}]]*/'',
        data : function(data) {
          var filter = {
            rows_per_page : data.length,
            page_index : data.start / data.length + 1,
            order : data.columns[data.order[0].column].data,
            dir : data.order[0].dir,
            search : $('#product_name').val()
          }
          return filter;
        },
        dataSrc : function(json) {
          json.recordsTotal = json.totalElements;
          json.recordsFiltered = json.totalElements;
          return json.content;
        },
      },
      order: [ [1, 'asc'] ],
      columns : [ {
        data : 'code',
        title : '存货编码',
        render : function(data, display, record) {
          var edit_url = /*[[@{/inventory/}]]*/'';
          edit_url += record.code + '/edit';
          return '<a href="' + edit_url + '">' + data + '</a>';
        },
      }, {
        data : 'name',
        title : '存货名称',    
      }, {
        data : 'inventoryClass.name',
        title : '存货类别',   
      }, {
        data : 'specs',
        title : '规格型号',
      }, {
        data : 'main_measure',
        className: 'dt-center',
        title : '主计量单位',
      }, {
        data : 'iimptaxrate',
        className: 'dt-right',
        title : '进项税率',
      }, {
        data : 'defwarehousename',
        title : '默认仓库名称',
      }, {
        data : 'start_date',
        title : '启用日期',
        className: 'dt-center',
        render : $.fn.date_renderer
      }, {
        data : 'end_date',
        className: 'dt-center',
        title : '停用日期',
        render : $.fn.date_renderer
      }, {
        data : 'modify_date',
        title : '变更日期',
        className: 'dt-center',
        render : $.fn.date_renderer,
      } ],
    });

    $("#btn_search").click(function() {
      table.draw();
    });

    $('#product_name').keyup(function(e) {
      if (e.keyCode == 13)
        table.draw();
    });
  });
</script>