<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
    <div class="container">
        <ul class="breadcrumb">
          <li>
            <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
          </li>
          <li><a href="#">基础资料</a></li>
          <li class="active">采购目录表</li>
        </ul>
        <div class="search-content">
          <div class="search-cell width-18">
              <label for="inventory">货品编码/名称/规格型号:</label>
              <input type="text" id="inventory" class="form-control">            
          </div>
          <div class="search-cell width-10">
						<label for="inventory_class">货品类别名称/编码:</label> 
						<input type="text" id="inventory_class" class="form-control"> 
					</div>
					<div class="search-cell width-10">
						<label for="box_class">装箱类别名称/编码:</label> 
						<input type="text" id="box_class" class="form-control"> 
					</div>
					<div style="vertical-align: bottom" class="search-cell width-15">
		        <button class="btn btn-default" id="btn_search"><i class="fa fa-search"></i> 查询</button>
		      </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
              </table>
          </div>
        </div>
    </div>
  </div>
</body>
</html>


<script th:inline="javascript">
	
  $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
    var product_code = $('#product_code').val();
    var product_name = $('#product_name').val();

    if (data[9] == product_code || product_code == '') {
      if (data[10] == product_name || product_name == '') {
        return true;
      }
    }
    return false;
  });

  $(document).ready(function() {
    var table = $('#example').DataTable({
      ordering : true,
      scrollY : '355px',
      ajax : {
        url : /*[[@{/inventory/list}]]*/'',
        data : function(data) {
          var filter = {
            rows_per_page : data.length,
            page_index : data.start / data.length + 1,
            order : data.columns[data.order[0].column].data,
            dir : data.order[0].dir,
            inventory : $('#inventory').val(),
            inventory_class : $('#inventory_class').val(),
            box_class : $('#box_class').val()
          }
          return filter;
        },
        dataSrc : function(json) {
          json.recordsTotal = json.totalElements;
          json.recordsFiltered = json.totalElements;
          return json.content;
        },
      },
      fixedColumns: {
        leftColumns: 3,
    	},
      order: [ [0, 'asc'] ],
      columns : [ {
        data : 'code',
        title : '货品编码',
        render : function(data, display, record) {
          var edit_url = /*[[@{/inventory/}]]*/'';
          edit_url += record.code + '/edit';
          return '<a href="' + edit_url + '">' + data + '</a>';
        },
      }, {
        data : 'name',
        title : '货品名称',    
      }, {
        data : 'inventoryClass.name',
        title : '货品类别',   
        render : function(data, display, record) {
        	if (record.inventoryClass) {
        		return record.inventoryClass.name;
        	} else {
        		return "";
        	}
        },
      }, {
        data : 'specs',
        title : '规格型号',
      }, {
        data : 'main_measure',
        className: 'dt-center',
        title : '主计量单位',
      }, {
        data : 'iimptaxrate',
        className: 'dt-right',
        title : '进项税率',
      }, {
        data : 'defwarehousename',
        title : '默认仓库',
      }, {
        data : 'boxClass.name',
        title : '装箱类别',
        render : function(data, display, record) {
        	if (record.boxClass) {
        		return record.boxClass.code + " " + record.boxClass.name;
        	} else {
        		return "";
        	}
        },
      }, {
      	className: 'dt-center',
        data : 'count_per_box',
        title : '单位包装量',
      }, {
      	className: 'dt-center',
      	data : 'is_purchase',
        render: App.getYesNoOfId,
        title : '采购',
      }, {
      	className: 'dt-center',
      	data : 'is_import',
        render: App.getYesNoOfId,
        title : '进口',
      }, {
      	className: 'dt-center',
      	data : 'is_weiwai',
        render: App.getYesNoOfId,
        title : '委外',
      }, {
      	className: 'dt-center',
      	data : 'is_asset',
        render: App.getYesNoOfId,
        title : '资产',
      }, {
        data : 'start_date',
        title : '启用日期',
        className: 'dt-center',
        render : $.fn.date_renderer
      }, {
        data : 'end_date',
        className: 'dt-center',
        title : '停用日期',
        render : $.fn.date_renderer
      }, {
        data : 'modify_date',
        title : '变更日期',
        className: 'dt-center',
        render : $.fn.date_renderer,
      } ],
    });

    $("#btn_search").click(function() {
      table.draw();
    });

    $('#inventory, #inventory_class, #box_class').keyup(function(e) {
      if (e.keyCode == 13)
        table.draw();
    });
  });
</script>