<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
	<div class="container" layout:fragment="content">
		<ul class="breadcrumb">
			<li><a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a></li>
			<li><a th:href="@{/purchaseorder}">订单管理</a></li>
			<li class="active">订单详细</li>
		</ul>
		<div class="btn-group-bar">
			<div class="text-right" style="margin-top: 10px; margin-bottom: 5px;">
				<a class="btn btn-primary" id="deploy" th:if="${(main.srmstate==0 && canDeploy)}"><i class="fa fa-share"></i> 发布</a> 
				<a class="btn btn-primary" id="confirm" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.srmstate==1}"><i class="fa fa-arrow-up"></i> 确认</a> 
				<a class="btn btn-danger" id="close" th:if="${main.srmstate>=1 && main.srmstate!=3 && canClose}"><i class="fa fa-remove"></i> 订单关闭</a>
				<a class="btn btn-primary" id="export"><i class="fa fa-print"></i> 导出明细</a>
				<a class="btn btn-default" th:href="@{/purchaseorder}"><i class="fa fa-arrow-left"></i> 返回列表</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-2">
						<label>订单编号： </label> <input type="text" id="code" class="form-control" th:value="${main.code}" readonly />
					</div>
					<div class="col-md-2">
						<label>订单日期： </label> <input type="text" class="form-control" th:value="${#dates.format(main.orderdate, 'yyyy-MM-dd')}" readonly />
					</div>
					<div class="col-md-2">
						<label>采购类型： </label> <input type="text" class="form-control" th:value="${main.purchaseTypeName}" readonly />
					</div>
					<div class="col-md-2">
						<label for="state">订单状态：</label> <select name="state" id="state" class="form-control" readonly>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>创建人： </label> <input type="text" class="form-control" th:value="${main.maker}" readonly />
					</div>
					<div class="col-md-2">
						<label>创建日期：</label> <input type="text" class="form-control" th:value="${#dates.format(main.makedate, 'yyyy-MM-dd')}" readonly />
					</div>
					<div class="col-md-2">
						<label>发布人： </label> <input type="text" class="form-control" th:value="${main.deployer?.realname}" readonly />
					</div>
					<div class="col-md-2">
						<label>发布日期：</label> <input type="text" class="form-control" th:value="${#dates.format(main.deploydate, 'yyyy-MM-dd')}" readonly />
					</div>
					<div class="col-md-2">
						<label>确认人： </label> <input type="text" class="form-control" th:value="${main.reviewer?.realname}" readonly />
					</div>
					<div class="col-md-2">
						<label>确认日期：</label> <input type="text" class="form-control" th:value="${#dates.format(main.reviewdate, 'yyyy-MM-dd')}" readonly />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>供应商: </label> <input type="text" class="form-control" th:value="${main.vendor?.name}" readonly />
					</div>
					<div class="col-md-2">
						<label>业务实体： </label> <input type="text" class="form-control" th:value="${main.company?.name}" readonly />
					</div>
					<form id="form" th:action="@{/purchaseorder/update}" method="post">
					<input type="hidden" id="save_state"/>
					<input type="hidden" id="store_set" th:value="${main.store?.isAcceptSet}"/>
					<div class="col-md-2">
						<label>收货仓库： </label> 
						<select name="store" id="store" class="form-control">
							<option th:if="${main.store != null}" th:value="${main.store?.id}" th:text="${main.store?.name}" selected="selected"></option>
						</select>
					</div>
					</form>
					<div class="col-md-6">
						<label>订单摘要： </label> <input type="text" class="form-control" th:value="${main.remark}" readonly />
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-lg-12">
						<div class="detail-tabs margin-bottom-30">
							<div class="tab-style-1" id="tabs">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#tab-1">基本信息</a></li>
									<li><a data-toggle="tab" href="#tab-2">操作日志</a></li>
								</ul>
								<div class="tab-content">
									<div id="tab-1" class="tab-pane row-fluid fade in active">
										<table id="basic_info" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
											<tfoot>
												<tr>
													<th colspan="6" class="dt-center">合计</th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th colspan="3"></th>
													<th></th>
													<th></th>
													<th></th>
													<th colspan="3"></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th colspan="5"></th>
												</tr>
											</tfoot>
										</table>
									</div>
									<div id="tab-2" class="tab-pane row-fluid fade in">
										<div class="row edit-history">
											<a class="btn btn-primary save-history" id="show_modal_btn"><i class="fa fa-plus"></i> 添加说明</a>
										</div>
										<table id="history_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="history_dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">添加说明</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="history_form" th:action="@{/operation_history/update}" method="post">
							<input type="hidden" name="action" value="添加说明"/>
							<div class="row">
								<div class="col-md-12">
									<textarea name="content" placeholder="请输入说明" id="history_content" class="history-content" rows="5"></textarea>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="save_history">保存</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR')">
	is_vendor = 1;
</script>
<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR') or hasAuthority('订单管理-新建/发布')">
	is_readonly = 0;
</script>
<script th:inline="javascript">
	/*[+
   var detail_url = [[@{/purchaseorder/}]] + [[${main.code}]] + "/details";
   var history_url = [[@{/operation_history/list/order/}]] + [[${main.code}]];
   var store_url = [[@{/store/search/}]] + [[${main.company.id}]];
   var submit_url = [[@{/purchaseorder/update}]];
   var state = [[${main.srmstate}]];
   +]*/

  var editor;

  $(document).ready(function() {

	  Layout.initUniform();
	  $("#state").select2({
	    data : App.getPurchaseOrderStateData(),
	    minimumResultsForSearch : -1
	  }).select2("val", state.toString());

	  $("#store").select2(App.getSelect2Options(store_url));
	  $('#store').on('select2:select', function (e) {
	  	var store_data = $('#store').select2('data');
	  	$("#store_set").val(store_data[0].is_set);
	  });
	  
	  var basic_table, history_table;

	  $('#save_history').click(function() {
	  	if (!$('#history_content').val()) {
	  		App.showErrorDialog("日志内容不能为空！");
	  		return;
	  	}
	  	
		  $("#history_form").ajaxSubmit({
		    data : {
		      target_type : "order",
		      target_id : $('#code').val(),
		    },
		    beforeSend : function() {
			    App.blockUI();
		    },
		    complete : function() {
			    App.unblockUI();
		    },
		    success : function(res, status, xhr, form) {
			    if (res.success == 1) {
				    $('#history_content').val('');
				    history_table.ajax.reload();
				    $('#history_dialog').modal('hide'); 
			    } else {
				    App.showErrorDialog(res.errmsg);
			    }
		    },
		    error : function(res, status, xhr, form) {
			    App.showErrorDialog("操作失败", "请稍后重试");
		    }
		  });
	  });

	  editor = new $.fn.dataTable.Editor({
	    table : "#basic_info",
	    idSrc : "id",
	    fields : [ {
	      type : "date",
	      opts : {
	        showOn : "focus",
	        dateFormat : "yy-mm-dd",
	      },
	      name : "confirmed_date"
	    }, {
		    name : "confirmed_memo"
	    }, {
		    name : "memo"
	    }, {
	      attr : {
		      type : "number"
	      },
	      name : "confirmed_quantity"
	    } ],
	  }).on('preOpen', function(e, data, action) {
		  var currentFieldName = e.currentTarget.s.includeFields[0];
		  if (currentFieldName == "close_state") {
			  var modifier = editor.modifier();
			  $(modifier).addClass("selecting");
		  }
	  }).on('close', function(e) {
		  var currentFieldName = e.currentTarget.s.includeFields[0];
		  if (currentFieldName == "close_state") {
			  var modifier = editor.modifier();
			  $(modifier).removeClass("selecting");
		  }
	  });

	  basic_table = $('#basic_info').DataTable({
	    serverSide : false,
	    processing : false,
	    select : (!is_vendor) ? {
		    style : 'multi'
	    } : false,
	    ajax : {
	      url : detail_url,
	      dataSrc : function(json) {
		      $.each(json, function(key, item) {
			      item.arrive_date = $.fn.date_renderer(item.arrive_date);
			      item.confirmed_date = $.fn.date_renderer(item.confirmed_date);
			      item.close_state = item.close_date ? 1 : 0;
			      item.tax = App.costNumber(item.sum - item.money);
			      item.not_arrived_quantity = item.quantity - item.delivered_quantity;
			      if (state == 0) {
			      	item.count_per_box = item.inventory.count_per_box;	
			      }			      
			      item.not_arrived_box_quantity = App.getBoxCount(item.not_arrived_quantity, item.count_per_box);
			      item.arrived_box_quantity = App.getBoxCount(item.delivered_quantity, item.count_per_box);
			      item.box_quantity = App.getBoxCount(item.quantity, item.count_per_box);
		      })
		      return json;
	      },
	    },
	    fixedColumns : {
		    leftColumns : 4,
	    },
	    columns : [ {
	      data : null,
	      defaultContent : '',
	      orderable : false,
	      visible : !is_vendor,
	      title : '选择',
	      className : 'select-checkbox',
	    }, {
	      data : 'row_no',
	      className : 'dt-center',
	      title : '行号',
	    }, {
	      data : 'inventory.code',
	      title : '货品代码',
	      render : function(data, display, record) {
		      if (!record.inventory) {
			      data = '';
		      }
		      return record.inventory.code;
	      },
	    }, {
	      data : 'inventory_name',
	      title : '货品名称',
	    }, {
	      data : null,
	      defaultContent : '',
	      className : 'dt-right',
	      title : '规格型号',
	      render: function (data, display, record) {
	        if (record.inventory) {
	        	return record.inventory.specs;
	        } else {
	        	return "";
	        }
	      },
	    }, {
	      data : 'unit_name',
	      className : 'dt-center',
	      title : '单位',
	    }, {
	      data : 'quantity',
	      className : 'dt-right',
	      title : '订单数量',
	    }, {
	      data : null,
	      defaultContent : '',
	      className : 'dt-right',
	      title : '换算率'
	    }, {
	      data : 'inventory.boxClass',
	      className : 'dt-right',
	      title : '装箱规格',
	      render: function (data, display, record) {
	        if (record.inventory.boxClass) {
	        	return record.inventory.boxClass.name;
	        } else {
	        	return "";
	        }
	      },
	    }, {
	      data : 'count_per_box',
	      className : 'dt-right',
	      title : '每箱数量',
	    }, {
	      data : null,
	      defaultContent : '',
	      className : 'dt-right',
	      title : '订单件数'
	    }, {
	      data : 'box_quantity',
	      className : 'dt-right',
	      title : '订单箱数',
	    }, {
	      data : 'tax_rate',
	      className : 'dt-right',
	      title : '税率'
	    }, {
	      data : 'price',
	      className : 'dt-right',
	      title : '未税单价',
	    }, {
	      data : 'tax_price',
	      className : 'dt-right',
	      title : '含税单价',
	    }, {
	      data : 'money',
	      className : 'dt-right',
	      title : '未税金额',
	    }, {
	      data : 'tax',
	      className : 'dt-right',
	      title : '税额',
	    }, {
	      data : 'sum',
	      className : 'dt-right',
	      title : '含税金额',
	    }, {
	      data : 'arrive_date',
	      title : '需求日期',
	      className : 'dt-center',
	      render : $.fn.date_renderer,
	    }, {
	      data : null,
	      defaultContent : '',
	      className : 'dt-right',
	      title : '技术要求'
	    }, {
	      data : 'memo',
	      className : 'buyer-cell',
	      title : '购方备注',
	    }, {
	      data : 'delivered_quantity',
	      className : 'dt-right',
	      title : '订单已交数量',
	    }, {
	      data : null,
	      defaultContent : '',
	      className : 'dt-right',
	      title : '订单已交件数'
	    }, {
	      data : 'arrived_box_quantity',
	      className : 'dt-right',
	      title : '订单已交箱数',
	    }, {
	      data : 'not_arrived_quantity',
	      className : 'dt-right',
	      title : '订单未交数量',
	    }, {
	      data : null,
	      defaultContent : '',
	      className : 'dt-right',
	      title : '订单未交件数'
	    }, {
	      data : 'not_arrived_box_quantity',
	      className : 'dt-right',
	      title : '订单未交箱数',
	    }, {
	      data : null,
	      defaultContent : '',
	      className : 'dt-right',
	      title : '是否加急',

	    }, {
	      data : 'prepay_money',
	      className : 'dt-right',
	      title : '订金',
	    }, {
	      data : 'confirmed_quantity',
	      className : 'dt-right',
	      title : '承诺交货数量',
	    }, {
	      data : 'confirmed_date',
	      title : '承诺交货日期',
	      className : 'dt-center vendor-cell',
	      render : $.fn.date_renderer,
	    }, {
	      data : null,
	      defaultContent : '',
	      className : 'dt-right',
	      title : '最后承诺交货日期',
	    }, {
	      data : 'close_date',
	      className : 'dt-center',
	      title : '　行状态　',
	      render : function(data, display, record) {
		      return record.close_date ? '关闭' : '';
	      },
	    }, {
	      data : 'confirmed_memo',
	      className : 'vendor-cell',
	      title : '供方备注',
	    } ],
	    rowCallback: function (row, data) {
        if (data.close_date) {
            $(row).addClass('closed');
        }
    	},
	    footerCallback : function(row, data, start, end, display) {
		    App.footerCallback(this.api(), [ [ 6, "cost" ], [ 10, "cost" ], [ 11, "cost" ], [ 15, "cost" ], [ 16, "cost" ], [ 17, "cost" ], [ 21, "cost" ], [ 22, "cost" ], [ 23, "cost" ], [ 24, "cost" ], [ 25, "cost" ], [ 28, "cost" ] ]);
	    },
	  });

	  
	  history_table = $('#history_table').DataTable({
	    serverSide : false,
	    processing : false,
	    ajax : {
	      url : history_url,
	      dataSrc : function(json) {
		      return json;
	      },
	    },
	    order : [ [ 0, 'desc' ] ],
	    columns : [ {
	      data : 'create_date',
	      title : '日期',
	      width: '150px',
	      className : 'dt-center',
	      render : $.fn.time_renderer,
	    }, {
	      data : 'action',
	      title : '动作',
	      width: '100px',
	      className : 'dt-center',
	    }, {
	      data : 'account.realname',
	      title : '操作人',
	      width: '150px',
	      className : 'dt-center',
	    }, {
	      data : 'content',
	      title : '说明',
	    } ],
	  });

	  $('.detail-tabs a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
		  if (history_table) {
			  history_table.columns.adjust();
		  }

		  if (basic_table) {
			  basic_table.columns.adjust();
		  }
	  });

	  if (state == 0) {
		  $('#basic_info').on('click', 'tbody td.buyer-cell', function(e) {
			  editor.inline(this, {
			    submit : 'allIfChanged',
			    submitOnBlur : true
			  });
		  });
	  } else {
		  $("#store").attr("readonly", true);
	  }

	  if (state == 1 && is_vendor) {
		  $('#basic_info').on('click', 'tbody td.vendor-cell', function(e) {
			  editor.inline(this, {
			    submit : 'allIfChanged',
			    submitOnBlur : true
			  });
		  });
	  }

	  $.validator.addMethod("checkTable", function(value, element) {
		  var exist_data = basic_table.rows().data().toArray();
		 
		  var store_set = $('#store_set').val();
		  if (store_set == 1) {
		  	for (i = 0; i < exist_data.length; i++) {
				  var exist_row = exist_data[i];
				  
				  if (!exist_row.count_per_box) {
				  	App.showErrorDialog("操作失败", exist_row.inventory.name + "(" + exist_row.inventory.code + ")" + "的单位包装量为空。请先维护此货品的单位包装量。");
					  return false;
				  }			  
			  }	
		  }		  

		  return true;
	  }, "");
	  
	  $("#form").validate({
	    rules : {
	    	store : {
	        required : true,
	        checkTable : true
	      },
	    },

	    //display error alert on form submit  
	    invalidHandler : function(event, validator) {
		    App.showErrorDialog("操作失败", "请输入正确的值");
	    },
	    submitHandler : function(form) {
	    	submit();
	    }
	  });
	  
	  function submit() {
		  editor.submit();	  
		  var state = $('#save_state').val();
		  var data = basic_table.rows().data().toArray();
		  var small_data = [];

		  if (state == 10) {
			  data = basic_table.rows('.selected').data().toArray();
			  if (data.length == 0) {
				  App.showErrorDialog("操作失败", "请选择至少一行数据！");
				  return;
			  }
		  }

		  var confirmMessage = "";
		  if (state == 1) {
		  	confirmMessage = "发布订单";
		  } else if (state == 2) {
		  	confirmMessage = "确认订单";
		  } else if (state == 3) {
		  	confirmMessage = "关闭订单";
		  } else if (state == 10) {
		  	confirmMessage = "行关闭";
		  }
		  
		  App.showInputConfirmDialog('确定要' + confirmMessage + '吗?', function(submit_content) {
		  	$.each(data, function(key, item) {
				  small_data.push({
				    id : item.id,
				    memo : item.memo,
				    count_per_box: item.count_per_box,
				    confirmed_date : item.confirmed_date,
				    confirmed_memo : item.confirmed_memo,
				    close_state : item.close_state
				  });
			  });

			  $('#form').ajaxSubmit({
			  	beforeSend : function() {
			      App.blockUI();
		      },
		      complete : function() {
			      App.unblockUI();
		      },
			    data : {
			      code : $('#code').val(),
			      store : $('#store').val(),
			      state : state,
			      table : small_data,
			      content: submit_content,
			    },
			    success : function(res, status, xhr, form) {
			    	if (res.success == 1) {
			    		App.showSuccessDialog("操作成功", function() {
						    window.location.reload(true);
					    });	
			    	} else {
			    		App.showErrorDialog("操作失败", res.errmsg);
			    	}
				    
			    },
			    error : function(res, status, xhr, form) {
				    App.showErrorDialog("操作失败", "请输入正确的值");
			    }
			  });
	    });
	  }

	  $("#deploy").click(function() {
		  editor.submit();
		  $('#save_state').val(1);
		  $("#form").submit();
	  });

	  $("#confirm").click(function() {
		  editor.submit();
		  $('#save_state').val(2);
		  $("#form").submit();
	  });

	  $("#close").click(function() {
		  editor.submit();
		  $('#save_state').val(3);
		  $("#form").submit();
	  });

	  $("#close_row").click(function() {
		  editor.submit();
		  $('#save_state').val(10);
		  $("#form").submit();
	  });

	  $('#show_modal_btn').click(function() {
	  	$('#history_dialog').modal('show'); 
	  });
	  
	  $('#export').click(function() {
	  	var file_name = $('#code').val() + "_订单明细.csv";
	  	App.exportCSVFromDatatable(basic_table, file_name);
	  });
  });
</script>