<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li><a th:href="@{/purchaseorder}">订单管理</a></li>
        <li class="active">订单详细</li>
      </ul>

      <div class="btn-group-bar">
        <div class="text-right" style="margin-top: 10px; margin-bottom: 5px;">
          <a class="btn btn-primary" id="deploy" sec:authorize="hasAuthority('订单管理-新建/发布')" th:if="${(main.srmstate==0 or main.srmstate==3 ) AND main.state =='审核'} "><i class="fa fa-undo"></i> 发布</a>
          <a class="btn btn-primary" id="confirm" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.srmstate==1}"><i class="fa fa-arrow-up"></i> 确认</a>
          <a class="btn btn-primary" id="cancel" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.srmstate==1}"><i class="fa fa-undo"></i> 拒绝</a>
          <a class="btn btn-default" th:href="@{/purchaseorder}"><i class="fa fa-arrow-left"></i> 返回列表</a>
        </div>
      </div> 
            
      <div class="panel panel-default">
        <form id="form" th:action="@{/purchaseorder/update}" method="post">
        </form>
        <div class="panel-body"> 
          <div class="row">
              <div class="col-lg-2 col-md-2">
                <label>订单号: </label>
                <input type="text" id="code" class="form-control" th:value="${main.code}"  readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>订单类型: </label>
                <input type="text" class="form-control" th:value="${main.purchaseTypeName}"  readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label for="state">状态:</label>
                <select name="state" id="state" class="form-control" readonly>
                </select>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>订单总金额: </label>
                <input type="text" class="form-control" id="money_total" readonly/>
              </div>
              <div class="col-lg-4 col-md-4">
                <label>供应商: </label>
                <input type="text" class="form-control" th:value="${main.vendor.name}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>创建人: </label>
                <input type="text" class="form-control" th:value="${main.maker}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>创建日期: </label>
                <input type="text" class="form-control" th:value="${#dates.format(main.makedate, 'yyyy-MM-dd')}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>发布人: </label>
                <input type="text" class="form-control" th:value="${main.deployer?.realname}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>发布日期: </label>
                <input type="text" class="form-control" th:value="${#dates.format(main.deploydate, 'yyyy-MM-dd')}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>确认人: </label>
                <input type="text" class="form-control" th:value="${main.reviewer?.realname}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>确认日期: </label>
                <input type="text" class="form-control" th:value="${#dates.format(main.reviewdate, 'yyyy-MM-dd')}" readonly/>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>订金总金额: </label>
                <input type="number" class="form-control" id="prepay_total" readonly/>
              </div>
              <div class="col-lg-4 col-md-4">
                <label>供应商地址: </label>
                <input type="text" class="form-control" th:value="${main.vendor.address}" readonly/>
              </div>
              <div class="col-lg-6 col-md-6">
                <label>订单摘要: </label>
                <input type="text" class="form-control" th:value="${main.remark}" readonly/>
              </div>
              
          </div>
          <div class="row margin-top-10">
            <div class="col-lg-12">
              <div class="detail-tabs margin-bottom-30">
                <div class="tab-style-1" id="tabs">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">基本信息</a></li>
                    <li><a data-toggle="tab" href="#tab-2">订金信息</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="tab-1" class="tab-pane row-fluid fade in active">
                      <table id="basic_info" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
                        <tfoot align="right">
                          <tr><th colspan="4" align="center">合计</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
                        </tfoot>
                      </table>
                    </div>
                    <div id="tab-2" class="tab-pane row-fluid fade in">
                      <table id="prepay_info" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
                        <tfoot align="right">
                          <tr><th colspan="4" align="center">合计</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>

      </div>
  </div>  
</body>
</html>

<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR') or hasAuthority('订单管理-新建/发布')">
is_readonly = 0;
</script>

<script th:inline="javascript">
/*[+
var detail_url = [[@{/purchaseorder/}]] + [[${main.code}]] + "/details";
var submit_url = [[@{/purchaseorder/update}]];
var state = [[${main.srmstate}]];
+]*/

var editor;

$(document).ready(function() {
  
  $("#state").select2({ data: App.getPurchaseOrderStateData(),minimumResultsForSearch: -1}).select2("val", state.toString());
  
    var basic_table, prepay_table;
    
    function load_prepay_table() {
      
      basic_array = $('#basic_info').DataTable().rows().data().toArray();
        var prepay_array= [];
        $.each(basic_array, function(key, item){
          if (item.prepaymoney != undefined)
            prepay_array.push(item);
        });
      
        if (prepay_table != undefined) {
          prepay_table.clear();
          prepay_table.rows.add(prepay_array);
          prepay_table.draw();
          return;
        }
            
        prepay_table = $('#prepay_info').DataTable({
          serverSide:false,
          processing:false,
          ajax : null,
          data:prepay_array,
          columns : [ {
              data : 'rowno',
              title : '行号',
          }, {
              data : 'inventory_name',
              title : '存货名称',
          }, {
              data : 'inventory_code',
              title : '存货代码',
          }, {
            data : 'unit_name',
            className: 'dt-center',            
            title : '单位',              
          }, {
              data : 'quantity',
              className: 'dt-right',            
              title : '数量',
          }, {
              data : 'price',
              className: 'dt-right',            
              title : '未税单价',
          }, {
              data : 'taxprice',
              className: 'dt-right',            
              title : '含税单价',
          }, {
              data : 'money',
              className: 'dt-right',            
              title : '未税金额',
          }, {
              data : 'sum',
              className: 'dt-right',            
              title : '含税金额',
          }, {
            data : 'prepaymoney',
            className: 'dt-right',            
            title : '订金',
          }, {
            data : null,
            className: 'dt-right',            
            render: function(data, type, record) {
              return record.sum - record.prepaymoney;
            },
            title : '未付金额',
          }, {
              data : 'arrivedate',
              className: 'dt-center',            
              title : '需求日期',
              render: $.fn.date_renderer,
          }, {
              data : 'arrivenote',
              title : '备注',
          }, {
            data : 'confirmquantity',
            className:'dt-right vendor-cell',
            title : '承诺交货数量',
          }, {
              data : 'confirmdate',
              className: 'dt-center',            
              title : '承诺交货日期',
              render: $.fn.date_renderer,
          }, {
              data : 'confirmnote',
              title : '供方备注',
          } ],
          footerCallback: function ( row, data, start, end, display ) {
            App.footerCallback(this.api(), [ [4, "quantity"], [7, "cost"], [8, "cost"], [9, "cost"], [10, "cost"] ]);
          },
        });
    }
    
    $('#tabs').tabs({
      activate: function (event, ui) {
          load_prepay_table();   
      }
    });
    
    editor = new $.fn.dataTable.Editor( {
      table: "#basic_info",  
      idSrc: "id",
      fields: [ {        
        name: "arrivenote" 
      },{
        attr: {
          type:'number',
        },
        name: "confirmquantity" 
      },{
        type: "date",
        opts: {
          showOn: "focus",
          dateFormat: "yy-mm-dd",
        },
        name: "confirmdate" 
      },{
        name: "confirmnote" 
      }],
    }).on( 'preSubmit', function ( e, data, action ) {
      $.each(data.data, function(key, item){    
        if (item.prepaymoney <0 )
          item.prepaymoney = -item.prepaymoney;
      })
      
    }).on( 'postEdit', function (e, json, data, action) {
      var table_data = basic_table.rows().data().toArray();
      var prepay_sum = 0, money_total = 0;
      $.each(table_data, function(key, item){    
        prepay_sum += parseFloat(item.prepaymoney);
        
      })
      $("#prepay_total").val(prepay_sum);
    });
    
    basic_table = $('#basic_info').DataTable({
      serverSide:false,
      processing:false,
      ajax : {
          url : detail_url,
          dataSrc : function(json) {
        	var prepay_sum = 0, money_total = 0;
            $.each(json, function(key, item){
              item.arrivedate = $.fn.date_renderer(item.arrivedate);
              item.confirmdate = $.fn.date_renderer(item.confirmdate);
              if (item.prepaymoney)
                prepay_sum += parseFloat(item.prepaymoney);
              
              money_total += parseFloat(item.money);
              
            })
            $("#prepay_total").val(prepay_sum);
            $("#money_total").val(money_total);
            return json;
          },
      },

      columns : [ {
        data : 'rowno',
        className:'dt-center',
        title : '行号',
      }, {
          data : 'inventory_name',
          title : '存货名称',
      }, {
          data : 'inventory_code',
          title : '存货代码',
      }, {
          data : 'unit_name',
          className:'dt-center',
          title : '单位',
      }, {
          data : 'quantity',
          className:'dt-right',
          title : '数量',
      }, {
          data : 'price',
          className:'dt-right',
          title : '未税单价',
      }, {
          data : 'taxprice',
          className:'dt-right',
          title : '含税单价',
      }, {
          data : 'money',
          className:'dt-right',
          title : '未税金额',
      }, {
          data : 'sum',
          className:'dt-right',
          title : '含税金额',
      }, {
        data : 'prepaymoney',
        className: 'dt-right',
        title : '订金',
      }, {
        data : 'arrivedate',
        title : '需求日期',
        className:'dt-center',
        render: $.fn.date_renderer,
      }, {
        data : 'arrivenote',
        className: 'buyer-cell',
        title : '备注',
      }, {
        data : 'confirmquantity',
        className:'dt-right vendor-cell',
        title : '承诺交货数量',
      }, {
          data : 'confirmdate',
          title : '承诺交货日期',
          className: 'dt-center vendor-cell',
          render: $.fn.date_renderer,
      }, {
          data : 'confirmnote',
          className: 'vendor-cell',
          title : '供方备注',
      } ],
      footerCallback: function ( row, data, start, end, display ) {
        App.footerCallback(this.api(), [ [4, "quantity"], [7, "cost"], [8, "cost"], [9, "cost"]]);
      },
    });
    
    if ((state == 0 || state == 3) && !is_readonly) {
      $('#basic_info').on( 'click', 'tbody td.buyer-cell', function (e) {
        editor.inline( this, { submit: 'allIfChanged', submitOnBlur: true });
      });
      App.addKeyDownEditor(editor, 11, 11);
    }
    
    if (state == 1) {
      $('#basic_info').on( 'click', 'tbody td.vendor-cell', function (e) {
        editor.inline( this, { submit: 'allIfChanged', submitOnBlur: true });
      });
      App.addKeyDownEditor(editor, 12, 14);
    }
    
    
    
    function submit(state) {
      editor.submit();
      var data = basic_table.rows().data().toArray();
      var small_data = [];
      $.each(data, function(key, item){
        small_data.push({
          id:item.id, 
          prepaymoney:item.prepaymoney, 
          arrivenote:item.arrivenote,
          confirmdate:item.confirmdate, 
          confirmnote:item.confirmnote
        });
      });
      
      $('#form').ajaxSubmit({
          data: {
            code: $('#code').val(),
            state: state,
            table:small_data
          },
          success: function(res, status, xhr, form) {
            App.showSuccessDialog("操作成功", function(){
              window.location.reload(true);
            });
          },
          error: function (res, status, xhr, form) {
            App.showErrorDialog("操作失败", "请输入正确的值");
          }
      });
     
    }
    
    $("#deploy").click(function() {
      editor.submit();
      submit(1);
    });
    
    $("#confirm").click(function() {
      editor.submit();
      var data = basic_table.rows().data().toArray();
      var error_msg = 0;
      $.each(data, function(key, item){
        if (item.confirmdate != item.arrivedate){
          error_msg = "第" + item.rowno + "行物料承诺交货日期不一致！";
          return;
        }
        if (item.confirmquantity != item.quantity){
          error_msg = "第" + item.rowno + "行物料承诺交货数量不一致！";
          return;
        }
      });
      
      if (!error_msg){
        submit(2);  
      }else{
        App.showErrorDialog(error_msg);
      }
      
    });

    $("#cancel").click(function() {
      editor.submit();
      var data = basic_table.rows().data().toArray();
      var error_msg = 0;
      $.each(data, function(key, item){
        if (item.confirmdate != item.arrivedate){
          error_msg = "第" + item.rowno + "行物料承诺交货日期不一致！";
          return;
        }
        if (item.confirmquantity != item.quantity){
          error_msg = "第" + item.rowno + "行物料承诺交货数量不一致！";
          return;
        }
      });
      
      if (error_msg){
        submit(3);  
      }else{
        App.showErrorDialog("没有物料承诺交货数量和承诺交货日期与需求不一致！");
      }
    });
    
});
</script>