<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
	<div class="container" layout:fragment="content">
		<ul class="breadcrumb">
			<li><a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a></li>
			<li><a th:href="@{/devliery}">预发货单管理</a></li>
			<li th:text="${#strings.contains(#request.requestURI,'add')} ?'新建预发货单':'预发货单明细'">议价单</li>
		</ul>
		<div class="btn-group-bar">
			<div class="text-right">
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.state==1}" id="save"><i class="fa fa-save"></i> 保存</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.state==1}" id="submit"><i class="fa fa-share"></i> 提交</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_VENDOR')" th:if="${main.state==1}" id="delete"><i class="fa fa-remove"></i> 删除</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==2}" id="pass"><i class="fa fa-arrow-up"></i>确认</a> 
				<a class="btn btn-primary" sec:authorize="hasRole('ROLE_BUYER')" th:if="${main.state==2}" id="cancel"><i class="fa fa-undo"></i> 退回</a>
				<a class="btn btn-default" th:href="@{/delivery}"><i class="fa fa-arrow-left"></i> 返回列表</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<form id="form" th:action="@{/delivery/update}" method="post" enctype="multipart/form-data">
					<input type="hidden" name="id" id="id" th:value="${main.id}"/>
					<div class="row">
						<div class="col-lg-3 col-md-3">
							<label for="code">单号: </label> 
							<input type="text" id="code" name="code" th:value="${main.code}" class="form-control" readonly />
						</div>
						<div class="col-lg-3 col-md-3">
							<label for="vendor">供应商:</label> 
							<select id="vendor" name="vendor" class="form-control" readonly>
								<option th:if="${main.vendor != null}" th:value="${main.vendor?.code}" th:text="${main.vendor?.name}" selected="selected">NEC（日电）有限公司</option>
							</select>
						</div>
						<div class="col-lg-3 col-md-3">
							<label for="create_date">申请日期：</label> 
							<input type="text" name="create_date" id="create_date" th:value="${#dates.format(main?.createDate, 'yyyy-MM-dd')}" class="form-control datepicker" readonly>
						</div>
						<div class="col-lg-3 col-md-3">
							<label for="estimated_arrival_date">预计到货日期：</label> 
							<input type="text" name="estimated_arrival_date" id="estimated_arrival_date" th:value="${#dates.format(main?.estimatedArrivalDate, 'yyyy-MM-dd')}" class="form-control datepicker">
						</div>
						<div class="col-lg-3 col-md-3">
							<label for="company">业务实体：</label> 
							<select name="company" id="company" class="form-control">
								<option th:if="${main.company != null}" th:value="${main.company?.id}" th:text="${main.company?.name}" selected="selected">NEC（日电）有限公司</option>
							</select>
						</div>
						<div class="col-lg-6 col-md-6">
							<label for="store">收货仓库：</label> 
							<select name="store" id="store" class="form-control">
								<option th:if="${main.store != null}" th:value="${main.store?.id}" th:text="${main.store?.name}" selected="selected">NEC（日电）有限公司</option>
							</select>
						</div>
						<div class="col-lg-3 col-md-3 hidden">
							<label for="store_address">仓库地址：</label> 
							<input type="text" id="store_address" th:value="${main.store?.address}" class="form-control" readonly>
						</div>						
						<div class="col-lg-3 col-md-3">
							<label for="state">状态:</label> 
							<select name="state" id="state" class="form-control" readonly>
							</select>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-lg-12">
							<div class="tab-style-1" id="tabs">
									<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#tab-1">汇总信息</a></li>
										<li><a data-toggle="tab" href="#tab-2">明细</a></li>
										<li><a data-toggle="tab" href="#tab-3">操作日志</a></li>
										<li><a data-toggle="tab" href="#tab-4">附件</a></li>
									</ul>
									<div class="tab-content">
										<div id="tab-1" class="tab-pane row-fluid fade in active">
											<table id="summary_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
											</table>
										</div>
										<div id="tab-2" class="tab-pane row-fluid fade in">		
											<table id="detail_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
											</table>				
										</div>
										<div id="tab-3" class="tab-pane row-fluid fade in">		
											<div class="operations" id="operation_history">
											</div>	
											<div class="row edit-history">
												<form id="history_form" th:action="@{/operation_history/update}" method="post">												
													<textarea name="content" id="history_content" class="history-content" rows="5"></textarea>
													<a class="btn btn-primary save-history" id="save_history"><i class="fa fa-plus"></i> 保存</a>
												</form>											 
											</div>								
										</div>
										<div id="tab-4" class="tab-pane row-fluid fade in">										
										</div>
									</div>
								</div>

						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal fade" id="import_dialog" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document" style="width: 1000px;">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">选择物料</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body form-horizontal">
						<div class="search-content form-inline">
							<div class="search-cell width-6">
								<label for="search_inventory">物料编码/名称：</label> <input type="text" id="search_inventory" class="form-control">
							</div>
							<div style="vertical-align: bottom" class="search-cell width-15">
								<button class="btn btn-default" id="btn_search">
									<i class="fa fa-search"></i> 查询
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 table-responsive">
								<table id="import_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="btn_import">添加</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>
<script th:inline="javascript" sec:authorize="hasRole('ROLE_VENDOR')">
	is_vendor = 1;
</script>

<script th:inline="javascript" sec:authorize="hasRole('ROLE_BUYER') or hasAuthority('询价管理-新建/发布')">
is_readonly = 0;
</script>

<script th:inline="javascript">
	var editor, summary_table, table, summary_data;
  /*[+
  var detail_url = [[@{|/delivery/${main.code}/details|}]];
  var edit_url = [[@{/delivery/}]];
  var del_url = [[@{|/delivery/${main.id}/delete|}]];
  +]*/

  var vendor_search_url = /*[[@{/vendor/search}]]*/'';
  var state = /*[[${main.state}]]*/'';
  var company_search_url = /*[[@{/company/search}]]*/'';
  var store_search_url = /*[[@{/store/search/}]]*/'';

  $(document).ready(function() {

	  App.bs_input_file();
	  $('#start_date').datepicker({
		  minDate : new Date()
	  });
	  $('#end_date').datepicker({
		  minDate : new Date()
	  });

	  $(".select2").select2();
	  $("#state").select2({
	    data : App.getDeliveryStateData(),
	    minimumResultsForSearch : -1
	  }).select2("val", state.toString());
	  

	  $("#vendor").select2(App.getSelect2Options(vendor_search_url));
	  $("#company").select2(App.getSelect2Options(company_search_url));
	  $("#store").select2();
	  $('#company').change(function() {
	  	var store_url = store_search_url + $('#company').val();
	  	$("#store").select2(App.getSelect2Options(store_url));
	  	$("#store").val(null).trigger('change');
	  });	  

	  if (is_vendor)
		  $('#vendor').attr("readonly", true);

	  if (state > 1) {
	  	$('#estimated_arrival_date').attr("readonly", true);
	  	$('#company').attr("readonly", true);
	  	$('#store').attr("readonly", true);
	  }
	  
	  var edit_mode = 'main';

	  editor = new $.fn.dataTable.Editor({
	    table : "#detail_table",
	    idSrc : "rowno",
	    fields : [ {
	      label : "发货数量:",
	      attr : {
		      type : "number"
	      },
	      id : "delivered_quantity",
	      name : "delivered_quantity"
	    }, {
	      label : "备注:",
	      name : "memo"
	    }, {
	    	type:  "select",
	      name : "state",
	      options: [
          { label: "审批", value: "3" },
          { label: "拒绝", value: "4" },
      	]
	    }, {
	      name : "buyer_memo"
	    } ],
	    i18n : {
	      remove : {
	        button : "删除行",
	        title : "删除",
	        submit : "是",
	        confirm : {
	          _ : "确定要删除%d行物料吗?",
	          1 : "确定要删除吗?"
	        }
	      },
	      error : {
		      system : "发生错误！"
	      }
	    }
	  }).on('preOpen', function(e, data, action) {
	  	
		  var currentFieldName = e.currentTarget.s.includeFields[0];
		  if (currentFieldName == "state") {
		  	var modifier = editor.modifier();
		  	$(modifier).addClass("selecting");	
		  }
	  }).on('close', function(e) {
	  	var currentFieldName = e.currentTarget.s.includeFields[0];
		  if (currentFieldName == "state") {
		  	var modifier = editor.modifier();
		  	$(modifier).removeClass("selecting");	
		  }
	  });

	  var table_options = {
	    serverSide : false,
	    processing : false,
	    select : (state == 1 && !is_readonly) ? {
		    style : 'multi'
	    } : false,
	    buttons : [ {
	      text : "添加物料",
	      action : function(e, dt, node, config) {
		      $('#import_dialog').modal('show');
	      }
	    }, {
	      extend : "remove",
	      editor : editor
	    } ],
	    ajax : {
	      url : detail_url,
	      dataSrc : function(json) {
		      var id = 1;
		      $.each(json, function(key, item) {
			      item.rowno = id++;
			      item.dstartdate = $.fn.date_renderer(item.dstartdate);
			      item.denddate = $.fn.date_renderer(item.denddate);
		      });
		      return json;
	      },
	    },
	    fixedColumns: {
        leftColumns: 5,
    	},
	    columns : [ {
	      data : null,
	      defaultContent : ' ',
	      width: "30px",
	      visible: state == 1,
	      orderable : false,
	      className : 'select-checkbox',
	    }, {
	      data : 'purchaseOrderDetail.main.code',
	      title : '订单号',
	    }, {
	      data : 'purchaseOrderDetail.row_no',
	      title : '编码',
	    }, {
	      data : 'purchaseOrderDetail.inventory_name',
	      title : '存货名称',
	    }, {
	      data : 'purchaseOrderDetail.inventory_code',
	      title : '存货代码',
	    }, {
	      data : 'purchaseOrderDetail.unit_name',
	      className : 'dt-center',
	      title : '单位',
	    }, {
	      data : 'purchaseOrderDetail.quantity',
	      className : 'dt-right',
	      title : '订单数量',
	    }, {
	      data : 'purchaseOrderDetail.quantity',
	      className : 'dt-right',
	      title : '订单箱数',
	    }, {
	      data : 'purchaseOrderDetail.arrived_quantity',
	      className : 'dt-right',
	      title : '订单已交数量',
	    }, {
	      data : 'purchaseOrderDetail.arrived_quantity',
	      className : 'dt-right',
	      title : '订单已交箱数',
	    }, {
	      data : 'purchaseOrderDetail.arrived_quantity',
	      className : 'dt-right',
	      title : '订单未交数量',
	    }, {
	      data : 'purchaseOrderDetail.arrived_quantity',
	      className : 'dt-right',
	      title : '订单未交箱数',		 
	    }, {
	      data : 'delivered_quantity',
	      className : 'dt-right',
	      className : 'vendor-edit',
	      title : '发货数量',		 
	    }, {
	      data : 'delivered_quantity',
	      className : 'dt-right',
	      title : '发货箱数',		 
	    }, {
	      data : 'accepted_quantity',
	      className : 'dt-right',
	      title : '实收数量',		 
	    }, {
	      data : 'accepted_quantity',
	      className : 'dt-right',
	      title : '实收箱数',		 
	    }, {
	      data : 'deliver_number',
	      title : '批次',		 
	    }, {
	      data : 'memo',
	      className : 'vendor-edit',
	      title : '供应商备注',		 
	    }, {
	      data : 'state',
	      title : '行审批　　',	
	      width: 100,
	      visible: state > 1,
	      className : 'buyer-edit',
	      render : App.getDeliveryRowStateOfId
	    }, {
	      data : 'buyer_memo',
	      visible: state > 1,
	      className : 'buyer-edit',
	      title : '采购方备注',		 
	    } ],
	    rowCallback : function(row, data) {
		    // Set the checked state of the checkbox in the table
		    $('input.editor-valid', row).prop('checked', data.ivalid == 1);
	    },
	    drawCallback: function( settings ) {
	    	summary_data = {};	    	
		  	$.each(this.api().rows().data().toArray(), function(key, item) {
		  		var key = item.purchaseOrderDetail.inventory_code;
		  		if (!summary_data[key]) {
		  			summary_data[key] = {
			  				inventory_code: item.purchaseOrderDetail.inventory_code,
			  				inventory_name: item.purchaseOrderDetail.inventory_name,
			  				unit_name: item.purchaseOrderDetail.unit_name,
			  				delivered_quantity: App.floatVal(item.delivered_quantity),
			  				accepted_quantity: App.floatVal(item.accepted_quantity),
			  		}	
		  		} else {
		  			summary_data[key].delivered_quantity += App.floatVal(item.delivered_quantity);
		  			summary_data[key].accepted_quantity += App.floatVal(item.accepted_quantity);		  			
		  		}
		  	});
		  	
		  	summary_data = Object.values(summary_data);
		  	
    		reloadSummaryTable();
      }
	  };

	  if ((state != 1 && state != 4) || is_readonly) {
		  table_options.buttons = [];
	  }

	  table = $('#detail_table').DataTable(table_options);

	  table.on('select', function(e, dt, type, indexes) {
		  if ($('#type').val() == 2) {
			  var selected_data = table.rows('.selected').data().toArray();
			  if (selected_data.length > 0) {
				  table.button(1).enable();
			  } else {
				  table.button(1).disable();
			  }
		  } else {
			  table.button(1).disable();
		  }

	  }).on('deselect', function(e, dt, type, indexes) {
		  if ($('#type').val() == 2) {
			  var selected_data = table.rows('.selected').data().toArray();
			  if (selected_data.length > 0) {
				  table.button(1).enable();
			  } else {
				  table.button(1).disable();
			  }
		  } else {
			  table.button(1).disable();
		  }
	  });

	  if (is_vendor && state == 1) {
		  table.on('click', 'tbody td.vendor-edit', function(e) {
			  editor.inline(this, {
			    submit : 'allIfChanged',
			    submitOnBlur : true
			  });
		  });
	  } else if (!is_vendor && !is_readonly && state == 2) {
		  table.on('click', 'tbody td.buyer-edit', function(e) {
			  editor.inline(this, {
			    submit : 'allIfChanged',
			    submitOnBlur : true
			  });
		  });
	  }
	  

	  function reloadSummaryTable() {
	  	if (summary_table) {
	  		summary_table.destroy();
	  		$('#summary_table').empty();
	  	}

	  	summary_table = $('#summary_table').DataTable({
		    serverSide : false,
		    processing : false,	  
		    ajax: false,
		    data: summary_data,
		    columns : [ {
		      data : 'inventory_name',
		      title : '存货名称',
		    }, {
		      data : 'inventory_code',
		      title : '存货代码',
		    }, {
		      data : 'unit_name',
		      className : 'dt-center',
		      title : '单位',
		    }, {
		      data : 'delivered_quantity',
		      className : 'dt-right',
		      title : '发货数量',		 
		    }, {
		      data : 'delivered_quantity',
		      className : 'dt-right',
		      title : '发货箱数',		 
		    }, {
		      data : 'accepted_quantity',
		      className : 'dt-right',
		      title : '实收数量',		 
		    }, {
		      data : 'accepted_quantity',
		      className : 'dt-right',
		      title : '实收箱数',		 
		    } ],
		  });
	  }
	  
	  
	  $('#tabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // FYP-table is id of datatable
      if (table) {
      	table.columns.adjust().fixedColumns().relayout();
      }
      
      if (summary_table) {
      	summary_table.columns.adjust();
      }
      
  	});
	  
	  function onChangeType() {
		  if ((state == 1 || state == 4) && !is_readonly) {
			  table.on('click', 'td.memo, td.startdate, td.enddate, td.taxrate', function(e) {
				  editor.inline(this, {
				    submit : 'allIfChanged',
				    submitOnBlur : true
				  });
			  });

			  if ($("#type").val() == 1) {
				  table.button(1).disable();
				  table.off('click', 'td.minquantity, td.maxquantity');
				  table.on('click', 'td.unitprice, td.taxunitprice', function(e) {
					  editor.inline(this, {
					    submit : 'allIfChanged',
					    submitOnBlur : true
					  });
				  });
				  App.addKeyDownEditor(editor, 7, 13);
			  } else if ($("#type").val() == 2) {
				  table.off('click', 'td.unitprice, td.taxunitprice');
				  table.on('click', 'td.minquantity, td.maxquantity', function(e) {
					  editor.inline(this, {
					    submit : 'allIfChanged',
					    submitOnBlur : true
					  });
				  });
				  if (is_vendor) {
					  table.on('click', 'td.unitprice, td.taxunitprice', function(e) {
						  editor.inline(this, {
						    submit : 'allIfChanged',
						    submitOnBlur : true
						  });
					  });
				  }
				  App.addKeyDownEditor(editor, 5, 13);
			  } else {
				  table.button(1).disable();
				  table.off('click', 'td.minquantity, td.maxquantity');
				  if (is_vendor) {
					  table.on('click', 'td.unitprice, td.taxunitprice', function(e) {
						  editor.inline(this, {
						    submit : 'allIfChanged',
						    submitOnBlur : true
						  });
					  });
					  App.addKeyDownEditor(editor, 7, 13);
				  } else {
					  table.off('click', 'td.unitprice, td.taxunitprice');
					  App.addKeyDownEditor(editor, 9, 13);
				  }

			  }
		  }
	  }

	  onChangeType();

	  var import_table;

	  $('.modal').on('shown.bs.modal', function() {
		  $('#search_inventory').val('');
		  if (import_table == undefined) {
			  import_table = $('#import_table').DataTable({
			    ordering : true,
			    select : {
				    style : 'multi'
			    },
			    ajax : {
			      url : /*[[@{/purchaseorder/details/search}]]*/'',
			      data : function(data) {
				      var filter = {
				        rows_per_page : data.length,
				        page_index : data.start / data.length + 1,
				        order : data.columns[data.order[0].column].data,
				        dir : data.order[0].dir,
				        search : $('#search_inventory').val()
				      }
				      return filter;
			      },
			      dataSrc : function(json) {
				      json.recordsTotal = json.totalElements;
				      json.recordsFiltered = json.totalElements;
				      return json.content;
			      },
			    },
			    order: [ [1, 'asc'] ],
			    columns : [ {
			    	data : null,
			      defaultContent : '',
			      width: "30px",
			      orderable : false,
			      className : 'select-checkbox',
			    }, {
			      data : 'main.code',
			      title : '订单号',
			    }, {
			      data : 'row_no',
			      title : '编码',
			    }, {
			      data : 'inventory_name',
			      title : '存货名称',
			    }, {
			      data : 'inventory_code',
			      title : '存货代码',
			    }, {
			      data : 'unit_name',
			      className : 'dt-center',
			      title : '单位',
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '订单数量',
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '订单箱数',
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '订单已交数量',
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '订单已交箱数',
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '订单未交数量',
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '订单未交箱数',		 
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '发货数量',		 
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '发货箱数',		 
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '实收数量',		 
			    }, {
			      data : 'quantity',
			      className : 'dt-right',
			      title : '实收箱数',		 
			    } ],
			  });
		  }
		  $('#btn_search').trigger('click');
	  });

	  $("#btn_search").click(function() {
		  import_table.draw();
	  });

	  $('#search_inventory').keyup(function(e) {
		  if (e.keyCode == 13)
			  import_table.draw();
	  });

	  $('#btn_import').click(function() {
		  $('#import_dialog').modal('hide');//modal_1 is the id 1
		  var selected_data = import_table.rows('.selected').data().toArray();
		  var exist_data = table.rows().data().toArray();
		  $.each(selected_data, function(key, item) {

			  var available = true;
			  for (i = 0; i < exist_data.length; i++) {
				  exist_row = exist_data[i];
				  if (exist_row.purchaseOrderDetail.code == item.main.code) {
					  available = false;
					  break;
				  }
			  }

			  if (available) {
				  var temp = {};
				  temp.rowno = table.rows().data().toArray().length + 1;
				  temp.purchaseOrderDetail = item;
				  temp.purchaseOrderDetail.code = item.main.code;
				  temp.accepted_quantity = 0;
				  temp.delivered_quantity = 0;
				  temp.arrived_quantity = 0;
				  temp.deliver_number = '';
				  temp.memo = '';
				  temp.buyer_memo = '';
				  temp.state = 3;
				  table.row.add(temp);
			  }
		  })

		  table.draw();

	  });

	  $.validator.addMethod("checkTable", function(value, element) {
		  var exist_data = table.rows().data().toArray();
		  var inventoryIdList = [];
		  validInventoryIdList = [];
		  for (i = 0; i < exist_data.length; i++) {
			  exist_row = exist_data[i];

			  if ($.inArray(exist_row.cinvcode, inventoryIdList) < 0)
				  inventoryIdList.push(exist_row.cinvcode);

			  if (exist_row.ivalid == 1)
				  validInventoryIdList.push(exist_row.cinvcode);
			  
		  }

		  return true;
	  }, "");

	  $("#form").validate({
	    rules : {
	      vendor : {
	        required : true,
	        checkTable : true
	      },
	      company : {
		      required : true
	      },
	      store : {
		      required : true
	      },
	      estimated_arrival_date : {
		      required : true
	      },
	    },

	    //display error alert on form submit  
	    invalidHandler : function(event, validator) {
		    App.showErrorDialog("操作失败", "请输入正确的值");
	    },
	    submitHandler : function(form) {
		    var data = table.rows().data().toArray();
		    var postData = [];
		    $.each(data, (key, item) => {
		    	postData.push({
		    		id: item.id,
		    		po_detail_id: item.purchaseOrderDetail.id,
		    		delivered_quantity: item.delivered_quantity || 0,
		    		memo: item.memo,
		    		buyer_memo: item.buyer_memo,
		    		state: item.state,		    		
		    	})
		    });
		    jQuery(form).ajaxSubmit({
		      beforeSend : function() {
			      App.blockUI();
		      },
		      complete : function() {
			      App.unblockUI();
		      },
		      data : {
			      table : postData
		      },
		      success : function(res, status, xhr, form) {
			      if (res.success == 1) {
				      App.showSuccessDialog("操作成功", function() {
					      window.location.href = edit_url + res.data.code + "/edit";
				      });
			      } else {
				      App.showErrorDialog("操作失败", res.errmsg);
			      }
		      },
		      error : function(res, status, xhr, form) {
			      App.showErrorDialog("操作失败", "请输入正确的值");
		      }
		    });
	    }
	  });

	  $("#delete").click(function() {
		  App.showConfirmDialog('确定要删除吗?', function() {
			  $.get(del_url, function(data, status) {
				  App.showSuccessDialog("操作成功", function() {
					  window.location.href = edit_url;
				  });
			  });
		  });
	  });

	  $("#del_attach").click(function() {
		  App.showConfirmDialog('确定要删除吗?', function() {
			  var del_url = edit_url + $("#ccode").val() + "/deleteattach";
			  $.get(del_url, function(data, status) {
				  App.showSuccessDialog("操作成功", function() {
					  window.location.reload(true);
				  });
			  });
		  });
	  });

	  $("#save").click(function() {
		  editor.submit();
		  $('#state').val(1);
		  $("#form").submit();
	  });

	  $("#submit").click(function() {
		  editor.submit();
		  $('#state').val(2);
		  $("#form").submit();
	  });

	  $("#pass").click(function() {
		  editor.submit();
		  $('#state').val(3);
		  $("#form").submit();
	  });
	  
	  $("#cancel").click(function() {
		  editor.submit();
		  $('#state').val(4);
		  $("#form").submit();
	  });


  });
</script>
