<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/mail}">
<head>
 
</head>
<body>
  <div class="mail" layout:fragment="content">
    <div>
        <div>

         <p>
                            您好!<br/><br/><br/>
                            您申请的邮件找回密码【SRM】已经审核通过！<br/>
                            请您点击链接<a th:href="${url}" th:text="${url}"> http://61.164.207.46:7001/statement/add</a> 进行密码重置。<br/>
                            如果您的email程序不支持点击链接，请将上面的网址复制到您的浏览器（例如：Google Chrome）地址栏里敲回车。<br/>
                            感谢您的支持，希望云链信息能为您提供优秀的服务和愉悦的使用体验。<br/><br/><br/><br/>
                            谢谢！<br/><br/><br/>
                            云链信息SRM团队<br/>
            <a href="http://www.cnyunl.com">http://www.cnyunl.com</a><br/><br/><br/>
                            （这是一封自动产生的email，请勿回复。）<br/>

         </p>
        </div>
        
    </div>

  </div>  
</body>
</html>
