<!DOCTYPE html>
<!-- Head BEGIN -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>供应商管理平台</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <link rel="shortcut icon" th:href="@{/assets/favicon-128.png}">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <!-- Fonts END -->

  <!-- Global styles START -->     
       
  <link th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link th:href="@{/assets/pages/css/components.css}" rel="stylesheet">
  <link th:href="@{/assets/pages/css/animate.css}" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link th:href="@{/assets/plugins/jstree/theme/style.min.css}" rel="stylesheet">
  <link th:href="@{/assets/corporate/css/style-responsive.css}" rel="stylesheet">
  <link th:href="@{/assets/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css"> 
  <link th:href="@{/assets/plugins/sweetalert/sweetalert2.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/assets/plugins/select2/css/select2.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/assets/plugins/select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css">

  <link th:href="@{/assets/plugins/bootstrap-datepicker/css/datepicker3.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/assets/plugins/bootstrap-datepicker/css/datepicker.css}" rel="stylesheet" type="text/css">
  <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/fixedcolumns/3.2.6/css/fixedColumns.dataTables.min.css" rel="stylesheet">

  <!-- <link th:href="@{/assets/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" type="text/css"> -->
  <link th:href="@{/assets/plugins/jquery-ui/jquery-ui.datepicker.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/assets/corporate/css/style.css}" rel="stylesheet">
  <link th:href="@{/assets/corporate/css/style-responsive.css}" rel="stylesheet">
  
  <link th:href="@{/assets/plugins/data-table/editor/css/buttons.dataTables.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/assets/plugins/data-table/editor/css/select.dataTables.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/assets/plugins/data-table/editor/css/editor.dataTables.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/assets/plugins/data-table/editor/css/editor.semanticui.min.css}" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css" rel="stylesheet">
  <!-- Theme styles END -->
  <link th:href="@{/assets/corporate/css/custom.css}" rel="stylesheet">

</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="corporate">
    <!-- BEGIN HEADER -->
    <div class="top-header" sec:authorize="hasRole('ROLE_VENDOR')" >
      <div class="container">
                    欢迎来到SRM系统！<span class="active" th:text="${session.account.vendor.abbrname}"> 【上海全力文体用品公司】</span>
      </div>
    </div>
    <div class="header">
      <div class="container">
        <a class="site-logo" th:href="@{/}"><img th:src="@{/assets/corporate/img/logo.png}" alt="采购管理平台"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation font-transform-inherit" sec:authorize="hasRole('ROLE_BUYER') or hasRole('ROLE_VENDOR')">
          <ul>
            <li class="dropdown" th:classappend="${#strings.startsWith(#request.requestURI,'/inquery')} or ${#strings.startsWith(#request.requestURI,'/quote')}? active : ''" >   
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">价格管理</a>
                
              <ul class="dropdown-menu">
                <li sec:authorize="hasRole('ROLE_BUYER')"><a th:href="@{/inquery}" >询价管理</a></li>
                <li sec:authorize="hasRole('ROLE_BUYER')"><a th:href="@{/quote}">报价管理</a></li>
                <li sec:authorize="hasRole('ROLE_VENDOR')"><a th:href="@{/inquery}">报价管理</a></li>
                <li sec:authorize="hasRole('ROLE_VENDOR')"><a th:href="@{/quote}">询价管理</a></li>
              </ul>
            </li>         
            <li sec:authorize="hasRole('ROLE_BUYER')" th:classappend="${#strings.startsWith(#request.requestURI,'/purchaseorder')} ? active : ''" >
              <a th:href="@{/purchaseorder}">订单管理</a>
            </li>
            <li sec:authorize="hasRole('ROLE_VENDOR')" class="dropdown" th:classappend="${#strings.startsWith(#request.requestURI,'/ship/index') or #strings.startsWith(#request.requestURI,'/purchaseorder')}? active : ''" >
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">订单管理 </a>
                
              <ul class="dropdown-menu">
                <li><a th:href="@{/purchaseorder}">订单确认</a></li>
                <li><a th:href="@{/ship/index}">订单发货</a></li>
              </ul>
            </li>
            <li th:classappend="${#strings.startsWith(#request.requestURI,'/ship/view')} ? active : ''" >
              <a th:href="@{/ship/view}">出货看板</a>
            </li>
            <li sec:authorize="hasRole('ROLE_BUYER')" th:classappend="${#strings.startsWith(#request.requestURI,'/purchasein')} ? active : ''" >
              <a th:href="@{/purchasein}">出入库单据</a>
            </li>
            <li th:classappend="${#strings.startsWith(#request.requestURI,'/statement')} ? active : ''" >
              <a th:href="@{/statement}">对账单管理</a>
            </li>
            <li class="dropdown" sec:authorize="hasRole('ROLE_BUYER')" th:classappend="${#strings.startsWith(#request.requestURI,'/vendor')} or ${#strings.startsWith(#request.requestURI,'/inventory')} or ${#strings.startsWith(#request.requestURI,'/price')}? active : ''" >   
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">基础资料 </a>
                
              <ul class="dropdown-menu">
                <li><a th:href="@{/vendor}">供应商档案表</a></li>
                <li><a th:href="@{/inventory}">物料档案表</a></li>
                <li><a th:href="@{/price}">物料价格查询</a></li>
              </ul>
            </li>
            <li sec:authorize="hasRole('ROLE_BUYER')" th:classappend="${#strings.startsWith(#request.requestURI,'/stock')} or
            ${#strings.startsWith(#request.requestURI,'/incoming')} or 
            ${#strings.startsWith(#request.requestURI,'/delivery')} or 
            ${#strings.startsWith(#request.requestURI,'/pricechange')} or 
            ${#strings.startsWith(#request.requestURI,'/orderlist')} ? active : ''" >
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">报表中心 </a>

              <ul class="dropdown-menu">
                <li><a th:href="@{/stock}">库存报表</a></li>
                <li><a th:href="@{/incoming}">来料异常报表 </a></li>
                <li><a th:href="@{/delivery}">准时交货率报表</a></li>
                <li><a th:href="@{/pricechange}">价格变动报表</a></li>
                <li><a th:href="@{/orderlist}">订单明细列表</a></li>
              </ul>
            </li>
            <li class="dropdown" th:classappend="(${#strings.startsWith(#request.requestURI,'/notice')} or ${#strings.startsWith(#request.requestURI,'/message')} or ${#strings.startsWith(#request.requestURI,'/alert')})? active : ''" >   
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">公告通知 </a>
                
              <ul class="dropdown-menu">
                <li><a th:href="@{/notice}">公告通知</a></li>
                <li><a th:href="@{/message}">系统消息</a></li>
                <li><a th:href="@{/alert}">预警信息</a></li>
              </ul>
            </li>
          </ul>
        </div>
        
        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation font-transform-inherit" sec:authorize="hasRole('ROLE_ADMIN')">
          <ul>
            <li th:classappend="${#strings.startsWith(#request.requestURI,'/account')} ? active : ''" >
              <a th:href="@{/account}">用户管理</a>
            </li>
            <li th:classappend="${#strings.startsWith(#request.requestURI,'/permission_group')} ? active : ''" >
              <a th:href="@{/permission_group}">权限组管理</a>
            </li>
            <li th:classappend="${#strings.startsWith(#request.requestURI,'/unit')} ? active : ''" >
              <a th:href="@{/unit}">组织架构管理</a>
            </li>
            <li th:classappend="${#strings.startsWith(#request.requestURI,'/vendor')} ? active : ''" >
              <a th:href="@{/vendor}">供应商管理</a>
            </li>
            <li th:classappend="${#strings.startsWith(#request.requestURI,'/notice')} ? active : ''" >
              <a th:href="@{/notice}">公告通知</a>
            </li>
            <li th:classappend="${#strings.startsWith(#request.requestURI,'/system')} ? active : ''" >
              <a th:href="@{/system}">系统状态</a>
            </li>
          </ul>
        </div>

        <div class="header-navigation menu-right" sec:authorize="isAuthenticated()">
          <ul>
            <li><a th:href="@{/profile}" th:text="${session.realname}">账号管理 </a></li>
            <li><a th:href="@{/logout}">退出</a></li>
            <li><img th:src="@{/assets/corporate/img/user.png}" class="user_avatar"></li>
          </ul>
        </div>
        <input type="hidden" id="timepicker"/>
        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->

    <div class="main">
      <div class="container"  layout:fragment="content">          
      </div>
    </div>
    <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer margin-top-10">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-5 col-sm-8 pre-footer-col">
            <h2>关于我们</h2>
            <p>美尔凯特供应商协同平台支持在线采购、在线对账、采购询报价、采购比价、采购订单协同、交货管理、付款结算与供应商评估，帮助企业和供应商提高工作效率、降低交易成本。</p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>联系我们</h2>
            <address class="margin-bottom-40">
                                 浙江美尔凯特集成吊顶有限公司 <br>
              Tel：0573-83255588<br>
              Fax：0573-83251908<br>
              <a href="http://www.mellkit.com">Http://www.mellkit.com</a><br>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->

          <!-- BEGIN TWITTER BLOCK --> 
          <div class="col-md-3 col-sm-4 pre-footer-col">
            <h2>技术支持</h2>
            <ul class="list-unstyled">
              <li> 嘉兴市云链信息技术有限公司</li>
              <li>服务热线：0573-83988820、83988818</li>
              <li>QQ：595878081</li>
              <li><a href="http://www.cnyunl.com">Http://www.cnyunl.com</a></li>            
            </ul>
          </div>
          <!-- END TWITTER BLOCK -->
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->
    
    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6">
             <p class="powered"> Copyright © 嘉兴市<a href="http://www.cnyunl.com">云链</a>信息技术有限公司</p> 
          </div>
          <!-- END COPYRIGHT -->

          <!-- BEGIN POWERED -->
          <div class="col-md-6 col-sm-6 text-right">
            <p class="powered">用户单位：浙江美尔凯特集成吊顶有限公司</p>
          </div>
          <!-- END POWERED -->
        </div>
      </div>
    </div>
    <!-- END FOOTER -->

    <script th:src="@{/assets/plugins/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/jquery-migrate.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>      
    <script th:src="@{/assets/corporate/scripts/back-to-top.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/fancybox/source/jquery.fancybox.pack.js}" type="text/javascript"></script><!-- pop up -->
    <script th:src="@{/assets/plugins/owl.carousel/owl.carousel.min.js}" type="text/javascript"></script><!-- slider for products -->
    <script th:src="@{/assets/pages/scripts/bs-carousel.js}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/keytable/2.4.0/js/dataTables.keyTable.min.js"></script>
    <script th:src="@{/assets/plugins/data-table/datatable-input.js}" type="text/javascript" ></script>
    <script th:src="@{/assets/plugins/data-table/dataTables.buttons.min.js}" type="text/javascript" ></script>
    <script th:src="@{/assets/plugins/data-table/editor/js/dataTables.editor.min.js}" type="text/javascript" ></script>
    
    
    <script th:src="@{/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"  type="text/javascript" ></script>
    <script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"  type="text/javascript" ></script>
    <script th:src="@{/assets/plugins/jquery-validate/jquery.validate.js}" type="text/javascript" ></script>
    <script th:src="@{/assets/plugins/sweetalert/sweetalert2.min.js}" type="text/javascript" ></script>
    <script th:src="@{/assets/plugins/uniform/jquery.uniform.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/jquery.form.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/jquery-ui/jquery-ui.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/jstree/jstree.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/select2/js/select2.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/select2/js/i18n/zh-CN.js}" type="text/javascript"></script>
    <script th:src="@{/assets/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/corporate/scripts/layout.js}" type="text/javascript"></script>
    <script th:src="@{/assets/corporate/scripts/app.js}" type="text/javascript"></script>
</body>
<!-- END BODY -->
<script type="text/javascript">
var is_vendor = 0;
var is_admin = 0;
var is_readonly = 1;

jQuery(document).ready(function() {
    Layout.init();    
});
</script>
</html>
