<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li class="active">重置密码</li>
    </ul>
    <div class="row">
      <div align="center">
          <div class="reset-pwd-form" style="width:300px;">
              <div class="form-group" th:if="${error}">
                  <span class="active">无效的网址</span>
              </div>
              <form id="reset_pwd_form" th:action="@{/savepassword}" method="post" th:if="${error==null}">
                <input type="hidden" name="token" th:value="${token}"/>
                  
                  <div class="form-group">
                      <div class="input-icon input-icon-lg">
                          <i class="fa fa-key"></i>
                          <input type="password" id="password" name="password" class="form-control" placeholder="新密码">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-icon input-icon-lg">
                          <i class="fa fa-key"></i>
                          <input type="password" id="confrim" name="confirm" class="form-control" placeholder="确认新密码">
                      </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30 form-control">重 置</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
  </div>    
</body>
<!-- END BODY -->
</html>
<script>
$(document).ready(function() {

$("#reset_pwd_form" ).validate({
    // define validation rules
    rules: {
      password: {
        required: true
      },    
      confirm: {
        required: true,
        equalTo: '#password'
      },    
    },
    
    submitHandler: function (form) {
      form.submit();
    }
  }); 
});
</script>