<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<body>
  <div class="container" layout:fragment="content">
    <ul class="breadcrumb">
      <li>
        <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
      </li>
      <li class="active">重置密码</li>
    </ul>
    <div class="row">
      <div align="center">
          <div class="reset-pwd-form" style="width:300px;">
              <div class="form-group" th:if="${error}">
                  <span class="active">无效的网址</span>
              </div>
              <form id="reset_pwd_form" th:action="@{/savepassword}" method="post" th:if="${error==null}">
                <input type="hidden" name="token" th:value="${token}"/>
                  
                  <div class="form-group" style="text-align:left">
                      <div class="input-icon input-icon-lg">
                          <i class="fa fa-key"></i>
                          <input type="password" id="password" name="password" class="form-control" placeholder="新密码">
                      </div>
                  </div>
                  <div class="form-group" style="text-align:left">
                      <div class="input-icon input-icon-lg">
                          <i class="fa fa-key"></i>
                          <input type="password" id="confrim" name="confirm" class="form-control" placeholder="确认新密码">
                      </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30 form-control">重 置</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
  </div>    
</body>
<!-- END BODY -->
</html>
<script th:inline="javascript">
/*[+
var password_min_length = [[${password_min_length}]];
var password_no_special_char = [[${password_no_special_char}?true:false]];
var password_must_include_char = [[${password_must_include_char}?true:false]];
+]*/ 

$(document).ready(function() {

  $("#reset_pwd_form" ).validate({
    // define validation rules
    rules: {
      password: {
        required: true
      },    
      confirm: {
        required: true,
        equalTo: '#password'
      },    
    },
    
    submitHandler: function (form) {
      form.submit();
    }
  }); 
  
  if (password_min_length>0){
    $('#reset_pwd_form').validate().settings.rules.password.minlength = password_min_length;
  }
  
  if (password_no_special_char){
    $('#reset_pwd_form').validate().settings.rules.password.no_special_char = true;
  }
  
  if (password_must_include_char){
    $('#reset_pwd_form').validate().settings.rules.password.must_include_char = true;
  }
});
</script>