<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<body>
<div class="container" layout:fragment="content">
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40" style="min-height:510px;">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page page-404">
      <div class="number">无权</div>
      <div class="details">
        <h3>很抱歉，您没有权限访问该页面！</h3>
        <p>想要访问该页面，请与<a href="index.html" class="link">管理员</a>联系。
        </p>
      </div>
    </div>
  </div>
  <!-- END CONTENT -->
</div>
</body>
</html>