<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  

    <ul class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> 首页</li>
    </ul>
    <div class="row" id="dashboard">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
        <div class="panel panel-default">
          <div class="panel-heading">
            <label>公告通知</label>
            <div class="pull-right"><a th:href="@{/notice}">更多></a></div>
          </div>
          <div class="panel-body" >
            <p th:each="notice : ${noticeList}">                    
              <span th:classappend="!${notice.read_date}?new" th:text="|${#dates.format(notice.verify_date, 'yyyy-MM-dd HH:mm:ss')} |">aaa</span>
              <a th:classappend="!${notice.read_date}?new" th:href="@{|/notice/${notice.id}/edit|}" th:utext="${notice.title}">2018-6-11 9:29:09 采购管理平台</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" sec:authorize="hasRole('ROLE_BUYER') or hasRole('ROLE_VENDOR')">
        <div class="panel panel-default">
          <div class="panel-heading">
              <label>预警信息</label>
              <div class="pull-right"><a th:href="@{/alert}">更多></a></div>
          </div>
          <div class="panel-body">
            <p th:each="notice : ${alertList}">
            <span th:classappend="!${notice.read_date}?new" th:text="|${#dates.format(notice.create_date, 'yyyy-MM-dd HH:mm:ss')} |">aaa</span>
            <a class="notice" th:classappend="!${notice.read_date}?new" th:href="@{|/alert/${notice.id}/edit|}" th:utext="${notice.title}">2018-6-11 9:29:09 采购管理平台</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" sec:authorize="hasRole('ROLE_BUYER') or hasRole('ROLE_VENDOR')">
        <div class="panel panel-default">
          <div class="panel-heading">
            <label>系统消息</label>
            <div class="pull-right"><a th:href="@{/message}">更多></a></div>
          </div>
          <div class="panel-body">
            <p th:each="notice : ${messageList}">
            <span th:classappend="!${notice.read_date}?new" th:text="|${#dates.format(notice.create_date, 'yyyy-MM-dd HH:mm:ss')} |">aaa</span>
            <a class="notice" th:classappend="!${notice.read_date}?new" th:href="@{|/message/${notice.id}/edit|}" th:utext="${notice.title}">2018-6-11 9:29:09 采购管理平台</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- END BODY -->
</html>