<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
	<div class="container" layout:fragment="content">
		<ul class="breadcrumb">
			<li><a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a></li>
			<li class="active">箱码管理</li>
		</ul>
		<div class="row">
			<div class="col-md-3">
				<div class="">
					<table id="box_class_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
					</table>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-lg-12 text-center box-top-bar">
						<button sec:authorize="hasAuthority('箱码管理-生成箱码')" class="btn btn-primary" id="btn_generate">
							<i class="fa fa-plus-circle"></i> 生成箱码
						</button>
						<button sec:authorize="hasAuthority('箱码管理-启用/停用')" class="btn btn-info" id="btn_enable">
							<i class="fa fa-play"></i> 启用
						</button>
						<button sec:authorize="hasAuthority('箱码管理-启用/停用')" class="btn btn-danger" id="btn_disable">
							<i class="fa fa-stop"></i> 停用
						</button>
						<button sec:authorize="hasAuthority('箱码管理-解绑')" class="btn btn-warning" id="btn_empty">
							<i class="fa fa-trash"></i> 解绑
						</button>
					</div>
				</div>	
				<div class="search-content">					
					<div class="search-cell width-20">
						<label for="code">供应商编码/名称：</label> <input type="text" name="vendor" id="vendor" class="form-control">
					</div>
					<div class="search-cell width-20">
						<label for="code">发货单号：</label> <input type="text" name="delivery_code" id="delivery_code" class="form-control">
					</div>
					<div class="search-cell width-20">
						<label for="code">箱码：</label> <input type="text" name="code" id="code" class="form-control">
					</div>
					<div class="search-cell width-10 form-group">
						<label for="state">箱码状态：</label> <select name="state" id="state" class="form-control">
						</select>
					</div>
					<div class="search-cell width-10 form-group">
						<label for="used">装箱状态：</label> <select name="used" id="used" class="form-control">
						</select>
					</div>
					<div style="vertical-align: bottom" class="search-cell form-group">
						<button class="btn btn-default" id="btn_search">
							<i class="fa fa-search"></i> 查询
						</button>							
					</div>
				</div>
									
				
				<div class="row">
					<div class="col-lg-12">
						<table id="box_table" class="table table-striped table-bordered nowrap table-striped table-hover" style="width: 100%">
						</table>
					</div>
				</div>
				<form id="state_form" th:action="@{/box/update_state}" method="post"></form>
			</div>
		</div>
		<div class="modal fade" id="box_dialog" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" i="edit_dialog_title">生成箱码</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="box_form" th:action="@{/box/update}" method="post">
							<input type="hidden" id="class_id" name="class_id">
							<div class="row">
								<div class="col-lg-8 col-md-8">
									<label for="serial_number">当前流水号: </label> <input type="text" id="serial_number" readonly name="serial_number" class="form-control" />
								</div>
								<div class="col-lg-4 col-md-4">
									<label for="count">生成箱码数量: </label> <input type="number" id="count" name="count" class="form-control" />
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="save_box">保存</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script th:inline="javascript">
	var box_class_table, box_table;
  var box_url = /*[[@{|/box/list/|}]]*/'';
  var max_serial_url = /*[[@{|/box/max_serial/|}]]*/'';
	var current_class_id = null;
	
  function generateBoxCode() {
  	$('#serial_number').val('');
  	$('#count').val('');
  	$("#class_id").val(current_class_id);
		
  	$.ajax({
      url : max_serial_url + current_class_id,
      success : function(data, res) {
      	$('#serial_number').val(data);
      }
    });
  	
    $('#box_dialog').modal('show');          
  }
  
  jQuery(document).ready(function() {

  	$('#state').select2({data: App.getAccountStateDataWithAll(), minimumResultsForSearch: -1});
  	$('#used').select2({data: App.getUsedStateDataWithAll(), minimumResultsForSearch: -1});
  	
	  $('#btn_generate').click(function() {
	  	generateBoxCode();
	  });
	  
	  function update_state(key, title) {
	  	
	  	
	  	var selected_data = box_table.rows('.selected').data().toArray();
	  	if (selected_data.length == 0) {
	  		App.showErrorDialog("操作失败", "请选择至少一行");
	  		return;
	  	}
	  	if (key == 'disable') {
	  		for(var i=0; i<selected_data.length; i++) {
	  			if (selected_data[i].delivery_code) {
	  				App.showErrorDialog("操作失败", "有绑定信息的箱码，禁止停用");
	  	  		return;
	  			}
		  	}	
	  	}
	  	
			App.showConfirmDialog('确定要' + title + '吗?', function() {
				var box_ids = selected_data.map(row => row.id);
		  	$("#state_form").ajaxSubmit({
		  		data : {
		      	key: key,
		      	ids: box_ids.join(),		      	
		      },
	        beforeSend: function(){
	          App.blockUI();
	        },
	        complete: function(){
	          App.unblockUI();
	        },
	        success: function(res, status, xhr, form) {
	          if (res.success == 1) {
	            $('#box_dialog').modal('hide'); 
	            box_table.draw();
	            App.showSuccessDialog("操作成功");
	          }else{
	            App.showErrorDialog(res.errmsg);
	          }              
	        },
	        error: function (res, status, xhr, form) {
	          App.showErrorDialog("操作失败", "请稍候重试");
	        }
	      });	 
		  });
	  	 
	  }
	  
	  $('#btn_search').click(function() {
		  box_table.draw();
	  });
	  
	  $('#btn_enable').click(function() {	  	 	
	  	update_state("enable", "启用");
	  });
	  
	  $('#btn_disable').click(function() {
	  	update_state("disable", "停用");
	  });

	  $('#btn_empty').click(function() {
	  	update_state("empty", "解绑");
	  });

	  $("#box_form").validate({
	    rules : {
	    	serial_number : {
	        required : true,
	        rangelength: [6, 6],
	        digits: true,
	      },
	      count : {
		      required : true,
		      digits: true
	      },	      
	    },
	    //display error alert on form submit  
	    invalidHandler : function(event, validator) {
		    App.showErrorDialog("操作失败", "请输入正确的值");
	    },
	    
	    submitHandler : function(form) {
	    	$("#box_form").ajaxSubmit({
		      beforeSend: function(){
	          App.blockUI();
	        },
	        complete: function(){
	          App.unblockUI();
	        },
	        success: function(res, status, xhr, form) {
	          if (res.success == 1) {
	            $('#box_dialog').modal('hide'); 
	            box_table.draw();
	            App.showSuccessDialog("操作成功");
	          }else{
	            App.showErrorDialog(res.errmsg);
	          }              
	        },
	        error: function (res, status, xhr, form) {
	          App.showErrorDialog("操作失败", "请输入正确的值");
	        }
	      });    
	    }
	  });
	  
	  $('#save_box').click(function() {
	  	$("#box_form").submit();
	  });
	  
	  box_class_table = $('#box_class_table').DataTable({
	    ordering : false,
	    serverSide : false,
	    processing : false,
	    lengthChange : false,
	    paging : false,
	    info : false,
	    ajax : {
	      url : /*[[@{|/box/class/list|}]]*/'',
	      dataSrc : function(json) {
	      	var float_class = {code: '', id:0, name:'浮动箱码'};
	      	return [float_class, ...json];
	      },
	    },
	    order : [ [ 0, 'asc' ] ],
	    columns : [ {
	      data : 'name',
	      title : '全部分类',
	      render: function(data, type, record) {
	      	return record.code + " " + record.name
	      }
	    } ],
	    drawCallback : function(settings) {
		    $('#box_class_table tbody tr:first').click();
	    }
	  });

	  $('#box_class_table tbody').on('click', 'tr', function() {
		  $('.clicked').removeClass("clicked");
		  $(this).addClass("clicked");
		  var clicked_row_data = box_class_table.row(this).data();
		  current_class_id = clicked_row_data.id;
		  if (!current_class_id) {
		  	$('#btn_generate').attr("disabled", true);
		  	$('#btn_enable').attr("disabled", true);
		  	$('#btn_disable').attr("disabled", true);
		  	$('#btn_empty').attr("disabled", true);
		  } else {
		  	$('#btn_generate').attr("disabled", false);
		  	$('#btn_enable').attr("disabled", false);
		  	$('#btn_disable').attr("disabled", false);
		  	$('#btn_empty').attr("disabled", false);
		  }
		  reloadBoxTable(clicked_row_data.id);
	  });

	  function reloadBoxTable(class_id) {

		  if (box_table) {
			  box_table.clear().destroy();
		  }

		  box_table = $('#box_table').DataTable({
		    ordering : true,
		    scrollY : '355px',
		    select : {
		      style : 'multi',
		      selector : 'td:first-child'
		    },
		    ajax : {
		      url : box_url + class_id,
		      data : function(data) {
		        var filter = {
		          rows_per_page : data.length,
		          page_index : data.start / data.length + 1,
		          order: data.columns[data.order[0].column].data,
		          dir:data.order[0].dir,
		          code: $('#code').val(),
		          state:$('#state').val(),
		          used:$('#used').val(),
		          delivery_code:$('#delivery_code').val(),
		          vendor:$('#vendor').val()
			      }
		        return filter;
		      },
		      dataSrc : function(json) {
			      json.recordsTotal = json.totalElements;
			      json.recordsFiltered = json.totalElements;
			      return json.content;
		      },
		    },
		    fixedColumns: {
	        leftColumns: 2,
	    	},
		    order : [ [ 1, 'asc' ] ],
		    columns : [ {
		      data : null,
		      defaultContent : '',
		      title : '选择',
		      orderable : false,
		      className : 'select-checkbox',
		    }, {
		      data : 'code',
		      title : '箱码',
		    }, {
		      data : 'bind_date',
		      title : '绑定日期',
		      render: $.fn.date_renderer
		    }, {
		      data : 'bind_property',
		      title : '绑定属性',
		    }, {
		      data : 'vendor_code',
		      title : '绑定单位编码',
		    }, {
		    	data : 'vendor_name',
		      title : '绑定单位名称',
		    }, {
		      data : 'delivery_code',
		      title : '单据编号',
		    }, {
		      data : 'type',
		      title : '单据类型',
		      render: App.getBoxTypeOfId,
		    }, {
		      data : 'inventory_code',
		      title : '货品编号',
		    }, {
		      data : 'inventory_name',
		      title : '货品名称',
		    }, {
		      data : 'inventory_specs',
		      title : '规格型号',
		    }, {
		      data : 'quantity',
		      title : '绑定数量',
		    }, {
		      data : 'delivery_number',
		      title : '批次',
		    }, {
		    	orderable: false,
		      data : 'box_class_name',
		      title : '分类',
		    }, {
		      data : 'state',
		      title : '启用/停用',
		      render: App.getAccountStateOfId,
		    }, {
		      data : 'used',
		      title : '装箱状态',
		      render: App.getUsedStateOfId,
		    }],
		  });
	  }
	  
	  $('#state, #used').change(function() {
	  	box_table.draw();
	  });
	  
	  $('#code, #delivery_code, #vendor').keyup(function(e){
	      if(e.keyCode == 13)
	      	box_table.draw();
	  });
  });
</script>
