<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" >
<head>
</head>
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li><a href="#">基础资料</a></li>
        <li><a th:href="@{/buyer/price}">商品价格查询</a></li>
        <li class="active">详细信息</li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">

              <div class="col-lg-3 col-md-3">
                <label>供应商编码: </label>
                <input type="text" class="form-control" readonly  th:value="${data.fsupplyno.code}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>供应商名称: </label>
                <input type="text" class="form-control" readonly  th:value="${data.fsupplyno.name}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>存货编码: </label>
                <input type="text" class="form-control" readonly  th:value="${data.cInvCode.code}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>存货名称: </label>
                <input type="text" class="form-control" readonly  th:value="${data.cInvCode.name}"/>
              </div>          
              <div class="col-lg-3 col-md-3">
                <label>辅助单位: </label>
                <input type="text" class="form-control" readonly th:value="${data.fauxunit}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>描述: </label>
                <input type="text" class="form-control" readonly th:value="${data.description}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>未税单价: </label>
                <input type="text" class="form-control" readonly th:value="${data.fprice}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>税率: </label>
                <input type="text" class="form-control" readonly th:value="${data.ftax}"/>
              </div>

              <div class="col-lg-3 col-md-3">
                <label>含税单价: </label>
                <input type="text" class="form-control" readonly th:value="${data.ftaxprice}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>订货增量: </label>
                <input type="text" class="form-control" readonly th:value="${data.faddqty}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>原调价时间: </label>
                <input type="text" class="form-control" readonly th:value="${data.foldcheckdate}"/>
              </div>

              <div class="col-lg-3 col-md-3">
                <label>单据日期: </label>
                <input type="text" class="form-control" readonly th:value="${data.cInvDate}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>调价时间: </label>
                <input type="text" class="form-control" readonly th:value="${data.fcheckdate}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>有效日期: </label>
                <input type="text" class="form-control" readonly th:value="${data.foldavdate}"/>
              </div>

              <div class="col-lg-3 col-md-3">
                <label>报价有效期: </label>
                <input type="text" class="form-control" readonly th:value="${data.favdate}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>失效人: </label>
                <input type="text" class="form-control" readonly th:value="${data.fcancelno}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>失效日期: </label>
                <input type="text" class="form-control" readonly th:value="${data.fcanceldate}"/>
              </div>

              <div class="col-lg-3 col-md-3">
                <label>是否失效: </label>
                <input type="text" class="form-control" readonly th:value="${data.fisoutside}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>单位: </label>
                <input type="text" class="form-control" readonly th:value="${data.funitid}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>制单人: </label>
                <input type="text" class="form-control" readonly th:value="${data.createby}"/>
              </div>

              <div class="col-lg-3 col-md-3">
                <label>制单日期: </label>
                <input type="text" class="form-control" readonly th:value="${data.createdate}"/>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>备注: </label>
                <input type="text" class="form-control" readonly th:value="${data.fnote}"/>
              </div>
              
              
          </div>
        </div>
        <div class="panel-footer">
          <div class="text-right">
            <a class="btn btn-default" th:href="@{/buyer/price}"><i class="fa fa-arrow-left"></i> 返回</a>
          </div>
        </div>
  </div>  
</body>
</html>


