<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li><a href="#">商品管理</a></li>
        <li class="active">商品价格查询</li>
      </ul>
      <div class="search-content">
          <div class="search-cell width-10">
            <label for="product_code">商品编码/名称:</label>
            <input type="text" id="inventory" class="form-control">
          </div>
          <div class="search-cell width-10">
            <label for="supplier_code">供应商编码/名称：</label>
            <input type="text" id="vendor" class="form-control">
          </div>
          <div class="search-cell width-10">
            <label for="date_range">有效日期: </label>
            <input type="text" name="daterange" value="" class="form-control" />
          </div>
          <div style="vertical-align: bottom" class="search-cell width-15 text-right">
            <button class="btn btn-default" id="btn_search"><i class="fa fa-search"></i> 查询</button>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
            </table>
        </div>
      </div>
  </div>  
</body>
</html>


<script th:inline="javascript">

	$(document).ready(function() {
		
    $('input[name="daterange"]').daterangepicker({
        opens: 'right',
        locale: {
          format: 'YYYY/MM/DD'
        }
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    var table = $('#example').DataTable({
  		ajax : {
  			url : /*[[@{/api/inventory/batch_get}]]*/'',
  			data : function(data) {
  				var filter = {
  					rows_per_page : data.length,
  					page_index : data.start / data.length + 1
  				}
  				return filter;
  			},
  			dataSrc : function(json) {
  				if (json.errcode != 0) {
  					alert(json.errmsg);
  					json.recordsTotal = 0
  					json.recordsFiltered = 0;
  					json.inventory = [];
  				} else {
  					json.recordsTotal = json.row_count;
  					json.recordsFiltered = json.row_count;
  				}
  				return json.inventory;
  			},
  		},
  
  		columns : [ {
  			data : 'code',
  			title : '存货编码',
  			defaultContent : ''
  		}, {
  			data : 'name',
  			title : '存货名称',
  			defaultContent : ''
  		}, {
  			data : 'invaddcode',
  			title : '存货代码',
  			defaultContent : ''
  		}, {
  			data : 'specs',
  			title : '规格型号',
  			defaultContent : ''
  		}, {
  			data : 'sort_code',
  			title : '所属分类码',
  			defaultContent : ''
  		}, {
  			data : 'main_measure',
  			title : '主计量单位',
  			defaultContent : ''
  		}, {
  			data : 'ref_sale_price',
  			title : '参考售价',
  			defaultContent : ''
  		}, {
  			data : 'tax_rate',
  			title : '销项税率',
  			defaultContent : ''
  		}, {
  			data : 'iimptaxrate',
  			title : '进项税率',
  			defaultContent : ''
  		}, {
  			data : 'iSupplyType',
  			title : '供应类型',
  			defaultContent : ''
  		}, {
  			data : 'puunit_name',
  			title : '采购默认单位名称',
  			defaultContent : ''
  		}, {
  			data : 'saunit_name',
  			title : '销售默认单位名称',
  			defaultContent : ''
  		}, {
  			data : 'stunit_name',
  			title : '库存默认单位名称',
  			defaultContent : ''
  		}, {
  			data : 'bottom_sale_price',
  			title : '最低售价',
  			defaultContent : ''
  		}, {
  			data : 'defwarehousename',
  			title : '默认仓库名称',
  			defaultContent : ''
  		}, {
  			data : 'start_date',
  			title : '启用日期',
  			render: $.fn.date_renderer,
  			defaultContent : ''
  		}, {
  			data : 'end_date',
  			title : '停用日期',
  			render: $.fn.date_renderer,
  			defaultContent : ''
  		}, {
  			data : 'ModifyDate',
  			title : '变更日期',
  			render: $.fn.date_renderer,
  			defaultContent : ''				
  		} ],
  	});
  	
  $("#btn_search").click(function() {
  	table.draw();
  });

		
	});
</script>