<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li><a href="#">商品管理</a></li>
        <li class="active">商品价格查询</li>
      </ul>
      <div class="search-content">
          <div class="search-cell width-10">
            <label for="product_code">商品编码/名称:</label>
            <input type="text" id="inventory" class="form-control">
          </div>
          <div class="search-cell width-10">
            <label for="supplier_code">供应商编码/名称：</label>
            <input type="text" id="vendor" class="form-control">
          </div>
          <div class="search-cell width-10">
            <label for="date_range">有效日期: </label>
            <input type="text" id="daterange" value="" class="form-control" />
          </div>
          <div style="vertical-align: bottom" class="search-cell width-15 text-right">
            <button class="btn btn-default" id="btn_search"><i class="fa fa-search"></i> 查询</button>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
            </table>
        </div>
      </div>
  </div>  
</body>
</html>


<script th:inline="javascript">

$(document).ready(function() {	
    var table;
    
    $('#daterange').daterangepicker({
      opens: 'right',
      locale: {
        format: 'YYYY-MM-DD'
      },
      startDate: moment().subtract('days', 10),
      endDate: moment().add('days', 10)
    }, function(start, end, label) {
      table.draw();
    });
    
    table = $('#example').DataTable({
    	ordering: true,
  		ajax : {
  			url : /*[[@{/api/price/batch_get}]]*/'',
  			data : function(data) {
  				var filter = {
  						rows_per_page : data.length,
                        page_index : data.start / data.length + 1,
                        order: data.columns[data.order[0].column].data,
                        dir:data.order[0].dir,
                        vendor: $('#vendor').val(),
                        inventory: $('#inventory').val(),
                        start: $('#daterange').data('daterangepicker').startDate.format('YYYY-MM-DD'),
                        end:$('#daterange').data('daterangepicker').endDate.format('YYYY-MM-DD')
  				}
  				return filter;
  			},
  			dataSrc : function(json) {
  				json.recordsTotal = json.totalElements;
                json.recordsFiltered = json.totalElements;
                return json.content;
  			},
  		},
  
  		columns : [ {
            data : 'fsupplyno',
            render: function (data, display, record) {
            	return data.name;
            },
            title : '供应商名称',
            defaultContent : ''
        }, {
            data : 'cinvcode',
            render: function (data, display, record) {
            	var edit_url = /*[[@{/buyer/price/}]]*/'';
                edit_url +=  record.id + '/edit';
                return '<a href="' + edit_url + '">' + data.name  + '</a>';
            },
            title : '存货名称',
            defaultContent : ''
        }, {
  			data : 'description',
  			title : '描述',
  			defaultContent : ''
  		}, {
  			data : 'fauxunit',
  			title : '辅助单位',
  			defaultContent : ''				
        }, {
            data : 'fprice',
            title : '未税单价',
            defaultContent : ''             
        }, {
            data : 'ftax',
            title : '税率',
            defaultContent : ''             
        }, {
            data : 'ftaxprice',
            title : '含税单价',
            defaultContent : ''             
        }, {
            data : 'faddqty',
            title : '订货增量',
            defaultContent : ''             
        }, {
            data : 'foldcheckdate',
            title : '原调价时间',
            defaultContent : ''             
        }, {
            data : 'cinvdate',
            title : '单据日期',
            defaultContent : ''             
        }, {
            data : 'fcheckdate',
            title : '调价时间',
            defaultContent : ''             
        }, {
            data : 'foldavdate',
            title : '有效日期',
            defaultContent : ''             
        }, {
            data : 'favdate',
            title : '报价有效期',
            defaultContent : ''             
        }, {
            data : 'fcancelno',
            title : '失效人',
            defaultContent : ''             
        }, {
            data : 'fcanceldate',
            title : '失效日期',
            defaultContent : ''             
        }, {
            data : 'fisoutside',
            title : '是否失效',
            defaultContent : ''             
        }, {
            data : 'funitid',
            title : '单位',
            defaultContent : ''             
        }, {
            data : 'createby',
            title : '制单人',
            defaultContent : ''             
        }, {
            data : 'createdate',
            title : '制单日期',
            defaultContent : ''             
        }, {
            data : 'fnote',
            title : '备注',
            defaultContent : ''             
  		} ],
  	});
  	
    $("#btn_search").click(function() {
    	table.draw();
    });
  
    $('#vendor, #inventory').keyup(function(e){
        if(e.keyCode == 13)
            table.draw();
    });		
    

});
</script>