<html layout:decorate="~{layout/info}">
<div class="content-page introduction" layout:fragment="info-content">
	<h2>关于我们</h2>
	<p>
		浙江美大实业股份有限公司――创建于2001年，公司于2012年5月 25日在中国深交所上市（A股）（股票代码： 002677）。 美大以科技和市场为导向，发明集成灶产品，以一个产品的发明，带动了一个产业。
	</p>
	<p>
		浙江美大是高新技术企业，产品被列入国家火炬计划项目；是《住宅厨房、卫生间排气道》行业标准、《家用燃气灶具能效限定值及能效等级》国家标准、 《集成灶》行业标准主要起草单位，是一家集研发、生产、经营、销售于一体的现代化新型高科技公司，是具有强大研发实力和规模化生产能力的集成灶专业制造商。美大掌握核心科技，迄今，美大共获专利知识产权100多项，其中，国家发明专利26项、国际PCT专利9项。
	</p>
	<p>
		美大集成灶应用下排油烟专利技术和集成设计，集成吸油烟机、灶具、消毒柜、储藏柜、电烤箱、电蒸箱等功能于一机，将油烟“往上走”改为“向下排”，实现吸排距离最小化，下吸力、更给力，从源头搞定油烟，让油烟远离面部口鼻，避免侵害人体；还大为降低燃烧废气的排放，有效解决厨房空气污染，带来居室健康。
	</p>
	<p>	
		美大首倡健康整体厨房理念，相继开发美大鼎厨橱柜、美大集成水槽、美大净水机和嵌入式厨电产品，与美大集成灶完美结合，让健康环保科技贯穿在厨房的每个角落，全面打造美大开放式健康整体厨房。
		美大以集成灶产品改变了传统厨电行业同质化发展的格局，也必将以美大健康整体厨房激活传统厨房行业， 实现厨房行业的新跨越。美大将继续致力于健康环保技术研发，带给千万家庭健康整体厨房！有美大、家更美！
	</p>
</div>
</html>