<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li>价格管理</li>
        <li><a th:href="@{/buyer/quote}" class="active">报价管理</a></li>
        <li class="active">报价单</li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="row">
              <div class="col-lg-3 col-md-3">
                <label for="single_number">单号: </label>
                <input type="text" name="single_number" id="single_number" value="" class="form-control" readonly />
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="document_date">单据日期: </label>
                <input type="text" id="document_date" class="form-control datepicker">
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="supplier_name">制单人:</label>
                <select name="supplier" id="supplier" class="form-control">
                  <option value=""></option>
                  <option value="AAA">AAA</option>
                  <option value="BBB">BBB</option>
                  <option value="CCC">CCC</option>
                  <option value="DDD">DDD</option>
                </select>
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="confirm">确认:</label>
                <select name="confirm" id="confirm" class="form-control">
                  <option value=""></option>
                  <option value="AAA">AAA</option>
                  <option value="BBB">BBB</option>
                  <option value="CCC">CCC</option>
                  <option value="DDD">DDD</option>
                </select>                      
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="supplier">供应商:</label>
                <select name="supplier" id="supplier" class="form-control">
                  <option value=""></option>
                  <option value="嘉兴市华年电机有限公司">嘉兴市华年电机有限公司</option>
                  <option value="嘉兴市华年电机有限公司1">嘉兴市华年电机有限公司1</option>
                  <option value="嘉兴市华年电机有限公司2">嘉兴市华年电机有限公司2</option>
                  <option value="嘉兴市华年电机有限公司3">嘉兴市华年电机有限公司3</option>
                </select>
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="effective_date">生效日期:</label>
                <input type="text" id="effective_date" class="form-control datepicker">
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="reviewer">审核人:</label>
                <select name="reviewer" id="reviewer" class="form-control">
                  <option value=""></option>
                  <option value="AAA">AAA</option>
                  <option value="BBB">BBB</option>
                  <option value="CCC">CCC</option>
                  <option value="DDD">DDD</option>
                </select>
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="status">状态:</label>
                <select name="status" id="status" class="form-control">
                  <option value=""></option>
                  <option value="新建">新建</option>
                  <option value="审核">审核</option>
                  <option value="拒绝">拒绝</option>
                  <option value="发布">发布</option>
                </select>
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="tax_rate">税率:</label>
                <input type="number" id="tax_rate" name="tax_rate" class="form-control">
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="effective_date1">有效日期:</label>
                <input type="text" id="effective_date1" class="form-control datepicker">
              </div>
              <div class="col-lg-3 col-md-3">
                <label for="reviewer">复核人:</label>                      
                <select name="reviewer" id="reviewer" class="form-control">
                  <option value=""></option>
                  <option value="AAA">AAA</option>
                  <option value="BBB">BBB</option>
                  <option value="CCC">CCC</option>
                  <option value="DDD">DDD</option>
                </select>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <table id="example" class="ui celled table nowrap" style="width:100%">
                </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="text-right" style="margin-top: 10px; margin-bottom: 5px;">
            <a class="btn btn-primary"><i class="fa fa-pencil"></i> 确认  </a>
            <a class="btn btn-primary"><i class="fa fa-ban"></i> 拒绝</a>
            <a class="btn btn-primary"><i class="fa fa-check-square"></i> 审核</a>
            <a class="btn btn-primary"><i class="fa fa-undo"></i> 退回</a>
            <a class="btn btn-primary"><i class="fa fa-cloud-upload"></i> 归档</a>
            <a class="btn btn-default" th:href="@{/buyer/quote}"><i class="fa fa-arrow-left"></i> 返回</a>
          </div>
        </div>
  </div>  
</body>
</html>


<script th:inline="javascript">

	$(document).ready(function() {
		var table = $('#example').DataTable({
			ajax : {
				url : /*[[@{/api/venpriceadjust/batch_get}]]*/'',
				data : function(data) {
					var filter = {
						rows_per_page : data.length,
						page_index : data.start / data.length + 1
					}
					return filter;
				},
				dataSrc : function(json) {
					if (json.errcode != 0) {
						alert(json.errmsg);
						json.recordsTotal = 0
						json.recordsFiltered = 0;
						json.venpriceadjustlist = [];
					} else {
						json.recordsTotal = json.row_count;
						json.recordsFiltered = json.row_count;
					}
					return json.venpriceadjustlist;
				},
			},

			columns : [ {
		        data : 'ccode',
		        title : '商品编码',
		        defaultContent : ''
		      }, {
		        data : null,
		        title : '商品名称',
		        defaultContent : '商品名称'
		      }, {
		        data : null,
		        title : '规格型号',
		        defaultContent : '规格型号'
		      }, {
		        data : null,
		        title : '单位',
		        defaultContent : '个'
		      }, {
		        data : null,
		        title : '原价格',
		        defaultContent : '100'
		      }, {
		        data : null,
		        title : '最新未税报价',
		        defaultContent : '110'
		      }, {
		        data : null,
		        title : '最新含税报价',
		        defaultContent : '120'
		      }, {
		          data : null,
		          title : '税率',
		          defaultContent : '17'
		      }, {
		        data : 'dverifydate',
		        title : '生效日期',
		        render: $.fn.date_renderer,
		        defaultContent : ''
		      }, {
		          data : 'dverifydate',
		          title : '有效日期',
		          render: $.fn.date_renderer,
		          defaultContent : ''
		      }, {
		          data : null,
		          title : '备注',
		          defaultContent : '备注'
		          
		      } ],
		});

		$("#btn_search").click(function() {
			table.draw();
		});
    
    $('#product_name').keyup(function(e){
        if(e.keyCode == 13)
        	table.draw();
    });
	});
</script>