<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
  <div class="container"  layout:fragment="content">  
      <ul class="breadcrumb">
        <li>
          <a th:href="@{/}"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li><a href="#">价格管理</a></li>
        <li class="active">报价管理</li>
      </ul>
      <div class="search-content">
        <div class="search-cell width-10">
          <label for="start_date">生效时间: </label>
          <input type="text" id="start_date" value="" class="form-control" />
        </div>
        <div class="search-cell width-10">
          <label for="end_date">有效时间: </label>
          <input type="text" id="end_date" value="" class="form-control" />
        </div>
        <div class="search-cell width-10">
          <label for="supplier_code">供应商编码/名称：</label>
          <input type="text" id="vendor" class="form-control">
        </div>
        <div class="search-cell width-10">
          <label for="product_code">商品编码/名称:</label>
          <input type="text" id="inventory" class="form-control">
        </div>
        <div class="search-cell width-10">
          <label for="date_range">状态:</label>
          <select name="status" id="state" class="form-control">
          </select>
        </div>
        <div style="vertical-align: bottom" class="search-cell width-15">
          <button class="btn btn-default" id="btn_search"><i class="fa fa-search"></i> 查询</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table id="example" class="table table-striped table-bordered nowrap table-striped table-hover" style="width:100%">
                <tbody><tr><td>　</td></tr></tbody>
            </table>
        </div>
      </div>
  </div>  
</body>
</html>


<script th:inline="javascript">
    
    
  $(document).ready(function() {
    $("#state").select2({
      data : App.getQuoteStateDataWithAll(),
      minimumResultsForSearch : -1
    });

    $('#start_date').datepicker();
    $('#end_date').datepicker();

    var table = $('#example').DataTable({
      ordering : true,
      ajax : {
        url : /*[[@{/buyer/quote/list}]]*/'',
        data : function(data) {
          var filter = {
            order : data.columns[data.order[0].column].data,
            dir : data.order[0].dir,
            rows_per_page : data.length,
            page_index : data.start / data.length + 1,
            state: $('#state').val(),
            inventory : $('#inventory').val(),
            vendor : $('#vendor').val(),
            start_date : $('#start_date').val(),
            end_date : $('#end_date').val()
          }
          return filter;
        },
        dataSrc : function(json) {
          json.recordsTotal = json.totalElements;
          json.recordsFiltered = json.totalElements;
          return json.content;
        },
      },

      columns : [ {
        data : 'ccode',
        title : '单据号',
        render : function(data, display, record) {
          var edit_url = /*[[@{/buyer/quote/}]]*/'';
          edit_url += data + '/edit';
          return '<a href="' + edit_url + '">' + data + '</a>';
        },
      }, {
        data : 'vendorname',
        title : '供应商名称',
      }, {
        data : 'vendorcode',
        title : '供应商编码',
      }, {
        data : 'dstartdate',
        title : '生效日期',
        render : $.fn.date_renderer
      }, {
        data : 'denddate',
        title : '有效日期',
        render : $.fn.date_renderer
      }, {
        data : 'iverifystate',
        title : '状态',
        createdCell: App.getInqueryStateClass,
        render : App.getInqueryStateOfId
      }, {
        data : 'makername',
        title : '制单人',
      }, {
        data : 'dmakedate',
        title : '制单日期',
        render : $.fn.date_renderer
      }, {
        /*            
         data : 'itaxrate',
         title : '税率',
         }, {
         data : 'isupplytype',
         title : '供应类型',
         }, {
         data : 'type',
         title : '报价形式',
         }, {
         */
        data : 'verifiername',
        title : '审核人',
      }, {
        data : 'dverifydate',
        title : '审核日期',
        render : $.fn.date_renderer

      } ],
      order: [  [ 7, "desc" ] ]
    });

    $("#btn_search").click(function() {
      table.draw();
    });
    
    $('#state').change(function() {
      table.draw();
    });
    
    $('#vendor, #inventory, #start_date, #end_date').keyup(function(e) {
      if (e.keyCode == 13)
        table.draw();
    });
  });
</script>